{
  "openapi": "3.0.1",
  "info": {
    "title": "Документация Ozon rocket API",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://ir.ozone.ru/s3/helppartners/ozon-rocket-main.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "В документе описаны методы Ozon rocket API.\n\nПо вопросам работы с Ozon rocket API, обращайтесь в поддержку через личный кабинет.\n\n> [English Version Ozon rocket API](https://docs.ozon.ru/api/rocket/en/)\n"
  },
  "servers": [
    {
      "url": "https://api-stg.ozonru.me/principal-integration-api"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Intro",
        "Token",
        "Process",
        "Scripts",
        "List",
        "News"
      ]
    },
    {
      "name": "Методы Ozon rocket API",
      "tags": [
        "Delivery",
        "Order",
        "DropOff",
        "Ticket",
        "Tracking",
        "Document",
        "Report",
        "MismatchAct"
      ]
    },
    {
      "name": "Приложения",
      "tags": [
        "Order Statuses",
        "eventId Statuses"
      ]
    }
  ],
  "tags": [
    {
      "name": "Delivery",
      "x-displayName": "Доставка"
    },
    {
      "name": "Order",
      "x-displayName": "Заказы"
    },
    {
      "name": "DropOff",
      "x-displayName": "Отгрузка"
    },
    {
      "name": "Ticket",
      "x-displayName": "Этикетки"
    },
    {
      "name": "Tracking",
      "x-displayName": "Трекинг"
    },
    {
      "name": "Document",
      "x-displayName": "Накладные"
    },
    {
      "name": "Report",
      "x-displayName": "Отчёты"
    },
    {
      "name": "MismatchAct",
      "x-displayName": "Акты расхождения"
    },
    {
      "name": "Intro",
      "x-displayName": "Введение",
      "description": "Основные категории методов:\n- информация о способах доставки, \n- информация о тарифах доставки,\n- информация об отправлении,\n- работа с документами,\n- трекинг доставок, \n- загрузка отправлений."
    },
    {
      "name": "Glossary",
      "x-displayName": "Словарь терминов",
      "description": "**Order (ордер)** — сущность, которая несёт в себе основную информацию о заказе.\n\n**Постинг, коробка, грузоместо** — сущность, которая включает в себя параметры транспортируемых габаритов и веса отправления. \nСодержит вложение в виде товаров, приобретаемых покупателем. Может использоваться для обозначения транспортировочной тары.\n\n**ЛК** — личный кабинет принципала.\n\n**Ключи (ПК, пара ключей)** — генерируемые в личном кабинете значения `client_id` и `client_secret` для подключения к службе доставки.\n\n**ПВЗ** — пункт выдачи заказов.\n\n**СД (способ, вариант или тип доставки)** — предоставляемые виды доставки: курьерская (КУР), самовывоз (ПВЗ), постамат (ПСТ).\n\n**СЦ (сортировочный центр)** — склад приёма и сортировки отправлений Ozon.\n\n**ИД (ID)** — идентификатор. Числовой код, уникальный для всех элементов API.\n\n**DropOff (дропофф)** — метод доставки отправлений (Первая миля), при котором принципал самостоятельно доставляет груз на склад Ozon.\n\n**PickUp (пикап)** —  метод доставки отправлений (Первая миля), при котором курьер Ozon забирает груз со склада принципала и доставляет на склад Ozon.\n\n**Склад DropOff** — склад Ozon (СЦ).\n\n**Склад PickUp** — склад принципала.\n\n**Recipient (рецепиент)** — получатель груза.\n\n**TimeSlot (таймслот)** — системно созданный временной отрезок. Интервал времени, в который необходимо доставить отправление.\n\n**CutOff (катофф)** — время, до которого отправление должны принять на сортировочном центре, чтобы сохранить таймсолт."
    },
    {
      "name": "Token",
      "x-displayName": "Как получить API-ключ",
      "description": "1. Получите пару ключей `client_id` + `client_secret` в личном кабинете в разделе [**Настройки → Интеграция API**](https://rocket.ozon.ru/lk/settings/api). Для\n   безопасности не рекомендуем вносить ключи в какую-либо базу данных.\n\n2. Сделайте POST запрос на адрес сервиса получения токена:\n    - Сервис для получения токена:\n\n      ```json\n      xapi.ozon.ru/principal-auth-api/connect/token\n      ```\n\n    - Заголовок:\n\n      ```json\n      content-type: application/x-www-form-urlencoded\n      ```\n\n    - Тело запроса:\n\n      ```json\n      grant_type=client_credentials&client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET\n      ```\n\n      где `YOUR_CLIENT_ID` и `YOUR_CLIENT_SECRET` — это полученная вами пара ключей.\n\n    Вы получите ответ с данными в формате JSON:\n       ```\n      {\n        \"access_token\": \"JWT will be here\",\n        \"expires_in\": 60,\n        \"token_type\": \"Bearer\",\n        \"scope\": \"principal.integration.api.full\"\n      }\n       ```\n\n3. Включайте полученный `access_token` в каждый запрос к API. Кроме `access_token` в запросе к API нужно добавлять\n   заголовок:\n   ```json\n   authorization: Bearer YOUR_ACCESS_TOKEN\n   ```\n\nПолучаемое значение `expires_in` показывает время действия токена в секундах. По истечении этого времени или при\nполучении HTTP ошибки с кодом 401, вам нужно повторить процедуру получения `access_token`. В ином случае API будет\nотвечать с HTTP кодом 401 (unauthorized).\n\n<a href=\"https://auth0.com/docs/flows/call-your-api-using-the-client-credentials-flow\" target=\"_blank\">Описание схемы\nи примеры запросов</a>\n\n**Пример полученных данных из Postman**\n\n<img src=\"https://ir.ozone.ru/s3/helppartners/data-from-postman.png\" style=\"border-radius: 3.0px;width: 600.0px;box-shadow: 0 0 20px 5px rgba(122,122,122,0.2);margin: 5px 5px 5px 5px;\"/>\n\n\n## Рабочая среда \n\n- Токен для рабочей среды: https://xapi.ozon.ru/principal-auth-api/connect/token\n- Рабочая среда: https://xapi.ozon.ru/principal-integration-api\n- Конфигурация OpenID Connect: https://api.ozon.ru/principal-auth-api/.well-known/openid-configuration\n\n## Тестовая среда\n\nЧтобы получить ключи для подключения к тестовой среде, напишите на почту [helpcms@rocket.ozon.ru](mailto:helpcms@rocket.ozon.ru).\n\n- Токен для тестовой среды: https://api-stg.ozonru.me/principal-auth-api/connect/token\n- Тестовая среда: https://api-stg.ozonru.me/principal-integration-api\n\n## Swagger\n\n- Swagger: https://api-stg.ozonru.me/principal-integration-api/swagger"
    },
    {
      "name": "Scripts",
      "x-displayName": "Полезные скрипты",
      "description": "Мы подготовили скрипты на Python 3 для работы с Rocket API:\n- Файл `init.py` содержит все необходимые классы. Основной класс — `OzonRocketAPI`, он позволяет работать с методами API\n  и содержит метод получения токена. Каждый метод класса автоматически получает токен, если не передать его в параметрах.\n  Для подключения к API используется библиотека\n  [Requests](https://requests.readthedocs.io/en/latest/user/install/#install) — установите её перед работой.\n- Папка `examples` содержит примеры кода для работы с API. В каждом примере есть комментарии.\n- Файл `readme.md` содержит описание работы со скриптами и список изменений.\n\n[Скачать архив скриптов](https://ir.ozone.ru/s3/ozon-disk-api/b2bf563b294d6268b989778f94e250450a39cf2110dd7f6a00a4ea37954016551654605321)"
    },
    {
      "name": "Process",
      "x-displayName": "Порядок работы с методами",
      "description": "Чтобы работать с методами, [получите API-токен](#tag/Token).\n\n1. [/v1/delivery/variants](#tag/Delivery/paths/~1v1~1delivery~1variants/get) — получите способ доставки.\n2. [/v1/delivery/variants/byaddress](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress/post) – получите нужный способ доставки по адресу.\n3. [/v1/delivery/from_places](#tag/Delivery/paths/~1v1~1delivery~1from_places/get) – получите склад, с которого поедет отправление.\n4. [/v1/delivery/calculate/information](#tag/Delivery/paths/~1v1~1delivery~1calculate~1information/post) – рассчитайте стоимость доставки.\n5. [/v1/order](#tag/Order/paths/~1v1~1order/post) — загрузите отправления.\n6. [/v1/ticket](#tag/Ticket/paths/~1v1~1ticket/get) — получите этикетку для коробки по идентификатору отправлений `orderId` из ответа [/v1/order](#tag/Order/paths/~1v1~1order/post).\n7. [/v1/tracking/byordernumber](#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get) – отследите отправления по `orderNumber` – номеру, переданному при загрузке заказа [/v1/order](#tag/Order/paths/~1v1~1order/post).\n8. [/v1/shipmentRequest](#tag/DropOff/paths/~1v1~1shipmentRequest/post) – сформируйте накладные на отправления и получите их идентификаторы.\n9. [/v1/shipmentRequest/documents](#tag/DropOff/paths/~1v1~1shipmentRequest~1documents/get) – получите печатную форму накладных, распечатайте и подпишите документы. После этого передайте отправления и документы курьеру.\n\nМожно работать по системе PickUp со склада принципала.\n"
    },
    {
      "name": "List",
      "x-displayName": "Список методов",
      "description": "## Доставка\n\n| Метод                                                                                                        | Описание                                     |\n|--------------------------------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/delivery/cities/extended](#tag/Delivery/paths/~1v1~1delivery~1cities~1extended/get)                     | Получение списка городов с доступными способами доставки. |\n| [/v1/delivery/variants](#tag/Delivery/paths/~1v1~1delivery~1variants/get)                                    | Список способов доставки.                    |\n| [/v1/delivery/variants/byaddress](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress/post)              | Cпособы доставки по адресу.                  |\n| [/v1/delivery/variants/byaddress/short](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress~1short/post) | Идентификаторы способов доставки по адресу.  |\n| [/v1/delivery/variants/byids](#tag/Delivery/paths/~1v1~1delivery~1variants~1byids/post)                      | Cпособы доставки по идентификаторам.         |\n| [/v1/delivery/from_places](#tag/Delivery/paths/~1v1~1delivery~1from_places/get)                              | Список складов передачи отправлений.         |\n| [/v1/delivery/calculate/information](#tag/Delivery/paths/~1v1~1delivery~1calculate~1information/post)        | Расчёт стоимости и срока доставки по адресу. |\n| [/v1/delivery/calculate/materialWeight](#tag/Delivery/paths/~1v1~1delivery~1calculate~1materialWeight/post)  | Расчёт объёмного веса.                       |\n| [/v1/delivery/calculate](#tag/Delivery/paths/~1v1~1delivery~1calculate/get)                                  | Расчёт стоимости доставки.                   |\n| [/v1/delivery/time](#tag/Delivery/paths/~1v1~1delivery~1time/get)                                            | Сроки доставки.                              |\n| [/v1/delivery/variants/byviewport](#tag/Delivery/paths/~1v1~1delivery~1variants~1byviewport/post)            | Cпособы доставки по viewport.                |\n| [/v1/delivery/pickup_places](#tag/Delivery/paths/~1v1~1delivery~1pickup_places/get)                          | Получение списка складов PickUp. |\n| [/v1/delivery/return_places](#tag/Delivery/paths/~1v1~1delivery~1return_places/get)                          | Получение информации о складе возврата.      |\n\n## Заказы\n\n| Метод                                                                           | Описание                                                                                                            |\n|---------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------|\n| [POST /v1/order](#tag/Order/paths/~1v1~1order/post)                                  | Загрузка многокоробочных отправлений. Можно использовать для загрузки одноместных заказов. |\n| [PUT /v1/order](#tag/Order/paths/~1v1~1order/put)                                    | Редактирование состава отправлений.                                                        |\n| [/v1/order/{id}](#tag/Order/paths/~1v1~1order~1{id}/get)                             | Получение заказа по его идентификатору.                                                    |\n| [/v1/order/cancellationReasons](#operation/cancellationReasons)                          | Причины отмены заказов.                                                                            |\n| [/v1/order/status/canceled](#tag/Order/paths/~1v1~1order~1status~1canceled/put)      | Отмена заказов.                                                                            |\n| [/v1/order/{id}/recipient](#tag/Order/paths/~1v1~1order~1{id}~1recipient/put)        | Изменение получателя заказа.                                                               |\n\n## Отгрузка отправлений\n\n| Метод                                                                                   | Описание                                                                        |\n|-----------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [/v1/shipmentRequest](#tag/DropOff/paths/~1v1~1shipmentRequest/post)                    | Создание заявку на отгрузку.                                                                  |\n| [/v1/shipmentRequest/documents](#tag/DropOff/paths/~1v1~1shipmentRequest~1documents/get) | Получение документов по идентификаторам заявок на отгрузку.                                  |\n| [/v1/shipmentRequest/cancellation](#tag/DropOff/paths/~1v1~1shipmentRequest~1cancellation/get) | Отмена заявки на отгрузку.                                                             |\n\n## Этикетки\n\n| Метод                                                       | Описание        |\n|-------------------------------------------------------------|-----------------|\n| [/v1/ticket](#tag/Ticket/paths/~1v1~1ticket/get) | Получение этикетки отправления. |\n\n## Трекинг доставок\n\n| Метод                                                                                   | Описание                          |\n|-----------------------------------------------------------------------------------------|-----------------------------------|\n| [/v1/tracking/byordernumber](#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get)     | Трекинг по номеру заказа.         |\n| [/v1/tracking/bypostingnumber](#tag/Tracking/paths/~1v1~1tracking~1bypostingnumber/get) | Трекинг по номеру отправления.    |\n| [/v1/tracking/bybarcode](#tag/Tracking/paths/~1v1~1tracking~1bybarcode/get)             | Трекинг по штрихкоду отправления. |\n| [/v1/tracking/list](#tag/Tracking/paths/~1v1~1tracking~1list/post)                      | Трекинг группы отправлений.       |\n\n## Работа с документами\n\n| Метод                                                                                     | Описание                           |\n|-------------------------------------------------------------------------------------------|------------------------------------|\n| [/v1/document](#tag/Document/paths/~1v1~1document/get)                                    | Печатная форма документа (Base64). | \n| [/v1/document/return_documents](#tag/Document/paths/~1v1~1document~1return_documents/get) | Список расходных документов.       |\n| [/v1/document/movements/binary](#operation/productsMoneyMovement)                         | Отчёт о движении товаров и денег.  |\n\n## Отчёты\n\n| Метод                                                                                     | Описание                           |\n|-------------------------------------------------------------------------------------------|------------------------------------|\n| [/v1/report/list](#tag/Report/paths/~1v1~1report~1list/get) | Получение списка отчётов. |\n| [/v1/report/binary](#tag/Report/paths/~1v1~1report~1binary/get) | Получение отчёта в бинарном виде. |\n\n## Акты расхождения\n\n| Метод                                                                                     | Описание                           |\n|-------------------------------------------------------------------------------------------|------------------------------------|\n| [/v1/mismatchact](#tag/MismatchAct/paths/~1v1~1mismatchact/get)                           | Cписок актов расхождения. |\n| [/v1/mismatchact/{id}/document](#tag/MismatchAct/paths/~1v1~1mismatchact~1{id}~1document/get) | Акт расхождения по идентификатору документа. |"
    },
    {
      "name": "News",
      "x-displayName": "Обновления",
      "description": "## 6 августа 2026\n\n| Метод                                                            | Изменение                                    |\n| ---------------------------------------------------------------- | -------------------------------------------- |\n| POST /v1/shipmentRequest/pickup <br> POST /v1/order/{orderId}/prolongation | Методы устарели, удалили их из документации. |\n| [POST /v1/order/resolve](#operation/resolveOrders) | Добавили метод для поиска заказов по трекинг-ключам. |\n| [POST /v1/consignments](#operation/createConsignment)<br>[GET /v1/consignments](#operation/getConsignments)<br>[GET /v1/consignments/{number}](#operation/getConsignment)<br>[POST /v1/consignments/{number}/cancel](#operation/cancelConsignment)<br>[POST /v1/consignments/{number}/warehouse/register](#operation/registerConsignmentToWarehouse)<br>[PUT /v1/consignments/{number}/warehouse/vehicle](#operation/updateConsignmentVehicle) | Добавили методы для работы с грузовыми партиями. |\n\n## 9 апреля 2026\n\n| Метод                                                                                           | Изменение                                                                                                                                                                                                     |\n| ----------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [/v1/shipmentRequest/{id}](#operation/getShipmentById)                                          | Добавили метод для получения информации о заявке на отгрузку по её идентификатору.                                                                                                                            |\n| [/v1/shipmentRequest/cancellation](#tag/DropOff/paths/~1v1~1shipmentRequest~1cancellation/post) | Изменили метод запроса с GET на POST.                                                                                                                                                                         |\n| [/v1/tracking/list](#tag/Tracking/paths/~1v1~1tracking~1list/post)                              | Обновили описание параметра `articles` в запросе метода.                                                                                                                                                      |\n| —                                                                                               | В раздел [**Статусы заказа**](#tag/Order-Statuses) добавили описания статусов `DeliveredForResale` и `Disposed`.<br>В раздел [**Статусы EventID**](#tag/eventId-Statuses) добавили описания статусов 51 и 52. |\n\n## 14 июля 2025\n\n| Метод | Изменение                                                                                                                                                                                                                             |\n|-------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | В разделе [**Статусы EventID**](#tag/eventId-Statuses):<ul><li>добавили описания статусов 20014, 20015, 20021, 20022, 20023, 20024, 20025, 20026, 20031, 20070 и 20071;</li><li>обновили описания статусов 20010, 20030 и 20040.</li></ul> |\n\n## 20 февраля 2025\n\n| Метод | Изменение                                                                                                                |\n|-------|-------------------------------------------------------------------------------------------------------------------------------|\n| —     | В раздел [**Статусы EventID**](#tag/eventId-Statuses) добавили описания статусов 20010, 20020, 20030, 20040, 20050 и 20060.   |\n\n## 17 февраля 2023\n\n| Метод                                                                                                | Изменение                                                                                             |\n|------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------|\n| [POST /v1/order](#tag/Order/paths/~1v1~1order/post) | Обновили описания параметров `orderNumber`, `pacages.packageNumber` и `packages.barCode` в запросе метода. |\n| [PUT /v1/order](#tag/Order/paths/~1v1~1order/put) | Обновили описания параметров `pacages.packageNumber` и `packages.barCode` в запросе метода.                |\n\n## 26 сентября 2022\n\n| Метод            | Изменение                              |\n|------------------|---------------------------------------------|\n| /v1/tariff/list  | Метод устарел. Удалили его из документации. |\n\n## 5 июля 2022\n\n| Метод                                                                                                 | Изменение                                        |\n|-------------------------------------------------------------------------------------------------------|-------------------------------------------------------|\n| [/v1/delivery/variants](#tag/Delivery/paths/~1v1~1delivery~1variants/get) <br><br> [/v1/delivery/variants/byaddress](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress/post) <br><br> [/v1/delivery/variants/byids](/#tag/Delivery/paths/~1v1~1delivery~1variants~1byids/post) | Добавили в ответ методов параметр `paylinkAvailable`. |\n\n## 30 июня 2022\n\n| Метод | Изменение |\n|---|---|\n| [/v1/tracking/byordernumber](#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get) | Добавили в ответ метода параметры `actualStatus`, `actualStatusCode`, `actualStatusReason` и `orderStatusHistory`. |\n| [/v1/order](#tag/Order/paths/~1v1~1order/post)                                  | Поправили описание параметра `deliveryType` — указать можно только один тип. |\n| — | Изменили порядок методов в документации. |\n\n## 22 июня 2022\n\n| Метод | Изменение |\n|---|---|\n| [/v1/delivery/calculate/information](#tag/Delivery/paths/~1v1~1delivery~1calculate~1information/post) | Поправили тип значения параметра `destinationAddress` на `nullable: false`. <br><br> Добавили в запрос параметры `isReturnAccompanyingDocument` и `recipientType`. |\n| [/v1/delivery/calculate/materialWeight](#tag/Delivery/paths/~1v1~1delivery~1calculate~1materialWeight/post) | Поправили тип значения параметра `count` на `nullable: false`. <br><br> Добавили в запрос параметр `isReturnAccompanyingDocument`. |\n| [/v1/delivery/variants/byaddress](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress/post) | Поправили тип значения параметров `address` и `count` на `nullable: false`. <br><br> Дополнили описание параметра запроса `filter` — он не работает. <br><br> Добавили в запрос параметры `price`, `estimatedPrice` и `isReturnAccompanyingDocument`. |\n| [/v1/delivery/variants/byaddress/short](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress~1short/post) | Поправили тип значения параметров `deliveryTypes`, `address` и `count` на `nullable: false`. <br><br> Добавили в запрос параметры `price`, `estimatedPrice` и `isReturnAccompanyingDocument`. |\n| [/v1/delivery/variants/byviewport](#tag/Delivery/paths/~1v1~1delivery~1variants~1byviewport/post) | Поправили тип значения параметров `deliveryTypes`, `longitude`, `latitude` и `count` на `nullable: false`. <br><br> Добавили в запрос параметр `isReturnAccompanyingDocument`. |\n| [/v1/delivery/variants/byids](#tag/Delivery/paths/~1v1~1delivery~1variants~1byids/post) | Поправили тип значения параметра `ids` на `nullable: false`.|\n| [/v1/order](#tag/Order/paths/~1v1~1order/post) | Поправили тип значения параметров `orderNumber`, `address`, `contactName`, `contactPhone` и `sellingPrice` на `nullable: false`, `recipient` на `nullable: true`. |\n| [/v1/delivery/cities/extended](#tag/Delivery/paths/~1v1~1delivery~1cities~1extended/get) | Добавили в ответ параметр `isFederalCity`. |\n| [/v1/delivery/calculate](#tag/Delivery/paths/~1v1~1delivery~1calculate/get) | Добавили в запрос параметр `recipientType`. |\n| [/v1/document](#tag/Document/paths/~1v1~1document/get) | Дополнили, что теперь можно получить отчёт в формате XLS. Добавили ссылку на пример отчёта. |\n| [/v1/document/movements/binary](#operation/productsMoneyMovement) | Добавили новый метод для получения отчёта о движении товаров и денег. |\n| [/v1/mismatchact](#tag/MismatchAct/paths/~1v1~1mismatchact/get) <br><br> [/v1/tracking/byordernumber](#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get)  | Дополнили описания матодов. |\n| [/v1/order](#tag/Order/paths/~1v1~1order/post) <br><br> [/v1/order/{id}](#tag/Order/paths/~1v1~1order~1{id}/get) | Добавили в раздел `orderLines` параметр `weight`. |\n| [/v1/report/binary](#tag/Report/paths/~1v1~1report~1binary/get) | Дополнили, что теперь можно получить отчёт в формате JSON. Добавили ссылку на пример отчёта. |\n| [/v1/mismatchact/{id}/document](#tag/MismatchAct/paths/~1v1~1mismatchact~1{id}~1document/get) <br><br> [/v1/shipmentRequest/documents](#tag/DropOff/paths/~1v1~1shipmentRequest~1documents/get) <br><br> [/v1/ticket](#tag/Ticket/paths/~1v1~1ticket/get) | В описание методов добавили ссылки на примеры отчётов. |\n| [/v1/tracking/bypostingnumber](#tag/Tracking/paths/~1v1~1tracking~1bypostingnumber/get) <br><br> [/v1/tracking/bybarcode](#tag/Tracking/paths/~1v1~1tracking~1bybarcode/get) | Добавили в ответы методов параметры `actualStatus` и `actualStatusCode`. |\n| [/v1/tracking/list](#tag/Tracking/paths/~1v1~1tracking~1list/post) | Добавили в ответ параметр `postingId`. |\n| [/v1/tariff/list](#tag/Tariff/paths/~1v1~1tariff~1list/get) | Добавили в запрос параметры `deliveryVariantId` и `fromPlaceId`. |\n\n## 7 июня 2022\n\n| Метод | Изменение |\n|---|---|\n| — | Добавили раздел [Полезные скрипты](#tag/Scripts). |\n\n## 28 апреля 2022\n\n| Метод | Изменение |\n|---|---|\n| [/v1/delivery/variants](#tag/Delivery/paths/~1v1~1delivery~1variants/get) | Удалили из ответа параметры: `contractorName`, `minPrice`, `minWeight`, `dateOpen`, `dateClose`, `addressId`. Добавили параметр `services`. |\n| — | В [таблице статусов EventID](#tag/eventId-Statuses) удалили описание статусов отправлений, добавили статусы заказа. |\n| [/v1/report/list](#tag/Report/paths/~1v1~1report~1list/get) | Поправили описание параметра запроса `reportType`. |\n| [/v1/order/{orderId}/recipient](#tag/Order/paths/~1v1~1order~1%7Bid%7D~1recipient/put) | Дополнили описание параметра запроса `phone`. |\n| /v1/shipmentRequest/cancellation | Удалили метод. |\n| [/v1/order](#tag/Order/paths/~1v1~1order/post) <br><br> [/v1/shipmentRequest/cancellation](#tag/DropOff/paths/~1v1~1shipmentRequest~1cancellation/get) | Добавили комментарий: после отмены заявки на отгрузку не нужно повторно создавать заказы, чтобы добавить их в новую заявку.|\n| [/v1/order](#tag/Order/paths/~1v1~1order/post) | Поправили, что `phone` и `placeId` — обязательные параметры. Добавили комментарий по заполнению `deliveryInformation`. |\n| [v1/order/status/canceled](#tag/Order/paths/~1v1~1order~1status~1canceled/put) | Добавили параметр запроса `cancellationReasonCode` — код причины отмены заказа. Добавили параметр ответа `userErrors` — ошибки выполнения запроса. |\n| [/v1/order/cancellationReasons](#operation/cancellationReasons) | Добавили метод для получения причин отмены заказов. |\n| [/v1/delivery/calculate](#tag/Delivery/paths/~1v1~1delivery~1calculate/get) | Добавили в запрос параметр `estimatedPrice` — объявленная ценность отправления. |\n\n## 17 февраля 2022\n\n| Метод | Изменение                                                                                           |\n|-------|----------------------------------------------------------------------------------------------------------|\n| [/v1/delivery/cities/extended](#tag/Delivery/paths/~1v1~1delivery~1cities~1extended/get) | Добавили метод для получения списка городов с доступными способами доставки. |\n| [/v1/order/{id}](#tag/Order/paths/~1v1~1order~1%7Bid%7D/get) | Исправили схему параметра `status` в ответе.<br>Удалили неиспользуемый параметр `lineNumber` из ответа метода.<br>Добавили параметры `logisticBarCode` и `timeSlotId` в ответ метода. |\n| /v1/shipmentRequest/pickup | Обновили описание метода и параметра `placeId`. |\n| [/v1/delivery/calculate/information](#tag/Delivery/paths/~1v1~1delivery~1calculate~1information/post) | Обновили описание и изменили ответ метода. |\n| /v1/order/{orderId}/prolongation | Дополнили описание метода. |\n| — | Вынесли ссылку на Swagger в [отдельный раздел](#section/Swagger).<br><br>Изменили пункт 6 в разделе [Порядок работы с методами](#tag/Process).<br><br>Дополнили раздел [Статусы EventID](#tag/eventId-Statuses). |\n\n## 20 декабря 2021\n\n| Метод | Изменение |\n|---|---|\n| /v1/order/{orderId}/prolongation | Новый метод для продления срока хранения заказа. |\n| [PUT /v1/order](#tag/Order/paths/~1v1~1order/put) <br><br> [POST /v1/order](#tag/Order/paths/~1v1~1order/post) | Добавили новые параметры запроса: `deliveryType` и `searchRadiusKm`. |  \n| — | В раздел [Статусы EventID](#tag/eventId-Statuses) добавили новый статус 99. |\n\n## 29 ноября 2021\n\n| Метод | Изменение                                                                                           |\n|-------|----------------------------------------------------------------------------------------------------------|\n| [POST /v1/order](#tag/Order/paths/~1v1~1order/post) | Дополнили описание метода. Этот метод предназначен для загрузки однокоробочных и многокоробочных отправлений. |\n| [/v1/delivery/calculate/materialWeight](#tag/Delivery/paths/~1v1~1delivery~1calculate~1materialWeight/post) | Добавили метод для расчёта объёмного веса. |\n| [/v1/delivery/return_places](#tag/Delivery/paths/~1v1~1delivery~1return_places/get) | Добавили метод для получения информации о складе возврата. |\n| [/v1/mismatchact](#tag/MismatchAct/paths/~1v1~1mismatchact/get) | Добавили метод для получения списка актов расхождения. |\n| [/v1/mismatchact/{id}/document](#tag/MismatchAct/paths/~1v1~1mismatchact~1{id}~1document/get) | Добавили метод для получения акта расхождения по идентификатору документа. |\n| [PUT /v1/order](#tag/Order/paths/~1v1~1order/put) | Добавили метод для редактирования состава отправлений. |\n| [/v1/order/{id}/recipient](#tag/Order/paths/~1v1~1order~1{id}~1recipient/put) | Добавили метод для изменения получателя заказа. |\n| [/v1/shipmentRequest/pickup/{orderId}/cancellation](#tag/DropOff/paths/~1v1~1shipmentRequest~1pickup~1{orderId}~1cancellation/post) | Добавили метод для отмены заявки на отгрузку со склада принципала (PickUp) по идентификатору заказа. |\n| —     | В разделе [Как получить API-ключ](#tag/Token) добавили ссылки и ключи для подключения к тестовой среде. Также добавили ссылки для получения токенов для тестовой и рабочей сред. |\n\n## 15 октября 2021\n\n| Метод | Изменение                                                                                           |\n|-------|----------------------------------------------------------------------------------------------------------|\n| /v1/delivery/cities<br> /v1/manifest/remove<br> /v1/shipmentRequest/{id}/act<br> /v1/shipmentRequest/acts<br> /v1/posting/ticket | Методы устарели. Убрали их из документации. |\n| [/v1/shipmentRequest](#tag/DropOff/paths/~1v1~1shipmentRequest/post) | Изменили описание метода. |\n| [/v1/order](#tag/Order/paths/~1v1~1order/post) | Изменили параметр `firstMileTransfer`. |\n| [/v1/delivery/pickup_places](#tag/Delivery/paths/~1v1~1delivery~1pickup_places/get) | Добавили метод для получения списка складом PickUp. |\n| [/v1/report/list](#tag/Report/paths/~1v1~1report~1list/get) | Добавили метод для получения списка отчётов. |\n| [/v1/report/binary](#tag/Report/paths/~1v1~1report~1binary/get) | Добавили метод для получения списка отчёта в бинарном виде. |\n| [/v1/shipmentRequest/documents](#tag/DropOff/paths/~1v1~1shipmentRequest~1documents/get) | Добавили метод для получения документов по идентификаторам заявок на отгрузку. |\n| /v1/shipmentRequest/cancellation | Добавили метод для отмены заявки на отгрузку. |\n| [/v1/ticket](#tag/Ticket/paths/~1v1~1ticket/get) | Добавили метод для получения этикетки отправления. |\n| /v1/shipmentRequest/pickup | Добавили метод для создания заявки на отгрузку со склада принципала (PickUp). |\n\n## 27 сентября 2021\n\n| Метод | Изменение                                                                                           |\n|-------|----------------------------------------------------------------------------------------------------------|\n| —     | Поменяли название «Начало работы» на «[Введение](#tag/Intro)».                                           |\n| —     | Поменяли название «Как получить токен для работы с Rocket API» на «[Как получить API-ключ](#tag/Token)». |\n| —     | Поменяли название «Как работать с методами» на «[Порядок работы с методами](#tag/Process)».              |\n\n## 4 августа 2021\n\n| Метод                                                                                                 | Изменение                                                                                                                        |\n|-------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/shipmentRequest](#tag/DropOff/paths/~1v1~1shipmentRequest/post)                                  | Новый метод для создания заявки на отгрузку.                                                                                          |\n| [/v1/shipmentRequest/{id}/act](#tag/DropOff/paths/~1v1~1shipmentRequest~1{id}~1act/get)               | Новый метод для получения акта приёма-передачи по идентификатору заявки на отгрузку.                                                  |\n| [/v1/shipmentRequest/acts](#tag/DropOff/paths/~1v1~1shipmentRequest~1acts/get)                        | Новый метод для получения нескольких актов приёма-передачи по идентификаторам заявок на отгрузку.                                     |\n| [/v1/delivery/calculate/information](#tag/Delivery/paths/~1v1~1delivery~1calculate~1information/post) | Новый метод для расчёта стоимости и сроков доставки по адресу.                                                                        |\n| /v1/document/create                                                                                   | Метод устарел, убрали его из документации.                                                                                            |\n| /v1/document/list                                                                                     | Метод устарел, убрали его из документации.                                                                                            |\n| —                                                                                                     | В раздел [Статусы EventID](#tag/eventId-Statuses) добавили описание двух статусов: 91 — выехал к клиенту, 92 — передаётся клиенту.    |\n\n## 27 июля 2021\n\n| Метод | Изменение                                    |\n|-------|---------------------------------------------------|\n| —     | Сменили название «Logistics API» на «Rocket API». |\n\n## 12 июля 2021\n\n| Метод                                                              | Изменение                                                                                                                    |\n|--------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------|\n| —                                                                  | Обновили адрес рабочей среды с https://api.ozon.ru/principal на https://xapi.ozon.ru/principal. Старый адрес продолжает работать. | \n| [/v1/order](#tag/Order/paths/~1v1~1order/post)                     | Добавили в запрос параметр `comment` — комментарий.                                                                               | \n| [/v1/posting/ticket](#tag/Posting/paths/~1v1~1posting~1ticket/get) | Добавили в запрос параметр `format` — формат ответа, PDF или PNG.                                                                 | \n\n## 9 июля 2021\n\n| Метод       | Изменение                             |\n|-------------|--------------------------------------------|\n| —           | Убрали информацию о тестовой среде.        | \n| /v1/dropoff | Метод устарел, убрали его из документации. | \n\n## 24 июня 2021\n\n<table>\n    <tr>\n        <th>Метод</th>\n        <th>Изменение</th>\n    </tr>\n    <tr>\n        <td><a href=\"#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get\">/v1/tracking/byordernumber</a></td>\n        <td>\n          <ul>\n            <li>Обновили описание метода.</li>\n            <li>В массив данных по отправлениям <code>postingInfos</code> добавили параметр <code>returnReason</code> и массив <code>items</code> с описанием состава экземпляров отправления.</li>\n            <li>В разделе <a href=\"#tag/eventId-Statuses\">Статусы EventID</a> из описания типов событий <code>eventId</code> убрали «1005» — ожидаемую дату доставки.</li>\n          </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>\n          <a href=\"#tag/Tracking/paths/~1v1~1tracking~1bypostingnumber/get\">/v1/tracking/bypostingnumber</a><br><br>\n          <a href=\"#tag/Tracking/paths/~1v1~1tracking~1list/post\">/v1/tracking/list</a>\n        </td>\n        <td>В разделе <a href=\"#tag/eventId-Statuses\">Статусы EventID</a> из описания типов событий <code>eventId</code> убрали «1005» — ожидаемую дату доставки.</td>\n    </tr>\n</table>\n\n## 9 июня 2021\n\n| Метод                                                                                     | Изменение                                           |\n|-------------------------------------------------------------------------------------------|----------------------------------------------------------|\n| [/v1/delivery/variants/byids](#tag/Delivery/paths/~1v1~1delivery~1variants~1byids/post)   | Новый метод.                                             | \n| [/v1/document/return_documents](#tag/Document/paths/~1v1~1document~1return_documents/get) | Новый метод.                                             | \n| [/v1/tracking/byordernumber](#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get)       | В описание ответа добавили параметр `orderStatusCode`.   |\n\n## 27 мая 2021\n\n| Метод                                                  | Изменение                                  |\n|--------------------------------------------------------|-------------------------------------------------|\n| /v1/manifest/unprocessed <br><br> /v1/tracking/article | Методы устарели, убрали их из документации.     | \n| [/v1/order](#tag/Order/paths/~1v1~1order/post)         | В описание метода добавили параметр `PickUp`.   |\n\n## 21 мая 2021\n\n| Метод                                                                                             | Изменение            |\n|---------------------------------------------------------------------------------------------------|---------------------------|\n| [/v1/delivery/variants/byviewport](#tag/Delivery/paths/~1v1~1delivery~1variants~1byviewport/post) | Добавили описание метода. |\n\n## 17 мая 2021\n\n| Метод                                                                               | Изменение            |\n|-------------------------------------------------------------------------------------|---------------------------|\n| [/v1/tracking/byordernumber](#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get) | Добавили описание метода. |\n\n## 14 мая 2021\n\n<table>\n  <tr>\n    <th>Метод</th>\n    <th>Изменение</th>\n  </tr>\n  <tr>\n    <td>\n      <a href=\"#tag/Tracking/paths/~1v1~1tracking~1bypostingnumber/get\">/v1/tracking/bypostingnumber</a><br><br>\n      <a href=\"#tag/Tracking/paths/~1v1~1tracking~1list/post\">/v1/tracking/list</a><br><br>\n      <a href=\"#tag/Tracking/paths/~1v1~1tracking~1byordernumber/get\">/v1/tracking/byordernumber</a>\n    </td>\n    <td>В разделе <a href=\"#tag/eventId-Statuses\">Статусы EventID</a> добавили описание типа события <code>eventID</code> для курьерского способа доставки: 93 — выполнено.</td>\n  </tr>\n  <tr>\n    <td><a href=\"#tag/Delivery/paths/~1v1~1delivery~1time/get\">/v1/delivery/time</a></td>\n    <td>Добавили описание метода.</td>\n  </tr>\n  <tr>\n    <td><a href=\"#tag/Order/paths/~1v1~1order~1status~1canceled/put\">/v1/order/status/canceled</a></td>\n    <td>Добавили описание метода.</td>\n  </tr>\n  <tr>\n    <td><a href=\"#tag/Order/paths/~1v1~1order~1{id}/get\">/v1/order/{id}</a></td>\n    <td>Добавили описание метода.</td>\n  </tr>\n</table>\n\n## 26 апреля 2021\n\n| Метод                                                                                                        | Изменение                                                                                                                                                   |\n|--------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| /v1/delivery/methods/<br>pickup/extended-info                                                                | Метод устарел, убрали его из документации. Для получения графика работы используйте [/v1/delivery/variants](#tag/Delivery/paths/~1v1~1delivery~1variants/get).   | \n| /v1/manifest/upload                                                                                          | Убрали метод из документации. Он продолжает функционировать, но для загрузки заказов советуем использовать метод [/v1/order](#tag/Order/paths/~1v1~1order/post). | \n| [/v1/order](#tag/Order/paths/~1v1~1order/post)                                                               | Обновили пример запроса и ответа. Добавили в запрос параметры по передаче желаемого интервала доставки.                                                          | \n| [/v1/delivery/variants/byaddress](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress/post)              | Добавили описание метода.                                                                                                                                        | \n| [/v1/delivery/variants/byaddress/short](#tag/Delivery/paths/~1v1~1delivery~1variants~1byaddress~1short/post) | Добавили описание метода.                                                                                                                                        | \n| —                                                                                                            | Добавлены ключи для получения `token` в тестовой среде.                                                                                                          |\n\n## 12 марта 2021\n\n| Метод                                         | Изменение                                                                                                                                                                                     |\n|-----------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| /v1/delivery/methods/<br>pickup/extended-info | Из описания метода убрали блок «Массив характеристик ПВЗ». Для получения данных о характеристиках ПВЗ используйте метод [/v1/delivery/variants](#tag/Delivery/paths/~1v1~1delivery~1variants/get). | \n\n## 26 февраля 2021\n\n<table>\n  <tr>\n    <th>Метод</th>\n    <th>Изменение</th>\n  </tr>\n  <tr>\n    <td><a href=\"#tag/Delivery/paths/~1v1~1delivery~1variants/get\">/v1/delivery/variants</a></td>\n    <td>\n      Добавили необязательные параметры запроса:<br><br>\n      <ul>\n        <li><code>payloadIncludes.includeWorkingHours</code> — добавляет в ответное сообщение часы работы пункта выдачи.</li>\n        <li><code>payloadIncludes.includePostalCode</code> — добавляет в ответное сообщение индекс пункта выдачи.</li>\n      </ul>\n    </td>\n  </tr>\n</table>\n\n## 17 февраля 2021\n\n<table>\n  <tr>\n    <th>Метод</th>\n    <th>Изменение</th>\n  </tr>\n  <tr>\n    <td>/v1/manifest/upload</td>\n    <td>\n      Изменили описание метода:<br><br>\n      <ul>\n        <li>Изменили Required значения параметра <code>postingBarcode</code>.</li>\n        <li>Добавили более подробное описание блока <code>addressee</code>.</li>\n        <li>Изменили Required значения параметра <code>isCompany</code>.</li>\n        <li>Добавили более подробное описание по параметру <code>prepayment</code>.</li>\n        <li>Добавили более подробное описание по параметру <code>deliveryPriceNDS</code> и изменили Required значения параметра <code>deliveryPriceNDS</code>.</li>\n        <li>Изменили Required значения параметра <code>IsFf</code>, в скором времени уберём параметр из запроса.</li>\n        <li>Изменили описание параметра <code>AmountRecipientPayment</code>.</li>\n        <li>Изменили Required значения параметра <code>estimatedCost</code>.</li>\n        <li>Изменили Required значения параметра <code>nds</code> в массиве <code>postingItems</code>.</li>\n        <li>Изменили Required значения параметра <code>ndsSum</code> в массиве <code>postingItems</code>.</li>\n      </ul>\n    </td>\n  </tr>\n  <tr>\n    <td>/v1/delivery/methods/<br>pickup/extended-info</td>\n    <td>Из описания метода получения расширенных данных о пункте выдачи убрали дублирующие параметры <code>isCashAvailable</code>. Аналогичные данные возвращаются в массиве <b>properties</b>.</td>\n  </tr>\n</table>\n\n## 15 февраля 2021\n\n| Метод                                          | Изменение                                                                                                                     |\n|------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------|\n| /v1/delivery/methods/<br>pickup/extended-info  | Добавили описание метода получения расширенных данных о пункте выдачи, расписание работы и адреса подключения к сервису.           | \n| [/v1/order](#tag/Order/paths/~1v1~1order/post) | Добавили описание метода для загрузки многокоробочных (многоместных) отправлений. Метод подходит для загрузки одноместных заказов. |\n\n## 27 января 2021\n\n<table>\n  <tr>\n    <th>Метод</th>\n    <th>Изменение</th>\n  </tr>\n  <tr>\n    <td><a href=\"#tag/Manifest/paths/~1v1~1manifest~1remove/post\">/v1/manifest/remove</a></td>\n    <td>Добавили описание метода.</td>\n  </tr>\n  <tr>\n    <td><a href=\"#tag/Delivery/paths/~1v1~1delivery~1variants/get\">/v1/delivery/variants</a></td>\n    <td>\n      Изменили структуру ответа:<br><br>\n      <ul>\n        <li>Изменили регистр параметра <code>addressID</code> на <code>adressId</code>.</li>\n        <li><code>subagentCategory</code> — исключили параметр из ответа метода.</li>\n      </ul>\n    </td>\n  </tr>\n  <tr>\n    <td><a href=\"#tag/Document/paths/~1v1~1document~1create/post\">/v1/document/create</a></td>\n    <td>\n      Изменили параметры входного сообщения:\n      <ul>\n        <li>Наименование массива на вход <code>manifestIDs</code> переименовали на <code>postingIds</code>.</li>\n      </ul>\n      Изменили структуру ответа:\n      <ul>\n        <li>Изменили регистра параметра <code>documentID</code> на <code>documentId</code>.</li>\n      </ul>\n    </td>\n  </tr>\n  <tr>\n    <td>/v1/manifest/upload</td>\n    <td>\n      Изменили параметры входного сообщения:\n      <ul>\n        <li>Переименовали контейнер <code>clearingManifests</code> на <code>Manifests</code>.</li>\n        <li>Добавили параметр <code>timeSlotId</code>.</li>\n        <li><code>postingOutNumber</code> изменили на <code>postingNumber</code>.</li>\n        <li><code>postingOutBarCode</code> изменили на <code>postingBarcode</code>.</li>\n        <li><code>recipientId</code> — убрали из запроса.</li>\n        <li><code>recipientFiasGuid</code> — убрали из запроса.</li>\n        <li><code>fromPlaceName</code> — убрали из запроса.</li>\n      </ul>\n      Изменили структуру ответа:\n      <ul>\n        <li>Массив <code>rejectedPostings</code>: <code>number</code> заменили на <code>postingNumber</code>.</li>\n      </ul>\n    </td>\n  </tr>\n  <tr>\n    <td>/v1/manifest/unprocessed</td>\n    <td>\n      Изменили структуру ответа:\n      <ul>\n        <li><code>recipientId</code> — убрали из ответа.</li>\n        <li><code>recipientFiasGuid</code> — убрали из ответа.</li>\n        <li><code>fromPlaceName</code> — убрали из ответа.</li>\n        <li>Переименовали контейнер <code>clearingPosting</code> на <code>posting</code>.</li>\n        <li>Добавили <code>id</code> заказа вверх списка.</li>\n        <li><code>postingOutNumber</code> изменили на <code>postingNumber</code>.</li>\n        <li><code>postingOutBarCode</code> изменили на <code>postingBarcode</code>.</li>\n      </ul>\n    </td>\n  </tr>\n  <tr>\n    <td>/v1/tracking/byname</td>\n    <td>\n    Изменили параметры входного сообщения:\n      <ul>\n        <li>Изменили название метода на <a href=\"#tag/Tracking/paths/~1v1~1tracking~1bypostingnumber/get\">/v1/tracking/bypostingnumber</a>.</li>\n        <li>Параметр входного сообщения <code>name</code> изменили на <code>postingNumber</code>.</li>\n      </ul>\n    </td>\n</table>\n\n## 19 января 2021\n\n| Метод                                                                           | Изменение                                              |\n|---------------------------------------------------------------------------------|-------------------------------------------------------------|\n| [/v1/delivery/from_places](#tag/Delivery/paths/~1v1~1delivery~1from_places/get) | Добавили описание метода.                                   | \n| —                                                                               | Обновили адреса подключения к тестовому и боевому сервисам. |\n\n## 18 января 2021\n\n| Метод               | Изменение                                                                                                                         |\n|---------------------|----------------------------------------------------------------------------------------------------------------------------------------|\n| —                   | По всем методам добавили обязательность параметров.                                                                                    |\n| —                   | Добавили адреса для получения токена и адрес сервиса на боевой среде.                                                                  | \n| /v1/manifest/upload | Добавили параметр `supplierInn` — ИНН поставщика. После описания метода добавили таблицу «Значения тега `prepaymentType`». |\n\n## 29 декабря 2020\n\n| Метод | Изменение                                |\n|-------|-----------------------------------------------|\n| —     | Добавили описание алгоритма получения токена. | \n| —     | Добавили описание методов работы с API.       | \n| —     | Добавили описание логики работы с методами.   |"
    },
    {
      "name": "Order Statuses",
      "x-displayName": "Статусы заказа",
      "description": "Описание типов статусов заказа.\n\n| Статус                 | Описание                    |\n|------------------------|-----------------------------|\n| `Created`              | Создан.                     |\n| `Registered`           | Зарегистрирован.            |\n| `Sent`                 | Отправлен.                  |\n| `Delivering`           | Доставляется.               |\n| `ArrivedToCity`        | Прибыл в ваш город.         |\n| `ReadyForPickup`       | Готов к выдаче.             |\n| `DeliveringToClient`   | Выехал к клиенту.           |\n| `Delivered`            | Доставлен.                  |\n| `DeliveredForResale`   | Возвращён через склад.      |\n| `Disposed`             | Утилизирован.               |\n| `PartialDelivered`     | Доставлен частично.         |\n| `Canceled`             | Отменён.                    |\n| `NotInDemand`          | Не востребован.             |\n| `Problem`              | Проблема.                   |\n| `Returning`            | Едет обратно.               |\n| `ReturnReadyForSender` | Готов к выдаче отправителю. |\n| `ReturnedToSender`     | Передан отправителю.        |   \n"
    },
    {
      "name": "eventId Statuses",
      "x-displayName": "Статусы EventID",
      "description": "Описание типов событий `eventId` в трекинге.\n\nДля событий 50, 93, 120 и 94 статус конечный. \nДля событий 60 и 70 статус конечный для покупателя, но не для принципала.\n\nНевостребованные товары вернутся принципалу.\nВозвратные события будут зафиксированы отдельно по каждому отправлению в массиве `items`.\n\n| EventId | Код&nbsp;статуса&nbsp;заказа    | Статус заказа                    | Статус отправления                                                                                  | Инициатор                                                   |\n|---------|---------------------------------|----------------------------------|-----------------------------------------------------------------------------------------------------|-------------------------------------------------------------|\n| 5       | `Registered`                    | Заказ зарегистрирован            | Отправление зарегистрировано                                                                        | Принципал                                                   |\n| 10      | `Sent`                          | Отправлен                        | Передано в службу доставки                                                                          | Склад                                                       |\n| 20      | `Delivering`                    | Доставляется                     | Отправлено в ваш город                                                                              | Склад                                                       |\n| 40      | `ArrivedToCity`                 | Прибыло в ваш город              | Прибыло в ваш город                                                                                 | Склад                                                       |\n| 45      | `ReadyForPickup`                | Готов к выдаче                   | Готово к выдаче                                                                                     | Пункт выдачи или курьерская служба                          |\n| 90      | `ReadyForPickup`                | Готов к выдаче                   | Передано курьеру                                                                                    | Курьерская служба                                           |\n| 91      | `DeliveringToClient`            | Выехал к клиенту                 | Выехал к клиенту                                                                                    | Курьер                                                      |\n| 92      | `DeliveringToClient`            | Выехал к клиенту                 | Передаётся покупателю                                                                               | Курьер                                                      |\n| 50      | `Delivered`                     | Доставлен                        | Отправление выдано                                                                                  | Пункт выдачи или курьер                                     |\n| 51      | `DeliveredForResale`            | Возвращён через склад            | Отправление возвращено через склад                                                                  | Склад                                                       |\n| 52      | `Disposed`                      | Утилизирован                     | Отправление утилизировано                                                                           | Склад                                                       |\n| 93      | `Delivered`                     | Доставлен                        | Выполнено                                                                                           | Курьер                                                      |\n| 60      | `PartialDelivered`              | Доставлен частично               | Отправление выдано частично                                                                         | Пункт выдачи или курьер                                     |\n| 65      | `PartialDelivered`              | Доставлен частично               | Частичный возврат после выдачи                                                                      | Курьер                                                      |\n| 1010    | `Canceled`                      | Отменен                          | Отправление аннулировано                                                                            | Принципал                                                   |\n| 70      | `NotInDemand`                   | Не востребован                   | Отказ покупателя                                                                                    | Пункт выдачи или курьер                                     |\n| 80      | `NotInDemand`                   | Не востребован                   | Отправление не востребовано                                                                         | Пункт выдачи или курьер                                     | \n| 99      | `Problem`                       | Проблема                         | Проблема                                                                                            | Пункт выдачи, склад, курьерская служба, курьер или постамат |\n| 100     | `Returning`                     | Едет обратно                     | Возврат отправлен на склад                                                                          | Пункт выдачи                                                |\n| 110     | `Returning`                     | Едет обратно                     | Возврат прибыл на склад                                                                             | Склад                                                       |\n| 115     | `ReturnReadyForSender`          | Готов к выдаче отправителю       | Возврат готов к передаче отправителю                                                                | Склад                                                       |\n| 120     | `ReturnedToSender`              | Передан отправителю              | Возврат передан отправителю                                                                         | Курьер                                                      |\n| 94      | `Delivered`                     | Доставлен                        | Выполнено с опозданием                                                                              | Курьер                                                      |\n| 20010   | `ArrivedToTemporaryStorage`     | Прибыл на СВХ                    | Отправление прибыло на склад временного хранения                                                    | Брокер                                                      |\n| 20014   | `AcceptanceFinished`            | Принят на СВХ                    | Отправление принято на складе временного хранения                                                   | Брокер                                                      |\n| 20015   | `WaitingForArrivalLikeShortage` | Недостача, ожидает прибытия      | Ожидает прибытия, так как после сканирования заявленной входящей грузовой партии заказ не обнаружен | Брокер                                                      |\n| 20020   | `UnloadedForClearance`          | Выгружен для ТО                  | Список отправлений выгружен для процедур импортного таможенного оформления                          | Брокер                                                      |\n| 20021   | `RegistrationNumberAssigned`    | Присвоен регистрационный номер   | Отправлению присвоен регистрационный номер, заказ в процессе таможенного оформления                 | Брокер                                                      |\n| 20022   | `DocumentsRequested`            | Документы запрошены              | Не хватает дополнительных документов, необходимо предоставить их таможне                            | Брокер                                                      |\n| 20023   | `Claimed`                       | ПД запрошены                     | Не хватает персональных данных получателя, необходимо предоставить их таможне                       | Брокер                                                      |\n| 20024   | `NotProvided`                   | ПД не предоставлены              | Истёк срок предоставления персональных данных                                                       | Брокер                                                      |\n| 20025   | `ReadyForCustomsInspection`     | Отобран на таможенный осмотр     | Отправление перемещено в зону таможенного осмотра                                                   | Брокер                                                      |\n| 20026   | `ReadyForCustomsExamination`    | Отобран на таможенный досмотр    | Отправление перемещено в зону таможенного досмотра                                                  | Брокер                                                      |\n| 20030   | `Released`                      | Выпуск                           | Получено решение таможни о выпуске отправления                                                      | Брокер                                                      |\n| 20031   | `ReleaseRefused`                | Отказ в выпуске                  | Таможня отказала в выпуске заказа                                                                   | Брокер                                                      |\n| 20040   | `ReturnAccepted`                | Возврат разрешён                 | Решение получено, возврат разрешён                                                                  | Брокер                                                      |\n| 20050   | `ShippedOutcoming`              | Отгружен прямым потоком          | Отправление отгружено со склада временного хранения прямым потоком                                  | Брокер                                                      |\n| 20060   | `ShippedReturn`                 | Отгружен возвратным потоком      | Отправление отгружено со склада временного хранения возвратным потоком                              | Брокер                                                      |\n| 20070   | `NotPersonalUse`                | Товар не для личного пользования | Товар не для личного пользования                                                                    | Брокер                                                      |\n| 20071   | `CommercialShipment`            | Коммерческая партия              | Превышено допустимое количество товара на одного получателя                                         | Брокер                                                      |\n"
    }
  ],
  "paths": {
    "/v1/delivery/cities/extended": {
      "get": {
        "tags": [
          "Delivery"
        ],
        "summary": "Получить список городов с доступными способами доставки",
        "parameters": [
          {
            "name": "deliveryTypes",
            "in": "query",
            "description": "Способы доставки:\n  - `Courier` — доставка курьером;\n  - `PickPoint` — самовывоз;\n  - `Postamat` — постамат.\n\nЕсли не указать способы доставки, будут показаны все способы доставки во всех доступных городах.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Способы доставки:\n  - `Courier` — доставка курьером;\n  - `PickPoint` — самовывоз;\n  - `Postamat` — постамат.\n\nЕсли не указать способы доставки, будут показаны все способы доставки во всех доступных городах.\n",
              "format": "int64",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список городов с доступными способами доставки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryCitiesExtendedResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryCitiesExtendedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryCitiesExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Данные не найдены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery/variants": {
      "get": {
        "tags": [
          "Delivery"
        ],
        "summary": "Получить способы доставки",
        "parameters": [
          {
            "name": "cityName",
            "in": "query",
            "description": "Название города из ответа метода [/v1/delivery/cities/extended](#tag/Delivery/paths/~1v1~1delivery~1cities~1extended/get).\n\nПараметр необязательный.\nЕсли его не указывать, в ответе будет список способов доставки по всем городам.\n",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "payloadIncludes.includeWorkingHours",
            "in": "query",
            "description": "Добавить в ответ часы работы пункта выдачи:\n  - `true` — добавить информацию,\n  - `false` — не добавлять.\n",
            "schema": {
              "type": "boolean",
              "description": "Добавить в ответ часы работы пункта выдачи:\n  - `true` — добавить информацию,\n  - `false` — не добавлять.\n"
            }
          },
          {
            "name": "payloadIncludes.includePostalCode",
            "in": "query",
            "description": "Добавить в ответ почтовый индекс пункта выдачи:\n  - `true` — добавить информацию,\n  - `false` — не добавлять.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pagination.size",
            "in": "query",
            "description": "Количество записей на странице.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagination.token",
            "in": "query",
            "description": "Токен следующей страницы.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Способы доставки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantListResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Данные не найдены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery/variants/byaddress": {
      "post": {
        "tags": [
          "Delivery"
        ],
        "summary": "Получить способы доставки по адресу",
        "description": null,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Способы доставки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Данные не найдены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery/variants/byaddress/short": {
      "post": {
        "tags": [
          "Delivery"
        ],
        "summary": "Получить идентификаторы способов доставки",
        "description": "Метод для получения идентификаторов способов доставки по указанному адресу.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressShortRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressShortRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressShortRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Идентификаторы способов доставки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressShortResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressShortResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByAddressShortResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Данные не найдены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery/variants/byids": {
      "post": {
        "tags": [
          "Delivery"
        ],
        "summary": "Получить способы доставки по идентификаторам",
        "description": "Метод для получения списка способов доставки по идентификаторам способов доставки.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByIdsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByIdsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByIdsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Способы доставки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByIdsResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByIdsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetDeliveryVariantsByIdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Данные не найдены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery/from_places": {
      "get": {
        "tags": [
          "Delivery"
        ],
        "summary": "Получить место передачи отправлений DropOff на склад",
        "description": null,
        "responses": {
          "200": {
            "description": "Место передачи отправления на склад",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetFromPlacesResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetFromPlacesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.GetFromPlacesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Данные не найдены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Presentation.Models.Responses.ApiBadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery/calculate/information": {
      "post": {
        "tags": [
          "Delivery"
        ],
        "summary": "Рассчитать стоимость и срок доставки по адресу",
        "description": "Метод для рассчёта стоимости и срока доставки по адресу с учётом объёмного веса.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.CLS.PrincipalIntegrationApi.Core.Models.Delivery.CalculateDeliveryInfoRequest"
              }
            },
            "text/json": {
              "schema": {
[...]
