{
  "openapi": "3.0.1",
  "info": {
    "title": "Документация Ozon ILP API",
    "description": "В документе описаны методы для интеграции логистических провайдеров (ILP) с Ozon",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://sxapi.ozon.ru/thirdparty"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Introduction",
        "Process-rupost",
        "Process-avia",
        "Auth",
        "Environment",
        "News"
      ]
    },
    {
      "name": "Методы API",
      "tags": [
        "Deliveries",
        "Postings",
        "Supply",
        "Push",
        "Documents",
        "Cargo",
        "ReturnDeliveries"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "Введение",
      "description": "ILP API — программный интерфейс для интеграции и работы Ozon с внешними перевозчиками, например Почтой России и\nавиаперевозчиками.\n\nИнтеграция позволяет автоматизировать обмен данными, чтобы ускорить и оптимизировать бизнес-процессы.\nС помощью ILP API можно передавать информацию об отправлениях и их актуальные статусы, а также инициировать возвраты.\n\nЕсли возникли проблемы с API или интеграцией, напишите на почту [potback@ozon.ru](mailto:potback@ozon.ru). Принимаем обращения в рабочие дни с 10:00 до 19:00.\n\n## Словарь терминов\n\n**Отправление** — заказ или его часть, предназначенная для доставки или вручения клиенту.\nОтправление содержит экземпляры и имеет уникальный номер и штрихкод.\n\n**Экземпляр** — единица товара с уникальным номером и штрихкодом.\n\n**Отгрузка** — совокупность отправлений, которые нужно переместить по заявке в системе ТМС.<br>\n[Подробнее о системе ТМС](https://manual-tms-help.ozon.ru/)\n\n**Поставка** — совокупность отправлений, которые нужно переместить по заявке в системе ILP.\n\n**ЦМН** — целевое место назначения.\n\n**Предсорт контейнеры** — контейнеры с отправлениями, которые отсортированы до своих ЦМН. Их не нужно вскрывать или расформировывать.\n\n**Нонсорт контейнеры** — контейнеры с отправлениями разных ЦМН. Каждое отправление принимается отдельно и сортируется в новый контейнер на складе перевозчика.\n\n## Авторизация\n\n> **Рабочая среда**: https://sxapi.ozon.ru/thirdparty<br>\n**Тестовая среда**: https://third-party-delivery-api-stg.ozonru.me\n\nЧтобы подключиться к API, пришлите IP-адреса с указанием среды на почту avia@ozon.ru. Ozon сделает заявки в службу безопасности на получение доступа и настроит внутреннюю инфраструктуру.\n\nПосле завершения настроек и выдачи доступов проверьте соединение API:\n\n1. Выполните запрос к API:\n   \n   ```json\n   curl -X 'POST' 'https://third-party-delivery-api-stg.ozonru.me/Test' -H 'accept: /' -d ''\n   ```\n   Данный запрос проверяет соединение без авторизации. В ответе вернётся `hello word`.\n\n2. Проверьте механизмы авторизации. С помощью запроса и присланных данных вы получите токен:\n   ```json\n   curl -i -X POST 'https://id.ozon.ru/oauth/token' -d 'grant_type=client_credentials&client_id=<client_id>&client_secret=<client_secret>'\n   ```\n3. Проверьте, что авторизация в API с токеном проходит корректно:\n    ```json\n    curl -i -X 'GET' 'https://third-party-delivery-api-stg.ozonru.me/Test' -H 'Authorization: Bearer %(ВАШ ТОКЕН)s' -H 'accept: application/json'\n    ``` \n   Где `ВАШ ТОКЕН` — токен, который вы получили из запроса к https://id.ozon.ru/oauth/token."
    },
    {
      "name": "Process-rupost",
      "x-displayName": "Порядок работы для Почты России",
      "description": "## Отгрузка со склада Ozon\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-get-shipping-from-Ozon-new_1737554754.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-get-shipping-from-Ozon-new_1737554754.png\" width=\"40%\"></a>\n\n## На складе перевозчика\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-shipping-provider-warehouse-new_1737554779.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-shipping-provider-warehouse-new_1737554779.png\" width=\"70%\"></a>\n\n## На точке выдачи\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-pick-up-point-new_1737554766.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-pick-up-point-new_1737554766.png\" width=\"70%\"></a>\n\n## Возвратная отгрузка\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-return-shipping-new_1737554773.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/post-return-shipping-new_1737554773.png\" width=\"40%\"></a>"
    },
    {
      "name": "Process-avia",
      "x-displayName": "Порядок работы для авиаперевозчиков",
      "description": "## Получение отгрузки от Ozon\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-get-shipping-from-Ozon-new_1737551882.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-get-shipping-from-Ozon-new_1737551882.png\" width=\"40%\"></a>\n\n## Приёмка на складе перевозчика\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-shipping-provider-warehouse-updn_1742818546.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-shipping-provider-warehouse-updn_1742818546.png\" width=\"70%\"></a>\n\n## Создание авиапоставки\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-supply-updj_1752070841.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-supply-updj_1752070841.png\" width=\"40%\"></a>\n\n## Возврат отправлений со склада перевозчика в Ozon\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-return-shipping_new_1737551989.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-return-shipping_new_1737551989.png\" width=\"40%\"></a>\n\n## Возвратные отгрузки из регионов\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-return-shipping-region-new2_1757092901.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/ilp-api/process/avia-return-shipping-region-new2_1757092901.png\" width=\"40%\"></a>\n"
    },
    {
      "name": "News",
      "x-displayName": "Обновления",
      "description": "## 29 января 2025\n\n| Метод | Изменение                                                                  |\n|-------|---------------------------------------------------------------------------------|\n| —     | В разделе [**Введение → Авторизация**](#section/Avtorizaciya) обновили запросы. |\n\n## 12 сентября 2025\n\n| Метод | Изменение |\n|-------|----------------|\n|[/deliveries/get-content](#operation/deliveries_get-content)|Добавили метод для получения информации о составе отгрузки.|\n| [/deliveries/add-cargo](#operation/AddCargo) | Добавили метод для добавления грузомест на отгрузку. |\n| [/deliveries/remove-cargo](#operation/RemoveCargo) | Добавили метод для удаления грузомест из отгрузки. |\n| [/deliveries/cancel](#operation/Cancel) | Добавили метод для отмены отгрузки. |\n| [/deliveries/set-plane-attributes](#operation/SetPlaneAttributes) | Добавили метод для установки авиа атрибутов на отгрузку. |\n| [/deliveries/get-plane-attributes](#operation/GetPlaneAttributes) | Добавили метод для получения авиа атрибутов отгрузки. |\n| [/supply/get-tms-order-id/{supplyId}](#operation/GetTmsOrderId) | Добавили метод для получения идентификатора заявки ТМС по идентификатору поставки. |\n|[/cargo/get](#operation/cargo_get) <br> [/cargo/receive](#operation/cargo_receive) <br> [/cargo/get-content](#operation/cargo_get-content) <br> [/cargo/get-label](#operation/cargo_get-label)| Добавили методы для работы с грузоместами. |\n| [/deliveries/arrive](#operation/deliveries_arrive) | Обновили название метода. |\n| [/deliveries/finish-acceptance](#operation/deliveries_finish-acceptance) | Обновили название и описание метода. |\n| [/postings/get-info](#operation/postings_get-info)<br>[/postings/barcode/get-info](#operation/postings_barcode_get-info) | Удалили параметры `postings.agentHazardClass` и `postings.agentMeasurements` из ответа методов. |\n| [/documents/get-file/{entityType}/{documentType}/{id}](#operation/documents_get-file_entity) | Обновили описание метода. <br> Обновили описание параметра `entityType` в запросе метода. |\n| [/supply/create](#operation/supply_create) | Обновили описание метода. |\n| [/supply/remove-postings](#operation/supply_remove-postings)<br>[/supply/barcode/remove-postings](#operation/supply_barcode_remove-postings) <br> [/supply/set-agent-attributes](#operation/supply_set-agent-attributes) <br> [/postings/receive](#operation/postings_receive)<br>[/postings/barcode/receive](#operation/postings_barcode_receive) | Добавили описание методов. |\n| [/deliveries/get](#operation/deliveries_get) | Добавили параметр `deliveries.type` в ответ метода.  |\n| — | В разделе [**Введение**](#tag/Introduction) добавили контактную информацию для технической поддержки API и интеграции.|\n| — | В разделе [**Введение → Словарь терминов**](#section/Slovar-terminov) добавили термины. |\n| — | В разделе [**Введение → Авторизация**](#section/Avtorizaciya) добавили инструкцию для подключения к API. |\n\n## 10 июля 2025\n\n| Метод | Изменение                                                                                                                      |\n|-------|-------------------------------------------------------------------------------------------------------------------------------------|\n| —     | Обновили схему работы в разделе [**Порядок работы для авиаперевозчиков → Создание авиапоставки**](#section/Sozdanie-aviapostavki).  |\n\n## 3 июня 2025\n\n| Метод                                                                                                                                          | Изменение                                                       |\n|------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|\n| [/documents/get-file/{entityType}/{documentType}/{id}](#operation/documents_get-file_entity) <br> [/documents/get-info/{entityType}/{documentType}/{id}](#operation/documents_get-info_entity) | Обновили описание параметров `entityType` и `id` в запросах методов. |\n| [/supply/create](#operation/supply_create) | Добавили параметр `deliveryId` в запрос метода.               |\n\n## 24 марта 2025\n\n| Метод                                                                                                                                                                                          | Изменение                                                                                                                                       |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/supply/set-agent-attributes](#operation/supply_set-agent-attributes)                                                                                                                         | Добавили метод для установки характеристик перевозчика.                                                                                              |\n| /postings/set-agent-measurements <br> /postings/barcode/set-agent-measurements <br> /postings/set-hazard-class <br> /postings/barcode/set-hazard-class                                         | Методы устарели, удалили их из документации.                                                                                                         |\n| [/postings/get-info](#operation/postings_get-info) <br> [/postings/barcode/get-info](#operation/postings_barcode_get-info)                                                                     | В ответах методов: <br> • добавили параметр `postings.needReturn`; <br> • обновили описание параметра `postings.isReturn`.                           |\n| [/deliveries/get](#operation/deliveries_get)                                                                                                                                                   | Добавили параметр `includeReturns` в запрос метода.                                                                                                  |\n| [/supply/create](#operation/supply_create )                                                                                                                                                    | Добавили описание метода.                                                                                                                            |\n| [/return-deliveries/get](#operation/return-deliveries_get)                                                                                                                                     | Обновили описание параметра `status` в запросе метода.                                                                                               |\n| [/documents/get-file/{entityType}/{documentType}/{id}](#operation/documents_get-file_entity) <br> [/documents/get-info/{entityType}/{documentType}/{id}](#operation/documents_get-info_entity) | Обновили описание параметров `entityType` и `documentType` в запросах методов.                                                                       |\n| [/return-deliveries/approve-order](#operation/return-deliveries_approve-order)                                                                                                                 | Обновили описание метода. <br> Обновили описание параметра `airWaybills.weight` в запросе метода.                                                    |\n| —                                                                                                                                                                                              | Обновили схему работы в разделе [**Порядок работы для авиаперевозчиков → Приёмка на складе перевозчика**](#section/Priyomka-na-sklade-perevozchika). |\n\n## 10 февраля 2025\n\n| Метод                                                                                                                                          | Изменение                                                                                                                                        |\n|------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/supply/remove-postings](#operation/supply_remove-postings) <br> [/supply/barcode/remove-postings](#operation/supply_barcode_remove-postings) | Добавили методы для удаления отправления из поставки со склада перевозчика по идентификатору и штрихкоду.                                             |\n| [/supply/set-cargo](#operation/supply_set-cargo)                                                                                               | Добавили метод для работы с меткой ГВС.                                                                                                               |\n| [/return-deliveries/get-content](#operation/return-deliveries_get-content)                                                                     | Добавили метод для получения состава возвратной отгрузки.                                                                                             |\n| [/return-deliveries/approve-order](#operation/return-deliveries_approve-order )                                                                | Добавили метод для привязки заявки ТМС к возвратной отгрузке.                                                                                         |\n| [/deliveries/get](#operation/deliveries_get)                                                                                                   | Добавили параметр `deliveries.isReturn` в ответ метода.                                                                                               |\n| [/postings/return](#operation/postings_return) <br> [/postings/barcode/return](#operation/postings_barcode_return)                             | Обновили описание параметра `returnReason` в запросе методов.                                                                                         |\n| /return-deliveries/get-postings                                                                                                                | Метод устарел, удалили его из документации.                                                                                                           |\n| —                                                                                                                                              | Добавили схему работы в раздел [**Порядок работы для авиаперевозчиков → Возвратные отгрузки из регионов**](#section/Vozvratnye-otgruzki-iz-regionov). |\n| —                                                                                                                                              | Обновили схему работы в разделе [**Порядок работы для авиаперевозчиков → Создание авиапоставки**](#section/Sozdanie-aviapostavki).                    |\n\n\n## 8 ноября 2024\n\n| Метод                                                                                                                    | Изменение                                                                                                                                             |\n|--------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/return-deliveries/get](#operation/return-deliveries_get)                                                               | Добавили метод для получения информации о возвратных отгрузках.                                                                                            |\n| [/return-deliveries/get-postings](#operation/return-deliveries_get-postings)                                             | Добавили метод для получения состава возвратной отгрузки.                                                                                                  |\n| [/documents/get-file/{entityType}/{documentType}/{id}](#operation/documents_get-file_entity)                             | Добавили метод для получения файла документа.                                                                                                              |\n| [/documents/get-info/{entityType}/{documentType}/{id}](#operation/documents_get-info_entity)                             | Добавили метод для получения даты и номера документа.                                                                                                      |\n| /documents/get-file/{type}/{supplyId}                                                                                    | Удалили метод из документации. Используйте вместо него метод [/documents/get-file/{entityType}/{documentType}/{id}](#operation/documents_get-file_entity). |\n| [/postings/get-info](#operation/postings_get-info)<br>[/postings/barcode/get-info](#operation/postings_barcode_get-info) | Добавили параметр `postings.exemplars.link` в ответы методов.                                                                                              |\n| [/postings/return](#operation/postings_return)<br>[/postings/barcode/return](#operation/postings_barcode_return)         | Добавили статус `Hazard` для параметра `returnReason` в запросе методов.                                                                                   |\n| —                                                                                                                        | Обновили схему работы в разделе [**Порядок работы для авиаперевозчиков → Создание авиапоставки**](#section/Sozdanie-aviapostavki).                 |\n\n## 1 октября 2024\n\n| Метод                                                                                                                   | Изменение                                                                                                |\n|-------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------|\n| [/deliveries/get-postings](#operation/deliveries_get-postings)                                                          | Добавили метод для получения состава отгрузки.                                                                |\n| /postings/set-agent-measurements <br> /postings/barcode/set-agent-measurements                                          | Добавили методы для изменения объёмно-весовых характеристик отправления по идентификатору и штрихкоду.        |\n| /postings/set-hazard-class <br> /postings/barcode/set-hazard-class                                                      | Добавили методы для указания класса опасности отправления по идентификатору и штрихкоду.                      |\n| [/documents/get-file/{type}/{supplyId}](#operation/documents_get-file)                                                  | Добавили метод для получения документа на поставку.                                                           |\n| [/postings/get-info](#operation/postings_get-info)<br>[/postings/barcode/get-info](#operation/postings_barcode_get-info) | Добавили параметры `postings.hazardClass`, `postings.agentHazardClass`, `postings.exemplars` в ответ метода.  |"
    },
    {
      "name": "Deliveries",
      "x-displayName": "Отгрузки"
    },
    {
      "name": "Postings",
      "x-displayName": "Отправления"
    },
    {
      "name": "Supply",
      "x-displayName": "Поставки"
    },
    {
      "name": "Push",
      "x-displayName": "Уведомления"
    },
    {
      "name": "Documents",
      "x-displayName": "Документы"
    },
    {
      "name": "Cargo",
      "x-displayName": "Грузоместа"
    },
    {
      "name": "ReturnDeliveries",
      "x-displayName": "Возвратные отгрузки из регионов"
    }
  ],
  "paths": {
    "/deliveries/get": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Получить список отгрузок",
        "operationId": "deliveries_get",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.GetDeliveries.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Список отгрузок",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.GetDeliveries.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/get-postings": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Получить состав отгрузки",
        "operationId": "deliveries_get-postings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.GetDeliveryPostings.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Состав отгрузки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.GetDeliveryPostings.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/get-content": {
      "post": {
        "summary": "Получть информацию о составе отгрузки",
        "operationId": "deliveries_get-content",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.GetDeliveryContent.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Состав отгрузки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.GetDeliveryContent.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Deliveries"
        ]
      }
    },
    "/deliveries/arrive": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Начать приёмку на ЦМН",
        "operationId": "deliveries_arrive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.Arrival.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Приёмка начата",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.Arrival.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/finish-acceptance": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Завершить приёмку на ЦМН",
        "description": "Непринятые предметы будут отмечены как недостача.",
        "operationId": "deliveries_finish-acceptance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.FinishAcceptance.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Приёмка завершена"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/send-postings": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Отправить возвраты в Ozon",
        "operationId": "deliveries_send-postings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.SendPostings.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Возвраты отправлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.SendPostings.ResponseById"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/barcode/send-postings": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Отправить возвраты в Ozon по штрихкоду",
        "operationId": "deliveries_barcode_send-postings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.SendPostings.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Возвраты отправлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.SendPostings.ResponseByBarcode"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/add-cargo": {
      "post": {
        "summary": "Добавить грузоместа на отгрузку",
        "operationId": "AddCargo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.AddCargo.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Грузоместа добавлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.AddCargo.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Deliveries"
        ]
      }
    },
    "/deliveries/remove-cargo": {
      "post": {
        "summary": "Удалить грузоместа из отгрузки",
        "operationId": "RemoveCargo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.RemoveCargo.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Грузоместа удалены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.RemoveCargo.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Deliveries"
        ]
      }
    },
    "/deliveries/cancel": {
      "post": {
        "summary": "Отменить отгрузку",
        "operationId": "Cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.Cancel.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Отгрузка отменена"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Deliveries"
        ]
      }
    },
    "/deliveries/set-plane-attributes": {
      "post": {
        "summary": "Проставить авиа атрибуты на отгрузку",
        "operationId": "SetPlaneAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.SetPlaneAttributes.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Атрибуты проставлены"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Deliveries"
        ]
      }
    },
    "/deliveries/get-plane-attributes": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Получить авиа атрибуты по идентификатору рейса",
        "operationId": "GetPlaneAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Deliveries.GetPlaneAttributes.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Атрибуты получены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Deliveries.GetPlaneAttributes.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/get-info": {
      "post": {
        "tags": [
          "Postings"
        ],
        "operationId": "postings_get-info",
        "summary": "Получить информацию об отправлениях",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.GetPostingsInfo.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Информация об отправлениях",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.GetPostingsInfo.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышено количество запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/barcode/get-info": {
      "post": {
        "tags": [
          "Postings"
        ],
        "operationId": "postings_barcode_get-info",
        "summary": "Получить информацию об отправлениях по штрихкоду",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.GetPostingsInfo.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Информация об отправлениях",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.GetPostingsInfo.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышено количество запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/receive": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Принять отправления",
        "description": "Используйте метод после фактической приёмки отправлений. Если отправления попали в недостачу, используйте метод для извлечения их из недостачи и размещения на складе перевозчика.",
        "operationId": "postings_receive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.ReceivePostings.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Список отправлений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.ReceivePostings.ResponseById"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/barcode/receive": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Принять отправления по штрихкодам",
        "description": "Используйте метод после фактической приёмки отправлений. Если отправления попали в недостачу, используйте метод для извлечения их из недостачи и размещения на складе перевозчика.",
        "operationId": "postings_barcode_receive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.ReceivePostings.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Список отправлений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.ReceivePostings.ResponseByBarcode"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/return": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Изменить статус отправления на возвратный",
        "operationId": "postings_return",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.ReturnPostings.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус изменён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.ReturnPostings.ResponseById"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/barcode/return": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Изменить статус отправления на возвратный по штрихкоду",
        "operationId": "postings_barcode_return",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.ReturnPostings.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус изменён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.ReturnPostings.ResponseByBarcode"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/arrive": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Сообщить о прибытии заказа на точку выдачи",
        "description": "В личном кабинете получателя отобразится информация, что заказ можно забирать.",
        "operationId": "postings_arrive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.PostingsArrival.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Уведомление отправлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.PostingsArrival.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/barcode/arrive": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Сообщить о прибытии заказа на точку выдачи по штрихкоду",
        "description": "В личном кабинете получателя отобразится информация, что заказ можно забирать.",
        "operationId": "postings_barcode_arrive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.PostingsArrival.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Уведомление отправлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.PostingsArrival.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/giveout-check": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Разрешение на выдачу получателю",
        "description": "С помощью метода можно проверить, что штрихкод для выдачи корректный.",
        "operationId": "postings_giveout-check",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOutCheck.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Информация о корректности штрихкода",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOutCheck.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/giveout": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Сообщить о выдаче заказа",
        "operationId": "postings_giveout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOut.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Заказ выдан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOut.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/barcode/giveout": {
      "post": {
        "tags": [
          "Postings"
        ],
        "summary": "Сообщить о выдаче заказа по штрихкоду",
        "operationId": "postings_barcode_giveout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOut.RequestByBarcode"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOut.RequestByBarcode"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOut.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Заказ выдан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Postings.PostingsGiveOut.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/create": {
      "post": {
        "tags": [
          "Supply"
        ],
        "summary": "Создать поставку со склада перевозчика",
        "description": "Ozon рекомендует создавать поставку в день приёмки отгрузки на складе перевозчика.",
        "operationId": "supply_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supply.Create.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Поставка создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Supply.Create.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/add-postings": {
      "post": {
        "tags": [
          "Supply"
        ],
        "summary": "Добавить отправления в поставку со склада перевозчика",
        "operationId": "supply_add-postings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supply.AddPostings.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Отправления добавлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Supply.AddPostings.ResponseById"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышено количество запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/barcode/add-postings": {
      "post": {
        "tags": [
          "Supply"
        ],
        "operationId": "supply_barcode_add-postings",
        "summary": "Добавить отправления в поставку со склада перевозчика по штрихкоду",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supply.AddPostings.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Отправления добавлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Supply.AddPostings.ResponseByBarcode"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышено количество запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/remove-postings": {
      "post": {
        "tags": [
          "Supply"
        ],
        "summary": "Удалить отправления из поставки со склада перевозчика",
        "description": "После удаления отправлений из поставки сформируйте документы заново.",
        "operationId": "supply_remove-postings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supplies.RemovePostings.RequestById"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Отправления удалены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Supplies.RemovePostings.ResponseById"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышено количество запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/barcode/remove-postings": {
      "post": {
        "tags": [
          "Supply"
        ],
        "summary": "Удалить отправления из поставки со склада перевозчика по штрихкоду",
        "description": "После удаления отправлений из поставки сформируйте документы заново.",
        "operationId": "supply_barcode_remove-postings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supplies.RemovePostings.RequestByBarcode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Отправления удалены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Supplies.RemovePostings.ResponseByBarcode"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышено количество запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/set-cargo": {
      "post": {
        "tags": [
          "Supply"
        ],
        "summary": "Добавить метку ГВС",
        "operationId": "supply_set-cargo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supplies.SetCargo.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Метка добавлена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Supplies.SetCargo.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышено количество запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/send": {
      "post": {
        "tags": [
          "Supply"
        ],
        "summary": "Отправить поставку со склада перевозчика",
        "operationId": "supply_send",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supply.Send.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Поставка отправлена"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/set-agent-attributes": {
      "post": {
        "tags": [
          "Supply"
        ],
        "summary": "Установить характеристики перевозчика",
        "description": "Если вы повторно вызовите метод, атрибуты поставки будут обновлены. Ограничений на время вызова метода нет.",
        "operationId": "supply_set-agent-attributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Supplies.SetAgentAttributes.Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Атрибуты установлены"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supply/get-tms-order-id/{supplyId}": {
      "get": {
        "summary": "Получить идентификатор заявки ТМС",
        "operationId": "GetTmsOrderId",
        "parameters": [
          {
            "name": "supplyId",
            "description": "Идентификатор поставки.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Идентификатор заявки ТМС",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.ThirdPartyDelivery.Api.UseCases.Handlers.Supplies.GetTmsOrderId.IFindSupplyTmsOrderIdHandler.Response"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Supply"
        ]
      }
    },
    "/push/deliveries/sent-notification": {
      "post": {
        "tags": [
          "Push"
        ],
        "summary": "Отгрузка в пути на склад перевозчика",
        "description": "Метод используют сотрудники Ozon, чтобы уведомить перевозчика.",
        "operationId": "push_deliveries_sent-notification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Push.DeliveriesSentNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Уведомление отправлено"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Превышен лимит запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/push/deliveries/receive-notification": {
      "post": {
        "tags": [
          "Push"
        ],
        "summary": "Отгрузка принята на складе Ozon",
        "description": "Метод используется сотрудниками Ozon.",
        "operationId": "push_deliveries_receive-notification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Push.DeliveriesReceivedNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус обновлён"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Core.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
[...]
