{
  "openapi": "3.0.1",
  "info": {
    "title": "API логистической платформы Ozon",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://ir.ozone.ru/s3/helppartners/ozon-logo-for-api-referral.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "В документе описаны методы Ozon Logistic Platform API.\n\n> Информационная платформа и сообщество разработчиков [Ozon for Dev](https://dev.ozon.ru/)\n\n**Окружения**:\n- Тестовая среда: https://api-logistic-platform.ozonru.me:443\n- Рабочая среда: https://api-logistic-platform.ozon.ru:443\n"
  },
  "servers": [
    {
      "url": "https://api-logistic-platform.ozon.ru/"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Intro",
        "Process",
        "News"
      ]
    },
    {
      "name": "Методы API",
      "tags": [
        "Authorization",
        "Information",
        "Postings",
        "PostingEvents",
        "QualityControl",
        "Cancellation",
        "Points",
        "DropOffPoints",
        "BrokerInformation",
        "Routes",
        "Services",
        "Manifests",
        "Carriages",
        "Reports",
        "PersonalData",
        "Push"
      ]
    },
    {
      "name": "Приложения",
      "tags": [
        "Errors",
        "ErrorCodes"
      ]
    }
  ],
  "tags": [
    {
      "name": "Intro",
      "x-displayName": "Введение",
      "description": "Ozon Logistic Platform API — программный интерфейс для интеграции логистических компаний (3PL) с логистической \nплатформой Ozon.\n\nС помощью Logistic Platform API можно:\n- получить список провайдеров, географических объектов, а также событий трекинга;\n- отследить заказы и получить о них информацию;\n- создать и обновить пункты выдачи;\n- создать, получить и обновить список маршрутов;\n- создать, получить и обновить список услуг доставки."
    },
    {
      "name": "Process",
      "x-displayName": "Порядок работы с методами",
      "description": "## Первичная настройка для API MVP\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/SetUp_MVP_v4_1685344728.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/SetUp_MVP_v4_1685344728.png\"></a>\n\nДля подключения к API обратитесь к менеджеру Ozon, чтобы получить пару ключей `ClientID` и `ClientSecret`.\n\nС помощью метода [/GetAuthToken](#operation/Token) получите токены авторизации и затем передайте информацию об \nуслугах доставки, точках выдачи заказов и маршрутах.\n\n- Услуги доставки, которые будут доступны продавцу для подключения на своём складе отгрузки.\n\n    1. [POST /v1/Services](#operation/PostServices) — создайте услуги доставки.\n       \n    2. [GET /v1/Services](#operation/GetServices) — проверьте, что в системе Ozon услуги доставки отображаются правильно.\n\n    3. [PUT /v1/Services](#operation/PutServices) — измените существующую услугу доставки.\n    \n- Точки выдачи, которые будут отображаться клиенту при оформлении заказа.\n\n    1. [GET /v1/Providers](#operation/Providers) — получите список 3PL-провайдеров, зарегистрированных в Ozon.\n       \n    2. [POST /v1/Points](#operation/PostPoints) — создайте точки выдачи заказов.\n       \n    3. [GET /v1/Points](#operation/GetPoints) — проверьте, что в системе Ozon точки выдачи заказов отображаются правильно.\n\n    4. [PUT /v1/Points](#operation/PutPoints) — измените существующие точки выдачи заказов.\n    \n- Маршруты, по которым будет осуществляться доставка.\n\n    1. [GET /v1/Geography](#operation/Geography) — получите информацию о доступной географии Ozon.\n    \n    2. [POST /v1/Routes](#operation/Routes) — создайте маршрут. Этим методом также можно его изменить.\n    \n    3. [POST /v2/BuildRoutesReport](#operation/BuildRoutesReport) — сгенерируйте отчёт со всеми маршрутами, чтобы проверить, что они отображаются в системе Ozon правильно.\n       \n       Вы также можете использовать метод [GET /v1/RoutesByRegion](#operation/RoutesByRegion), чтобы получить список\n       маршрутов по регионам доставки и отгрузки и проверить, правильно ли они отображаются в системе Ozon.\n    \n## Первичная настройка для API Aggregator\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/SetUp_Aggregator_v4_1685344726.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/SetUp_Aggregator_v4_1685344726.png\"></a>\n\nВсе шаги настройки API для схемы Aggregator идентичны [шагам для схемы MVP](#section/Pervichnaya-nastrojka-dlya-API-MVP). \nСначала выполните их, а потом передайте информацию о пунктах приёма, где будут приниматься заказы на первой миле:\n\n1. [POST /v1/DropOffPoints](#operation/PostDropOffPoints) — создайте пункт приёма заказов.\n\n2. [GET /v1/DropOffPoints](#operation/GetDropOffPoints) — получите список пунктов приёма, чтобы проверить, что они отображаются в системе Ozon правильно.\n\n3. [PUT /v1/DropOffPoints](#operation/PutDropOffPoints) — измените существующий пункт приёма заказов.\n       \n## Интеграция по схеме MVP\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/передача-заказов-new-ru_1665048542.png\" target=\"_blank\"> <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/передача-заказов-new-ru_1665048542.png\"></a>\n\n1. Продавец комплектует заказы и передаёт 3PL-провайдеру для доставки. \n   \n2. 3PL-провайдер регистрирует заказ, и ему присваивается трек-номер.\n\n   Дополнительную информацию о заказе можно получить с помощью метода [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo).\n\n3. Продавец в личном кабинете Ozon устанавливает трек-номер к каждому заказу. В результате образуется связь между \n   трек-номером 3PL-провайдера и номером заказа Ozon.\n   \n4. 3PL-провайдер с помощью метода [GET /v1/NewPostings](#operation/NewPostings) получает перечень заказов, которые \n   необходимо отслеживать.\n\n5. 3PL-провайдер с помощью метода [POST /v1/PostingEvents](#operation/PostingEvents) передаёт в систему Ozon статусы по \n   заказам. Статусы Ozon можно получить с помощью [GET /v1/EventTypes](#operation/EventTypes).\n\n6. Доставка считается выполненной при получении терминального статуса заказа:\n    - `Event_id = 402`: заказ доставлен получателю — при курьерской доставке.\n    - `Event_id = 502`: заказ получен в пункте выдачи — при самовывозе из пункта выдачи или постамата.\n\n## Интеграция по схеме Aggregator\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/aggregator-april-2023-ru_1680513813.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/aggregator-april-2023-ru_1680513813.png\"></a>\n\n1. Клиент заказывает товар на Ozon и полностью оплачивает его.\n\n2. Продавец получает информацию о заказе, комплектует его и передаёт 3PL-провайдеру для доставки.\n\n3. 3PL-провайдер получает список новых заказов: [GET /v2/GetNewParcels](#operation/GetNewPracelsV2).\n\n4. 3PL-провайдер получает паспортные данные по каждому заказу: [GET /v1/PersonalData](#operation/personalData).\n\n5. 3PL-провайдер регистрирует заказ: [POST /v1/ParcelResponse](#operation/parcelResponse). \n   \n   Если заказ успешно зарегистрирован, ему присваивается трек-номер и статус «OK», если нет, то указывается причина отмены и статус «Declined».\n\n6. 3PL-провайдер может получить информацию по интересующим его заказам с помощью метода [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) и загрузить свой формат этикетки к каждому заказу с помощью метода [POST /v2/PostingDocuments](#operation/postingDocuments). Продавец сможет распечатать эту этикетку в личном кабинете и прикрепить её к заказу.\n\n7. Ozon формирует манифест за 6 часов до окончания времени на сборку, установленного продавцом на складе отгрузки.\n\nПосле этого 3PL-провайдер:\n\n1. Получает информацию о манифесте: [GET /v1/Manifest](#operation/manifest).\n\n2. Регистрирует манифест: [POST /v1/ManifestResponse](#operation/manifestResponse).<br>\n   В зависимости от ответа 3PL-провайдер выполняет одно из действий:\n   - устанавливает статус «Подтверждён»,\n   - устанавливает статус «Отмена» и указывает причину отказа.\n\n   Он может получить документы по манифесту с помощью метода [GET /v1/ManifestDocument](#operation/manifestDocument).\n\n3. Принимает заказы от продавца на складе первой мили. На этом шаге 3PL-провайдер может загрузить документы по манифесту: [POST /v1/ManifestDocuments](#operation/manifestUpload).\n\n4. Получает список всех зарегистрированных заказов, по которым ещё не указаны статусы: [GET /v1/NewPostings](#operation/NewPostings).\n\n5. Передаёт в систему Ozon статус о приёме заказа на складе первой мили: [POST /v1/PostingEvents](#operation/PostingEvents).\n   Все статусы Ozon можно получить с помощью [GET /v1/EventTypes](#operation/EventTypes).\n   Список уже установленных статусов на заказе можно получить с помощью [POST /v1/GetPostingEvents](#operation/GetPostingEvents).\n\n6. Устанавливает объёмно-весовые характеристики на заказы, если они не сходятся с заявленными продавцом: [POST /v1/PostingAttributes](#operation/postingAttributes). \n \n7. Передаёт в систему Ozon остальные статусы по заказам: [POST /v1/PostingEvents](#operation/PostingEvents).\n\n   Доставка считается выполненной при получении терминального статуса заказа:\n   - `Event_id = 402`: заказ доставлен получателю — при курьерской доставке.\n   - `Event_id = 502`: заказ получен в пункте выдачи — при самовывозе из пункта выдачи или постамата.\n\n8. Передаёт итоговую стоимость доставки по каждому заказу: [POST /v1/ParcelDeliveryCost](#operation/ParcelDeliveryCost).\n\n## Условная отмена заказов\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/отмена-отправления-new-2-ru_1665048540.png\" target=\"_blank\"> <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/logistic-platform-api/ru/отмена-отправления-new-2-ru_1665048540.png\"></a>\n\nOzon получает информацию об отмене заказа покупателем и передаёт её 3PL-провайдеру помощью метода [/v1/PostingsToCancel](#operation/PostingsToCancel).\n\n3PL-провайдер может:\n\n- Подтвердить отмену заказа (Canceled).\n- Отказать в отмене (Declined).\n- Уточнить информацию об отмене (Accepted). При таком ответе у 3PL-провайдера два часа, чтобы с помощью метода [/v1/PostingsCancelResponse](#operation/CancelResponse) передать информацию об отмене или отказе отмены.\n\n  Если 3PL-провайдер в установленное время не передаёт ответ, Ozon автоматически рассматривает это как отказ отмены."
    },
    {
      "name": "News",
      "x-displayName": "Обновления",
      "description": "## 20 августа 2026\n\n| Метод                                                                                                                  | Изменение                                                   |\n|------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes)<br>[POST /v1/BrokerInfoUpdate](#operation/BrokerInfoUpdate) | Обновили описание параметра `BrokerName` в запросе методов. |\n\n## 18 августа 2026\n\n| Метод                                                      | Изменение                                                   |\n|------------------------------------------------------------|-------------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Обновили описание параметра `Customs` в запросе метода.     |\n| [POST /v1/BrokerInfoUpdate](#operation/BrokerInfoUpdate)   | Обновили описание параметра `CustomsCode` в запросе метода. |\n\n## 5 августа 2026\n\n| Метод                                                      | Изменение                                                   |\n|------------------------------------------------------------|-------------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Обновили описание параметра `Customs` в запросе метода.     |\n| [POST /v1/BrokerInfoUpdate](#operation/BrokerInfoUpdate)   | Обновили описание параметра `CustomsCode` в запросе метода. |\n\n## 11 июня 2026\n\n| Метод                                                      | Изменение                                                   |\n|------------------------------------------------------------|-------------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Обновили описание параметра `Customs` в запросе метода.     |\n| [POST /v1/BrokerInfoUpdate](#operation/BrokerInfoUpdate)   | Обновили описание параметра `CustomsCode` в запросе метода. |\n\n## 12 мая 2026\n\n| Метод                                                                              | Изменение                                                                          |\n|------------------------------------------------------------------------------------|------------------------------------------------------------------------------------|\n| [POST /v2/GetOrCreateReceiverProxyPhone](#operation/GetOrCreateReceiverProxyPhone) | Добавили метод для получения временного и добавочного номеров телефона получателя. |\n\n## 20 апреля 2026\n\n| Метод | Изменение                                                                                                 |\n|-------|-----------------------------------------------------------------------------------------------------------------|\n| —     | В разделе **[Cписок EventId → Таможня](/#section/Tamozhnya)** обновили описание статусов `201`, `203` и `204`.  |\n\n## 17 марта 2026\n\n| Метод                                                    | Изменение                                                           |\n|----------------------------------------------------------|---------------------------------------------------------------------|\n| [POST /v2/PostingDocuments](#operation/postingDocuments) | Обновили описание параметра `reportType` в запросе метода.          |\n| [GET /v2/PostingDocument](#operation/PostingDocument)    | Обновили описание параметра `reportType` в запросе и ответе метода. |\n\n## 10 марта 2026\n\n| Метод                                                          | Изменение                                                |\n|----------------------------------------------------------------|----------------------------------------------------------|\n| [POST /v1/QualityControlPhoto](#operation/QualityControlPhoto) | Обновили описание параметра `fileType` в запросе метода. |\n\n## 2 марта 2026\n\n| Метод                                                           | Изменение                                                            |\n|-----------------------------------------------------------------|----------------------------------------------------------------------|\n| [/v1/AddOrUpdatePickupCodes](#operation/AddOrUpdatePickupCodes) | Добавили метод для добавления и обновления кодов выдачи отправлений. |\n| —                                                               | Удалили параметр `Errors.Details` из всех методов.                   |\n\n## 10 февраля 2026\n\n| Метод                                                  | Изменение                                                                                                                                                                 |\n|--------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                      | В разделе [**Порядок работы с методами → Интеграция по схеме Aggregator**](#section/Integraciya-po-sheme-Aggregator) указали новый метод для получения списка новых заказов.   |\n| [/v2/GetNewParcels](#operation/GetNewPracelsV2)    | Обновили описание параметра запроса `parcelType` и параметров `Data.data.receiver`, `Data.data.type`, `Data.data.sortingCenter` в ответе метода.                               |\n| [/v2/GetParcelsInfo](#operation/GetPracelsInfoV2) | Обновили описание параметров `Data.data.receiver`, `Data.data.type`, `Data.data.sortingCenter` в ответе метода.                                                                |\n| [/v1/NewPostings](#operation/NewPostings)          | Обновили описание параметра запроса `parcelType`.                                                                                                                              |\n| [/v1/Carriage](#operation/CarriageCreate)         | Добавили параметр `Carriage.SortingCenter` в запрос метода и обновили описание параметров `Carriage.Cargoes.Dimensions` и `Carriage.Cargoes.ProviderCargoId` в запросе метода. |\n| [/v1/LabelsByCarriages](#operation/CarriageLabels) | Обновили описание параметра `Data.Carriages.Cargoes` в ответе метода.                                                                                                          |\n| —  | В разделе **[Cписок EventId → Доставка заказа](/#section/Dostavka-zakaza)** обновили описание статуса `304`.                                                                   |\n| —  | В раздел **[Cписок EventId → Доставка в пункт выдачи](/#section/Dostavka-v-punkt-vydachi)** добавили статус `509`.                                                             |\n| —  | В раздел **[Cписок EventId → Отказы и отмены](/#section/Otkazy-i-otmeny)** добавили статус `633`.                                                                              |\n\n## 3 февраля 2026\n\n| Метод                                                                                       | Изменение                                                                                                                                  |\n|---------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/GetNewParcels](#operation/GetNewPracels) <br> [/v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [/v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [/v2/GetParcelsInfo](#operation/GetPracelsInfoV2) | Добавили параметры `Data.data.product.manufacturer` и `Data.data.product.countryOfOrigin` в ответ методов. |\n\n## 2 февраля 2026\n\n| Метод                                                                                                                                                                                                                             | Изменение                                                         |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2)  | Добавили параметр `Data.data.receiver.phonePin` в ответы методов. |\n\n## 22 января 2026\n\n| Метод                                                                                       | Изменение                                                                                                                                       |\n|---------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                                                           | В раздел **[Cписок EventId → Первая миля и доставка до границы](#section/Pervaya-milya-i-dostavka-do-granicy)** добавили статусы `113` и `114`. |\n\n## 1 ноября 2025\n\n| Метод                                                      | Изменение                                |\n|------------------------------------------------------------|------------------------------------------|\n| [POST /v1/Carriage](#operation/CarriageCreate) <br> [POST /v1/AddOrUpdateDriverInfo](#operation/CarriageAddOrUpdateDriver) <br> [POST /v1/LabelsByCarriages](#operation/CarriageLabels) | Добавили методы для работы с отгрузками. |\n\n## 14 октября 2025\n\n| Метод                                                      | Изменение                                                   |\n|------------------------------------------------------------|-------------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Изменили описание параметра `Customs` в запросе метода.     |\n| [POST /v1/BrokerInfoUpdate](#operation/BrokerInfoUpdate)   | Изменили описание параметра `CustomsCode` в запросе метода. |\n\n## 1 октября 2025\n\n| Метод                                                            | Изменение                                                                                 |\n|------------------------------------------------------------------|-------------------------------------------------------------------------------------------|\n| [POST /v1/UpdateDimensions](#operation/UpdateDimensions)         | Добавили метод для передачи фактических габаритов заказа и изменения точки приёма заказа. |\n| [POST /v1/BrokerInfoUpdate](#operation/BrokerInfoUpdate)         | Добавили метод для обновления данных для таможни.                                         |\n| [POST /v1/UpdateTrackingNumber](#operation/UpdateTrackingNumber) | Добавили метод для обновления трек-номера 3PL.                                            |\n\n## 22 сентября 2025\n\n| Метод                                                                                     | Изменение                                                          |\n|-------------------------------------------------------------------------------------------|--------------------------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices) <br> [PUT /v1/Services](#operation/PutServices) | Добавили параметр `currencyPriceRestrictions` в запрос метода.     |\n| [GET /v1/Services](#operation/GetServices)                                                | Добавили параметр `Data.currencyPriceRestrictions` в ответ метода. |\n\n## 5 сентября 2025\n\n| Метод                      | Изменение                                                                                |\n|----------------------------|------------------------------------------------------------------------------------------|\n| [POST /v1/BrokerVehicleArrivals](#operation/BrokerVehicleArrivals) | Обновили описание метода и изменили описание параметра `vehicleNumber` в запросе метода. |\n\n## 3 сентября 2025\n\n| Метод                                                                                                                                                                                                                             | Изменение                                                   |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2)  | Добавили параметр `Data.data.backgroundId` в ответ методов. |\n\n\n## 12 августа 2025\n\n| Метод                      | Изменение                                                                                       |\n|----------------------------|-------------------------------------------------------------------------------------------------|\n| [POST /v1/BrokerVehicleArrivals](#operation/BrokerVehicleArrivals) | Добавили метод для передачи информации о прибытии транспортного средства к таможенному брокеру. |\n\n## 1 августа 2025\n| Метод                                                                                       | Изменение                                                                                      |\n|---------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------|\n| —                                                                                           | В разделе **[Cписок EventId → Таможня](/#section/Tamozhnya)** добавили описание статуса `227`. |\n| [GET /v1/Services](#operation/GetServices)                                                  | Обновили описание параметра `Data.MaxVolumeWeight` в ответе метода.                            |\n| [POST /v1/Services](#operation/PostServices) <br>[PUT /v1/Services](#operation/PutServices) | Обновили описание параметра `MaxVolumeWeight` в запросе методов.                               |\n\n## 24 июля 2025\n\n| Метод                                                                                                                                                                                                                             | Изменение                                                        |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2)  | Добавили параметр `Data.data.notForPersonalUse` в ответ методов. |\n\n\n## 8 июля 2025\n\n| Метод                                                       | Изменение                                                                                |\n|-------------------------------------------------------------|------------------------------------------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes)  | Добавили параметр `Customs` и обновили описание параметра `BrokerName` в запросе метода. |\n\n## 5 июня 2025\n\n| Метод                                                                                                                                                                                                                            | Изменение                                                                                                                                                   |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2) | Добавили параметр `Data.data.sortingCenter` в ответы методов.                                                                                               |\n| —                                                                                                                                                                                                                                | В разделе **[Пуш-сервис → Ссылка на счёт-фактуру для возврата НДС](#section/Ssylka-na-schyot-fakturu-dlya-vozvrata-NDS)** описали принцип формирования MD5. |\n\n## 30 мая 2025\n\n| Метод                                                                                                                                                                                                                            | Изменение                                                                                                              |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2) | Добавили параметры `Data.data.lozonId` и `Data.data.qcg` в ответы методов.                                             |\n| [POST /v1/PostingAttributes](#operation/postingAttributes)                                                                                                                                                                       | Пометили параметры `ParcelWeight`, `ParcelLength`, `ParcelWidth` и `ParcelHeight` как необязательные в запросе метода. |\n| [POST /v2/PostingDocuments](#operation/postingDocuments)                                                                                                                                                                         | Обновили описание параметра `ReportType` в запросе метода.                                                             |\n| [POST /v1/QualityControlPhoto](#operation/QualityControlPhoto)                                                                                                                                                                   | Добавили метод для загрузки фото.                                                                                      |\n| —                                                                                                                                                                                                                                | Добавили описание статуса `632` в таблицу [**Отказы и отмены**](#section/Otkazy-i-otmeny).                             |\n\n## 28 марта 2025\n\n| Метод                                                                                                                                                                                                                             | Изменение                                                                |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2)                                                                                                                        | Добавили параметр `limit` в запросы методов.                             |\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2)  | Добавили параметр `Data.data.additionalTrackingNumber` в ответы методов. |\n\n## 28 февраля 2025\n\n| Метод                                              | Изменение                                                                                               |\n|----------------------------------------------------|---------------------------------------------------------------------------------------------------------|\n| [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2) <br> [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) | Добавили параметры `Data.data.product.dangerous` и `Data.data.product.dangerousClass` в ответы методов. |\n\n## 23 декабря 2024\n\n| Метод                                                                                                                                                                                                                            | Изменение                                                        |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------|\n| [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2) <br> [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) | Добавили параметр `Data.data.sender.Messengers` в ответ методов. |\n\n## 12 ноября 2024\n\n| Метод                                        | Изменение                                      |\n|----------------------------------------------|------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices) | Удалили параметр `IsActive` из запроса метода. |\n\n## 31 октября 2024\n\n| Метод                                                                                                                                                         | Изменение                                                                                                                                                                                                                                                                   |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /v1/Points](#operation/PostPoints) <br> [PUT /v1/Points](#operation/PutPoints)                                                                          | Добавили параметр `Name` в запросах методов.                                                                                                                                                                                                                                |\n| [GET /v1/DropOffPoints](#operation/GetDropOffPoints)                                                                                                          | Добавили параметры `IsActive` в запрос и `PhoneNumbers` в ответ метода.                                                                                                                                                                                                     |\n| [POST /v1/DropOffPoints](#operation/PostDropOffPoints) <br> [PUT /v1/DropOffPoints](#operation/PutDropOffPoints)                                              | Добавили параметр `PhoneNumbers` в запросах методов.                                                                                                                                                                                                                        |\n| [GET /v1/ManifestDocument](#operation/manifestDocument) <br> [POST /v1/ManifestDocuments](#operation/manifestUpload) <br> [GET /v1/Report](#operation/report) | Пометили все параметры в запросах методов как обязательные.                                                                                                                                                                                                                 |\n| [POST /v1/Reports](#operation/reports)                                                                                                                        | Пометили параметры `ReportType` и `ReportData` в запросе метода как обязательные.                                                                                                                                                                                           |\n| [GET /v1/PersonalData](#operation/personalData)                                                                                                               | Пометили параметр `postingNumber` в запросе метода как обязательный.                                                                                                                                                                                                        |\n| [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2)                                                                                                        | Обновили описание параметра `data.receiver.lift_type` в ответе метода.                                                                                                                                                                                                      |\n| —                                                                                                                                                             | В раздел [Пуш-сервис](#tag/Push) добавили описание пушей [Ссылка на счёт-фактуру для возврата НДС](#section/Ssylka-na-schyot-fakturu-dlya-vozvrata-NDS): `InvoiceDate`, `InvoiceDate`, `InvoiceNumber`, `InvoicePrice`, `InvoicePriceCurrency`, `HsCodes`, `Sku`, и `Code`. |\n\n## 25 сентября 2024\n\n| Метод                                                  | Изменение                                       |\n|--------------------------------------------------------|-------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Добавили параметр `BrokerName` в запрос метода. |\n\n## 5 сентября 2024\n\n| Метод    | Изменение                                                              |\n|----------|------------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) | Обновили описание параметра `data.receiver.lift_type` в ответе метода. |\n\n\n## 22 августа 2024\n\n| Метод | Изменение                                                                                                                                                               |\n|-------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | В разделе **[Cписок EventId → Доставка в пункт выдачи](https://docs.ozon.ru/api/logistic-platform/#section/Dostavka-v-punkt-vydachi)** добавили описание статуса `507`. |\n\n\n## 19 июля 2024\n\n| Метод                                                                                                                                                                                                                                | Изменение                                                                                      |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------|\n| [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [GET /v1/GetNewParcels](#operation/GetNewPracels) | В ответах методов заменили параметр `data.receiver.comment` на `data.receiver.addressAddInfo`. |\n\n## 15 июля 2024\n\n| Метод                                                                                                                                                                                                                            | Изменение                                                                                                                                                                                                                                                        |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) <br> [GET /v2/GetNewParcels](#operation/GetNewPracelsV2) <br> [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) <br> [POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2) | В ответах методов: <br>• Добавили параметры `data.receiver.apartment`, `data.receiver.entrance`, `data.receiver.floor`, `data.receiver.intercom` и `data.receiver.lift_type`. <br>• Заменили параметр `data.receiver.addressAddInfo` на `data.receiver.comment`. |\n\n## 28 июня 2024\n\n| Метод | Изменение                                                                                       |\n|-------|-------------------------------------------------------------------------------------------------|\n| —     | В раздел [**Пуш-сервис**](#tag/Push) добавили параметр `md5` для сообщений об условных отменах. |\n\n\n## 21 июня 2024\n\n| Метод                                                    | Изменение                                               |\n|----------------------------------------------------------|---------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Добавили параметр `PostingDeclaration` в запрос метода. |\n\n## 11 июня 2024\n\n| Метод                                      | Изменение                                                                           |\n|--------------------------------------------|-------------------------------------------------------------------------------------|\n| [GET /v1/PostingsToCancel](#operation/PostingsToCancel) | Добавили параметр `parcelType` в запрос и `Data.TplIntegrationType` в ответ метода. |\n\n## 3 мая 2024\n\n| Метод                                                     | Изменение                                                         |\n|-----------------------------------------------------------|-------------------------------------------------------------------|\n| [PUT /v1/Services](#operation/PutServices)                | Обновили описание параметра `TransportType` в запросе метода.     |\n| [GET /v1/Services](#operation/GetServices)                | Обновили описание параметра `Data.TransportType` в ответе метода. |\n\n## 1 апреля 2024\n\n| Метод                                   | Изменение                                                                                  |\n|-----------------------------------------|--------------------------------------------------------------------------------------------|\n| [GET /TaxLink](#operation/GetTaxLink)   | Добавили метод для получения информации об оплате таможенных платежей.                     |\n| [POST /TaxLink](#operation/PostTaxLink) | Добавили метод для обновления информации об оплате таможенных платежей.                    |\n| —     | Добавили описание статуса `623` в таблицу [**Отказы и отмены**](#section/Otkazy-i-otmeny). |\n\n## 22 марта 2024\n\n| Метод                                        | Изменение                                                     |\n|----------------------------------------------|---------------------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices) | Обновили описание параметра `TransportType` в запросе метода. |\n\n## 29 ноября 2023\n\n| Метод                                                      | Изменение                                                            |\n|------------------------------------------------------------|----------------------------------------------------------------------|\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Добавили параметр `DropOffCode` в запрос метода.                     |\n| [POST /v1/Services](#operation/PostServices)               | Пометили параметр `FirstMileType` в запросе метода как обязательный. |\n\n## 21 ноября 2023\n\n| Метод | Изменение                                                                                                                                                                                                          |\n|-------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | Добавили описание статусов: <br/>• `218`, `219`, `220`, `221`, `222`, `223`, `224` — в таблицу [**Таможня**](#section/Tamozhnya). <br/>• `620`, `621` — в таблицу [**Отказы и отмены**](#section/Otkazy-i-otmeny). |\n\n## 13 ноября 2023\n\n| Метод                                                                                                             | Изменение                                                                                                                                                    |\n|-------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /v2/GetNewParcels](#operation/GetNewPracelsV2)<br><br>[POST /v2/GetParcelsInfo](#operation/GetPracelsInfoV2) | Добавили новые версии методов для получения информации о заказах. Информацию можно получить на нескольких языках: русском, английском, турецком и китайском. |\n| [GET /v1/GetNewParcels](#operation/GetNewPracels)<br><br>[POST /v1/GetParcelsInfo](#operation/GetPracelsInfo)     | Добавили параметры `data.trackingNumber` и `sender.additionalPhone` в ответы методов.                                                                        |\n\n## 16 августа 2023\n\n| Метод                                        | Изменение                                              |\n|----------------------------------------------|--------------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices) | Временно отключили параметр `PickUp` в запросе метода. |\n\n\n## 13 июля 2023\n\n| Метод                                                                                                         | Изменение                                                              |\n|---------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------|\n| [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo)<br><br>[GET /v1/GetNewParcels](#operation/GetNewPracels) | Добавили параметр `Data.data.product.commercialType` в ответы методов. |\n\n## 6 июля 2023\n\n| Метод  | Изменение                                                                                  |\n|--------|--------------------------------------------------------------------------------------------|\n| —      | Добавили описание статуса `619` в таблицу [**Отказы и отмены**](#section/Otkazy-i-otmeny). |\n\n## 8 июня 2023\n\n| Метод                                                           | Изменение                                                                                                                                            |\n|-----------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /v2/BuildRoutesReport](#operation/BuildRoutesReport)      | Добавили метод для генерации отчёта со всеми маршрутами, созданными в Ozon.                                                                          |\n| [GET /v2/RoutesReportStatus](#operation/RoutesReportStatus)     | Добавили метод для получения статуса генерации отчёта с маршрутами.                                                                                  |\n| [GET /v2/RoutesALLByReportUID](#operation/RoutesAllByReportUID) | Добавили метод для получения отчёта с маршрутами.                                                                                                    |\n| GET /v1/RoutesAll                                               | Метод устарел, удалили его из документации. Чтобы получить список маршрутов, используйте [POST /v2/BuildRoutesReport](#operation/BuildRoutesReport). |\n| [/v2/PostingDocuments](#operation/postingDocuments)             | Обновили версию метода.                                                                                                                              |\n| —                                                               | Удалили раздел «Список методов».                                                                                                                     |\n\n## 25 апреля 2023\n\n| Метод                                                                                              | Изменение                                                        |\n|----------------------------------------------------------------------------------------------------|------------------------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices)<br><br>[PUT /v1/Services](#operation/PutServices) | Пометили параметр `MaxWeight` в запросе метода как обязательный. |\n\n## 7 апреля 2023\n\n| Метод                                                                                              | Изменение                                         |\n|----------------------------------------------------------------------------------------------------|---------------------------------------------------|\n| [GET /v1/Points](#operation/GetPoints)<br><br>[GET /v1/DropOffPoints](#operation/GetDropOffPoints) | Добавили параметр `LocationUid` в ответы методов. |\n\n## 4 апреля 2023\n\n| Метод | Изменение                                                                                                                                                                                                                                                                                              |\n|-------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | Обновили схему в разделе [**Интеграция по схеме Aggregator**](#section/Integraciya-po-sheme-Aggregator), пометили необязательными шаги:<br>• получить информацию о манифесте,<br>• зарегистрировать манифест,<br>• присвоить манифесту статус «Подтверждён»,<br>• присвоить манифесту статус «Отмена». |\n\n## 22 марта 2023\n\n| Метод                                                     | Изменение                                                                                                                                                                                                                     |\n|-----------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n|[POST /v1/Services](#operation/PostServices) <br><br> [PUT /v1/Services](#operation/PutServices)| Удалили параметр `CurrencyPriceLimit` из запросов методов.                                                                                                                                                                    |\n|[GET /v1/Services](#operation/GetServices)| Удалили параметр `Data.CurrencyPriceLimit` из ответа метода.                                                                                                                                                                  |\n| —     | Вынесли информацию о работе по схеме Aggregator экспорт из раздела [**Порядок работы с методами**](#tag/Process) в отдельную [документацию Export API Logistic Platform](https://docs.ozon.ru/api/export-logistic-platform/). |\n\n## 22 февраля 2023\n\n| Метод | Изменение                                                               |\n|---|-------------------------------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices) <br><br> [PUT /v1/Services](#operation/PutServices) | Добавили необязательный параметр `ContractNameLocal` в запросы методов. |\n| [GET /v1/Services](#operation/GetServices) | Добавили параметр `ContractNameLocal` в ответ метода.                   |\n\n## 14 февраля 2023\n\n| Метод                                                                                                      | Изменение                                                                                                       |\n|------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------|\n| [POST /v1/PostingEvents](#operation/PostingEvents)<br>[POST /v2/PostingEvents](#operation/PostingEventsV2) | Пометили параметр `Data.EventMessage` в запросе метода как обязательный.                                        |\n| [POST /v1/ParcelDeliveryCost](#operation/ParcelDeliveryCost)                                               | Добавили параметры `UtilizationCost`, `AdditionalServiceCost`, `StorageCost` и `InsuranceCost` в запрос метода. |\n\n## 8 февраля 2023\n\n| Метод                                  | Изменение                                     |\n|----------------------------------------|-----------------------------------------------|\n| [GET /v1/Points](#operation/GetPoints) | Добавили параметр `OwnerName` в ответ метода. |\n\n## 6 февраля 2023\n\n| Метод | Изменение                                                                                                                                                                                                                                                                                             |\n|-------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /v1/Points](#operation/PostPoints) <br><br> [PUT /v1/Points](#operation/PutPoints) | В запросах методов: <br>• Удалили параметры `Name` и `ProviderID`. <br>• Дополнили описания параметров `Address`, `HowToGet` и `Schedules.IsHoliday`. <br>• Пометили параметр `StoragePeriod` обязательным. <br>• Убрали из параметра `Schedules.Day` значение `0`.                                   |\n| [GET /v1/Points](#operation/GetPoints) | В ответе метода: <br>• Удалили параметр `ProviderID`. <br>• Дополнили описание параметра `Schedules.IsHoliday`. <br>• Убрали из параметра `Schedules.Day` значение `0`.                                                                                                                               |\n| [POST /v1/DropOffPoints](#operation/PostDropOffPoints) <br><br> [PUT /v1/DropOffPoints](#operation/PutDropOffPoints) | В запросах методов: <br>• Удалили параметры `IsActive` и `ProviderID`. <br>• Дополнили описания параметров `AddressString`, `HowToGet`, `Schedules.IsHoliday`, `StoragePeriod` и `Deleted`. <br>• Убрали из параметра `Schedules.Day` значение `0`.                                                   |\n| [GET /v1/DropOffPoints](#operation/GetDropOffPoints) | В ответе метода: <br>• Удалили параметры `IsActive` и `ProviderID`. <br>• Дополнили описания параметров `AddressString`, `HowToGet`, `Schedules.IsHoliday`, `StoragePeriod` и `Deleted`. <br>• Убрали из параметра `Schedules.Day` значение `0`.                                                      |\n| [POST /v1/PostingDocuments](#operation/postingDocuments) | Добавили в описание параметра `ReportType` пункт `ETGB` — таможенная декларация электронной коммерции.                                                                                                                                                                                                |\n| [POST /v1/PostingEvents](#operation/PostingEvents) | Убрали из описания параметра `DeliveryPlanDate` фразу «Параметр обязателен только для событий с типом 111 — Delivery plan date changed».                                                                                                                                                              |\n| — | Дополнили примечания у статусов 103, 104 и 105 в таблице [Первая миля и доставка до границы](#section/Pervaya-milya-i-dostavka-do-granicy).                                                                                                                                                           |\n| — | Добавили статус 618 в таблицу [Отказы и отмены](#section/Otkazy-i-otmeny).                                                                                                                                                                                                                            |\n| [POST /v1/Services](#operation/PostServices) <br><br> [PUT /v1/Services](#operation/PutServices) | В запросах методов: <br>• Пометили параметр `ContractNameRu` обязательным.  <br>• Дополнили описания параметров: `CurrencyPriceLimit`, `MaxPrice`, `MinPrice`, `MaxWeight`, `MinWeight`, `MaxVolumeWeight`, `MaxVolume`, `SumDimensionLimit`, `LongestSideLimit`, `IsPostalService`, `FirstMileType`. |\n| [GET /v1/Services](#operation/GetServices) | В ответе метода дополнили описания параметров: `CurrencyPriceLimit`, `MaxPrice`, `MinPrice`, `MaxWeight`, `MinWeight`, `MaxVolumeWeight`, `MaxVolume`, `SumDimensionLimit`, `LongestSideLimit`, `IsPostalService`, `FirstMileType`.                                                                   |\n| [GET /v1/PostingsToCancel](#operation/PostingsToCancel) | Обновили описание метода и добавили в запрос метода фильтр по терминальным отменам `isTerminalCancel`.                                                                                                                                                                                                |\n| [/v1/PostingsCancelResponse](#operation/CancelResponse) | Обновили описание параметра `NewState` в запросе.                                                                                                                                                                                                                                                     |\n\n## 31 января 2023\n\n| Метод                                                      | Изменение                                                                       |\n|------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [GET /v1/Points/Available](#operation/GetAvailablePoints)  | Добавили метод для получения пунктов выдачи, в которые можно доставлять заказы. |\n| [POST /v1/PostingAttributes](#operation/postingAttributes) | Пометили параметр `ParcelVolumeWeight` как необязательный в запросе метода.     |\n\n## 27 января 2023\n\n| Метод                                                                                                     | Изменение                                                  |\n|-----------------------------------------------------------------------------------------------------------|------------------------------------------------------------|\n| [POST /v2/PostingEvents](#operation/PostingEventsV2)                                 | Добавили метод для установки событий на несколько заказов. |\n\n## 26 января 2023\n\n| Метод                                                                                                     | Изменение                                                                 |\n|-----------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------|\n| [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo)                                                      | Добавили параметр `trackingNumbers` в запрос метода.                      |\n| [POST /v1/GetParcelsInfo](#operation/GetPracelsInfo)<br>[GET /v1/GetNewParcels](#operation/GetNewPracels) | Добавили параметры `parcelDateCreation` и `boxQuantity` в ответы методов. |\n\n\n## 28 декабря 2022\n\n| Метод | Изменение                                                                                                                                                |\n|-------|----------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | Добавили описание пушей [Ссылка на счёт-фактуру для возврата НДС](#section/Ssylka-na-schyot-fakturu-dlya-vozvrata-NDS) в раздел [Пуш-сервис](#tag/Push). |\n\n## 16 декабря 2022\n\n| Метод                                                                                      | Изменение                                                                                                  |\n|--------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------|\n| [GET /v2/PostingDocument](#operation/PostingDocument)                                      | Добавили новую версию метода для получения этикетки в формате 3PL-провайдера.                              |\n| GET /v1/PostingDocument                                                                    | Метод устарел, удалили его из документации. Используйте [/v2/PostingDocument](#operation/PostingDocument). |\n\n## 2 декабря 2022\n\n| Метод                                                                                      | Изменение                                        |\n|--------------------------------------------------------------------------------------------|--------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices)<br>[PUT /v1/Services](#operation/PutServices) | Добавили параметр `LabelType` в запросы методов. |\n| [GET /v1/Services](#operation/GetServices)                                                 | Добавили параметр `LabelType` в ответ метода.    |\n| [POST /v1/ParcelResponse](#operation/parcelResponse)                                       | Обновили описание метода.                        |\n\n\n## 25 ноября 2022\n\n| Метод                                                                                      | Изменение                                      |\n|--------------------------------------------------------------------------------------------|------------------------------------------------|\n| [POST /v1/ParcelResponse](#operation/parcelResponse)                                       | Добавили параметр `labelData` в запрос метода. |\n\n## 24 ноября 2022\n\n| Метод                                                                                      | Изменение                                                                                                                        |\n|--------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------|\n| [PUT /v1/Services](#operation/PutServices)<br>[POST /v1/Services](#operation/PostServices) | Обновили описание параметра `CurrencyPriceLimit` в запросах методов: теперь в нём можно передавать только одно значение — `RUR`. |\n| [GET /v1/Services](#operation/GetServices)                                                 | Обновили описание параметра `CurrencyPriceLimit` в ответе метода: в нём можно получить только значение `RUR`.                    |\n\n## 1 ноября 2022\n\n| Метод                                                                                                     | Изменение                                                         |\n|-----------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------|\n| [PUT /v1/Services](#operation/PutServices)                                                                | Удалили параметры `IsActive` и `FirstMileType` из запроса метода. |\n| [GET /v1/GetNewParcels](#operation/GetNewPracels)<br>[POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) | Добавили параметр `Data.data.sender.Return` в ответы методов.     |\n\n## 31 октября 2022\n\n| Метод                                                                                                     | Изменение                                                                 |\n|-----------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels)<br>[POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) | Добавили новое значение для параметра `languageResponse` в запрос метода. |\n\n## 13 сентября 2022\n\n| Метод | Изменение                                                                                                                                                                                                                                                        |\n|-------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | В разделе [**Пуш-сервис**](#tag/Push):<br>• Добавили параметры для сообщений об условных отменах: `TrackingNumber`, `CancelledAt` и `CancellationAutoApprovedAt`.<br>• Для сообщений о терминальных отменах пометили параметр `CancelReason` как необязательный. |\n\n## 12 сентября 2022\n\n| Метод                                                                                                     | Изменение                                                                                                                                                                                                                                                                                              |\n|-----------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels)<br>[POST /v1/GetParcelsInfo](#operation/GetPracelsInfo) | Добавили параметры `Data.data.sender.Inn`, `Data.data.sender.PlaceID`, `Data.data.receiver.Inn` в ответы методов.                                                                                                                                                                                      |\n| [GET /v1/Services](#operation/GetServices)                                                                | В ответ метода добавили параметры с ограничениями габаритов заказов:<br>• `Data.MaxLength`,<br>• `Data.MinLength`,<br>• `Data.MaxHeight`,<br>• `Data.MinHeight`,<br>• `Data.MaxWidth`,<br>• `Data.MinWidth`,<br>• `Data.MaxVolume`,<br>• `Data.MaxVolumeWeight`, <br>• `Data.VolumeWeightCoefficient`. |\n| [POST /v1/Services](#operation/PostServices)<br>[PUT /v1/Services](#operation/PutServices)                | В запросы методов добавили параметры для передачи ограничений габаритов заказов:<br>• `MaxLength`,<br>• `MinLength`,<br>• `MaxHeight`,<br>• `MinHeight`,<br>• `MaxWidth`,<br>• `MinWidth`,<br>• `MaxVolume`,<br>• `MaxVolumeWeight`, <br>• `VolumeWeightCoefficient`.                                  |\n\n## 15 августа 2022\n\n| Метод                                                                                      | Изменение                                                                 |\n|--------------------------------------------------------------------------------------------|---------------------------------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices)<br>[PUT /v1/Services](#operation/PutServices) | Добавили параметры `IsPostalService` и `FirstMileType` в запросы методов. |\n| [GET /v1/Services](#operation/GetServices)                                                 | Добавили параметры `IsPostalService` и `FirstMileType` в ответ метода.    |\n\n## 3 августа 2022\n\n| Метод                                                        | Изменение                                                       |\n|--------------------------------------------------------------|-----------------------------------------------------------------|\n| [POST /v1/ParcelDeliveryCost](#operation/ParcelDeliveryCost) | Добавили метод для передачи итоговой стоимости доставки заказа. |\n\n## 29 июля 2022\n\n| Метод                                                        | Изменение                                                                                                                                                              |\n|--------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                            | Обновили схему в разделе [Интеграция по схеме MVP](#section/Integraciya-po-sheme-MVP).                                                                                 |\n| [GET /v1/NewPostings](#operation/NewPostings)                | Добавили параметр `parcelType` в запрос метода.<br>Удалили примеры запросов из описания.                                                                               |\n| [GET /v1/GetNewParcels](#operation/GetNewPracels)            | Дополнили описание параметра `parcelType` в запросе метода.<br>Обновили описание метода и удалили примеры запросов.<br>Добавили параметр `dropOffCode` в ответ метода. |\n| [GET /v1/PostingsToCancel](#operation/PostingsToCancel)      | Добавили описание метода.<br>Добавили параметры `TrackingNumber`, `CreatedAt` и `AutoApprovedAt` в ответ метода.                                                       |\n| [POST /v1/PostingsCancelResponse](#operation/CancelResponse) | Добавили описание метода.                                                                                                                                              |\n| [POST /v1/PostingDocuments](#operation/postingDocuments)     | Добавили описание метода.<br>Обновили описание параметров `ReportType` и `ReportData` в запросе метода.                                                                |\n| [POST /v1/ParcelResponse](#operation/parcelResponse)         | Дополнили описание метода.                                                                                                                                             |\n| [GET /v1/PostingDocument](#operation/postingDocument)        | Добавили описание метода.<br>Обновили описание параметров `ReportType` и `ReportFormat` в запросе метода.                                                              |\n\n\n## 21 июля 2022\n\n| Метод                                                                                                                      | Изменение                                                                        |\n|----------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------|\n| [GET /v1/PostingsToCancel](#operation/PostingsToCancel)<br>[POST/v1/PostingsCancelResponse](#operation/CancelResponse)     | Перенесли методы в раздел [Отмены](#tag/Cancellation).                           |\n| —                                                                                                                          | Добавили описание [пуш-сервиса](#tag/Push) в раздел [Отмены](#tag/Cancellation). |\n\n\n## 20 июля 2022\n\n| Метод                                                                                      | Изменение                                                    |\n|--------------------------------------------------------------------------------------------|--------------------------------------------------------------|\n| [POST /v1/Services](#operation/PostServices)<br>[PUT /v1/Services](#operation/PutServices) | Добавили параметры `IsMvp` и `IsAggregator` в запрос метода. |\n| [GET /v1/Services](#operation/GetServices)                                                 | Добавили параметры `IsMvp` и `IsAggregator` в ответ метода.  |\n\n## 13 июля 2022 \n\n| Метод  | Изменение                                                                                                                                                                                                                                                                   |\n|--------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —      | Разделили схему первичной настройки на две:<br>• [Первичная настройка для API MVP](#section/Pervichnaya-nastrojka-dlya-API-MVP)<br>• [Первичная настройка для API Aggregator и Aggregator экспорт](#section/Pervichnaya-nastrojka-dlya-API-Aggregator-i-Aggregator-eksport) |\n\n## 15 июня 2022\n\n| Метод  | Изменение                                                                                                                                                                     |\n|--------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —      | Добавили подраздел [**Интеграция по схеме Aggregator (экспорт)**](#section/Integraciya-po-sheme-Aggregator-(eksport)) в раздел [**Порядок работы с методами**](#tag/Process). |\n\n## 7 июня 2022\n\n| Метод  | Изменение                                                                                                                                                 |\n|--------|-----------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —      | Добавили подраздел [**Интеграция по схеме Aggregator**](#section/Integraciya-po-sheme-Aggregator) в раздел [**Порядок работы с методами**](#tag/Process). |\n\n## 18 мая 2022\n\n| Метод | Изменение                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |\n|-------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | В разделе [**Порядок работы с методами**](#tag/Process):<br>• переименовали подраздел **Передача отправлений и их отслеживание** в **Интеграция по схеме MVP**;<br/>• обновили схему **Передача заказов 3PL-провайдеру и их отслеживание для MVP rFBS**;<br/>• переименовали подраздел **Отмена отправлений** в **Условная отмена заказов**;<br/>• обновили схему **Условная отмена заказа rFBS**;<br/>• удалили описание Push-сервиса из подраздела **Условная отмена заказов**. |\n\n## 14 февраля 2022\n\n| Метод | Изменение                                       |\n|---|-------------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) | Добавили параметр `parcelType` в запрос метода. |\n| [POST /v1/DropOffPoints](#operation/PostDropOffPoints) <br><br> [PUT /v1/DropOffPoints](#operation/PutDropOffPoints)| Удалили параметр `ID` из запросов методов.      |\n\n## 1 февраля 2022\n\n| Метод | Изменение                                |\n|---|------------------------------------------|\n| [GET /v1/GetNewParcels](#operation/GetNewPracels) | Добавили параметр `type` в ответ метода. |\n\n## 18 января 2022\n\n| Метод | Изменение                                                                                         |\n|---|---------------------------------------------------------------------------------------------------|\n| [GET /v1/ReportsData](#operation/reportsData) | Изменили путь метода для получения метаданных отчётов.                                            |\n| [GET /v1/Points](#operation/GetDropOffPoints) | Добавили метод для получения списка пунктов приёма, которые создал 3PL-провайдер в системах Ozon. |\n| [POST /v1/Points](#operation/PostDropOffPoints) | Добавили метод для создания списка пунктов приёма 3PL-провайдера в Ozon.                          |\n| [PUT /v1/Points](#operation/PutDropOffPoints) | Добавили метод для обновления созданных пунктов приёма.                                           |\n\n## 29 декабря 2021\n\n| Метод | Изменение                                                                                                                      |\n|---|--------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/PostingAttributes](#operation/postingAttributes) | Добавили метод для передачи фактических габаритов заказа и смены трек-номера 3PL.                                              |\n| [/v1/PostingDocument](#operation/postingDocument) | Добавили метод для получения документов заказа.                                                                                |\n| [/v1/PostingDocuments](#operation/postingDocuments) | Добавили метод для загрузки документов на заказа.                                                                              |\n| [/v1/ParcelResponse](#operation/parcelResponse) | Добавили метод для передачи Ozon трек-номера после регистрации заказов методом [GET /v1/NewParcels](#operation/GetNewPracels). |\n| [/v1/Manifest](#operation/manifest) | Добавили метод для получения информации о перевозках.                                                                          |\n| [/v1/ManifestResponse](#operation/manifestResponse) | Добавили метод для подтверждения или отклонения перевозки.                                                                     |\n| /v1/ManifestTransferInfo | Добавили метод для загрузки информации об автомобиле и курьере.                                                                |\n| [/v1/ManifestDocument](#operation/manifestDocument) | Добавили метод для получения документов перевозки.                                                                             |\n| [/v1/ManifestDocuments](#operation/manifestUpload) | Добавили метод для загрузки документов перевозки.                                                                              |\n| [POST /v1/Reports](#operation/reports) | Добавили метод для загрузки отчётов.                                                                                           |\n| [GET /v1/Reports](#operation/reportsMeta) | Добавили метод для получения метаданных отчётов.                                                                               |\n| [/v1/Report](#operation/report) | Добавили метод для получения отчётов.                                                                                          |\n| [/v1/PersonalData](#operation/personalData) | Добавили метод для получения персональных данных покупателей.                                                                  |\n\n## 14 декабря 2021\n\n| Метод | Изменение                                               |\n|-------|---------------------------------------------------------|\n| [/v1/PostingsToCancel](#operation/PostingsToCancel)     | Добавили метод для получения списка отменённых заказов. |\n| [/v1/PostingsCancelResponse](#operation/CancelResponse) | Добавили метод для передачи статуса отмены заказа.      |\n\n## 18 ноября 2021\n\n| Метод | Изменение                                                  |\n|-------|------------------------------------------------------------|\n| —     | Добавили раздел [Порядок работы с методами](#tag/Process). |\n\n## 15 ноября 2021\n\n| Метод                                                                                | Изменение                                                                                                                |\n|--------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------|\n| [/v1/Geography](#operation/Geography)                                               | Удалили параметр `Kladr` из ответа метода.                                                                               |\n| [/v1/Points](#operation/PostPoints) <br><br> [/v1/Services](#operation/PostServices) | Поправили описание параметра `DeliveryTypeId` в ответе метода: идентификатор типа доставки «Постамат» временно отключён. |\n| —                                                                                    | Добавили таблицу [Коды ошибок](#tag/ErrorCodes) в приложения.                                                            |\n\n## 28 сентября 2021\n\n| Метод | Изменение                         |\n|-------|-----------------------------------|\n| —     | Добавили раздел «Список методов». |"
    },
    {
      "name": "Authorization",
      "x-displayName": "Токен для доступа"
    },
    {
      "name": "Information",
      "x-displayName": "События трекинга, города доставки и провайдеры"
    },
    {
      "name": "Postings",
      "x-displayName": "Информация о заказах"
    },
    {
      "name": "PostingEvents",
      "x-displayName": "Трекинг заказов"
    },
    {
      "name": "QualityControl",
      "x-displayName": "Контроль качества"
    },
    {
      "name": "Cancellation",
      "x-displayName": "Отмены"
    },
    {
      "name": "Points",
      "x-displayName": "Пункты выдачи"
    },
    {
      "name": "DropOffPoints",
      "x-displayName": "Пункты приёма"
    },
    {
      "name": "Routes",
      "x-displayName": "Списки маршрутов"
    },
    {
      "name": "Services",
      "x-displayName": "Услуги"
    },
    {
      "name": "Manifests",
      "x-displayName": "Перевозки"
    },
    {
      "name": "Carriages",
      "x-displayName": "Отгрузки"
    },
    {
      "name": "Reports",
      "x-displayName": "Отчёты"
    },
    {
      "name": "BrokerInformation",
      "x-displayName": "Таможня"
    },
    {
      "name": "PersonalData",
      "x-displayName": "Данные покупателей"
    },
    {
      "name": "Push",
      "x-displayName": "Пуш-сервис",
      "description": "Пуш-сервис предназначен для получения:\n- информации об условных и терминальных отменах, \n- ссылки на счёт-фактуру для возврата НДС. \n\n## Как подключить\n\nПредоставьте менеджеру Ozon:\n- `SecretKey` — код авторизации;\n- `BaseURL` — URL-адрес, на который будут приходить сообщения.\n\n## Условные отмены\n\nАдрес, куда будут приходить пуш-уведомления: `<BaseURL>/CancelPosting`.\n\nВ ответ на уведомление отправьте `Result: \"OK\"`.\n\n### Поля входящих сообщений\n\n| <div style=\"width:130px\">Поле</div> | Тип                | Описание                                                                             | Обязательность поля |\n|-------------------------------------|--------------------|--------------------------------------------------------------------------------------|---------------------|\n| `PostingNumber`                     | string             | Номер заказа.                                                                        | Да                  |\n| `TrackingNumber`                    | string             | Трек-номер, переданный 3PL-провайдером.                                              | Нет                 |\n| `CancelledAt`                       | string <date-time> | Время создания условной отмены.                                                      | Да                  |\n| `CancellationAutoApprovedAt`        | string <date-time> | Дата, до которой 3PL-провайдер должен подтвердить отмену.                            | Нет                 |\n| `md5`                               | string                   | Строка `<PostingNumber>:<TrackingNumber>:<SecretKey>`, зашифрованная алгоритмом MD5. | Нет                 |\n\n## Терминальные отмены\n\nАдрес, куда будут приходить пуш-уведомления: `<BaseURL>/TerminalCancelPosting`.\n\nВ ответ на уведомление отправьте `Result: \"OK\"`.\n\n### Поля входящих сообщений\n\n| <div style=\"width:130px\">Поле</div> | Тип    | Описание                                                                           | Обязательность поля |\n|-------------------------------------|--------|------------------------------------------------------------------------------------|---------------------|\n| `PostingNumber`                     | string | Номер заказа.                                                                      | Да                  |\n| `CancelReason`                      | string | Причина отмены.                                                                    | Нет                 |\n| `md5`                               | string | Строка `<PostingNumber>:<CancelReason>:<SecretKey>`, зашифрованная алгоритмом MD5. | Нет                 |\n| `TrackingNumber`                    | string | Трек-номер, переданный 3PL-провайдером.                                            | Нет                 |\n\n## Ссылка на счёт-фактуру для возврата НДС\n\nАдрес, куда будут приходить пуш-уведомления: `<BaseURL>/CreateOrUpdateInvoice`.\n\nВ ответ на уведомление отправьте `Result: \"OK\"`.\n\n### MD5\n\nФормируется из полей счёта-фактуры и вашего `SecretKey`, который вы передаёте Ozon для настройки пуш-уведомлений.\nПоля для формирования MD5:\n\n- `PostingNumber`,\n- `InvoiceLink`,\n- `InvoiceDate` в формате `dd.mm.yyyy`,\n- `InvoiceNumber`,\n- `InvoicePrice`,\n- `InvoicePriceCurrency`,\n- `HsCodes`,\n- `SecretKey`.\n\nЗначение поля `HsCodes` поступает в формате `Sku-HsCode` через запятую. Если у поля `Sku` нет `HsCode`, в поле `HsCodes` отобразится значение `sku-,sku-,sku-`.\n\nНапример: `PostingNumber:InvoiceLink:07.02.2024:InvoiceNumber:InvoicePrice:rub:sku-hsCode,sku-:secretKey`.\n\n### Поля входящих сообщений\n\n| <div style=\"width:130px\">Поле</div> | Тип    | Описание                                        | Обязательность поля |\n|-------------------------------------|--------|-------------------------------------------------|---------------------|\n| `PostingNumber`                     | string | Номер заказа.                                   | Да                  |\n| `InvoiceLink`                       | string | Ссылка на счёт.                                 | Да                  |\n| `InvoiceDate `                      | date   | Дата счёта.                                     | Да                  |\n| `InvoiceNumber`                     | string | Номер счёта.                                    | Да                  |\n| `InvoicePrice`                      | double | Сумма счёта.                                    | Да                  |\n| `InvoicePriceCurrency`              | string | Валюта в трехбуквенном обозначении по ISO 4217. | Да                  |\n| `HsCodes`                           | array  | Массив объектов товара и его кодов.             | Да                  |\n| `Sku `                              | string | Идентификатор товара.                           | Да                  |\n| `Code`                              | string | HS-код товара.                                  | Да                  |\n"
    },
    {
      "name": "Errors",
      "x-displayName": "Список EventId",
      "description": "Статусы передаются для продвинутой аналитики и повышения информированности продавцов и покупателей Ozon.\n\nСтатусы из таблиц [Первая миля и доставка до границы](#section/Pervaya-milya-i-dostavka-do-granicy), [Таможня](#section/Tamozhnya)\nи [Доставка заказа](#section/Dostavka-zakaza) — необязательные, кроме тех, у которых есть примечание. \n\nЕсли есть примечание «Обязательный статус», то необходимо передать как минимум один из обязательных статусов.\n\n## Первая миля и доставка до границы\n\n| EventId | Название события                           | Описание на английском                                                      | Описание на русском                                      | Примечание                                                                      |\n|---------|--------------------------------------------|-----------------------------------------------------------------------------|----------------------------------------------------------|---------------------------------------------------------------------------------|\n| 101     | Info Received                              | 3PL received request.                                                       | 3PL получил информацию о заказе.                         |                                                                                 |\n| 102     | Parcel ready to ship                       | 3PL received a request from the shipper and is about to pick up the Parcel. | 3PL получил запрос от отправителя и скоро заберёт груз.  |                                                                                 |\n| 103     | Parcel accepted                            | Parcel accepted by carrier.                                                 | Заказ принят перевозчиком.                               | Обязательный статус. При передаче статуса 103 не передавайте статусы 104 и 105. |\n| 104     | Parcel pick-up                             | Parcel accepted by carrier via pick-up.                                     | Заказ принят курьером перевозчика.                       | Обязательный статус. При передаче статуса 104 не передавайте статусы 103 и 105. |\n| 105     | Parcel drop-off                            | Parcel accepted by carrier in drop-off point.                               | Заказ принят перевозчиком в точке Drop-off.              | Обязательный статус. При передаче статуса 105 не передавайте статусы 103 и 104. |\n| 106     | Parcel Arrival to carrier                  | Parcel arrived at a hub or sorting center.                                  | Заказ прибыл на склад перевозчика в стране отправления.  |                                                                                 |\n| 107     | Parcel Departure from carrier              | Parcel departured from hub or sorting center.                               | Заказ покинул склад перевозчика в стране отправления.    |                                                                                 |\n| 108     | Awaiting MSDS                              | Parcel awaiting Material Safety Data Sheet.                                 | Заказ ожидает предоставления паспорта безопасности.      |                                                                                 |\n| 109     | Awaiting extra payment                     | Parcel awaits extra payment due to overweight or owerdimentions.            | Заказ ожидает доплаты за перевес или ошибочные габариты. |                                                                                 |\n| 110     | Delivery channel changed                   | Type of Parcel delivery is changed by carrier.                              | Канал доставки заказа изменён перевозчиком.              |                                                                                 |\n| 111     | Delivery plan date changed                 | Delivery plan date is changed by carrier.                                   | Плановая дата доставки изменена перевозчиком.            |                                                                                 |\n| 112     | Parcel accepted on sorting center          | Parcel accepted on sorting center.                                          | Отправление принято на складе перевозчика.               |                                                                                 |\n| 113     | Delivery plan date was changed by receiver | Delivery plan date is changed by receiver.                                  | Плановая дата доставки изменена получателем.             |                                                                                 |\n| 114     | Parcel arrived to cross-doc                | Parcel arrived at warehouse for cross-docking.                              | Заказ прибыл на склад для перегрузки.                    |                                                                                 |\n\n## Таможня\n\nПрименяются, если заказ проходит таможенное оформление.\n\n| EventId | Название события                                        | Описание на английском                                                                                | Описание на русском                                                                                       |\n|---------|---------------------------------------------------------|-------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------|\n| 201     | Customs Clearance in process                            | Parcel is in process of import customs clearance.                                                     | Заказ в процессе импортного таможенного оформления.                                                       |\n| 202     | Awaiting Customs Clearance                              | Parcel awaiting for customs clearance.                                                                | Заказ ожидает предтаможенного контроля.                                                                   |            \n| 203     | Customs clearance started                               | Parcel handed over to import customs for clearance.                                                   | Заказ передан на импортное таможенное оформление.                                                         |            \n| 204     | Customs clearance completed                             | Import customs clearance completed.                                                                   | Заказ выпущен импортной таможней.                                                                         |            \n| 205     | Held by customs                                         | Parcel is held by customs.                                                                            | Заказ задержан таможней.                                                                                  |            \n| 206     | Customs duty sender                                     | Parcel is held by customs: sender has to pay a customs duty.                                          | Заказ задержан таможней: отправитель должен оплатить таможенные пошлины.                                  |            \n| 207     | Customs duty receiver                                   | Parcel is held by customs: receiver has to pay a customs duty.                                        | Заказ задержан таможней: получатель должен оплатить таможенные пошлины.                                   |            \n| 208     | Provide Personal data                                   | Receiver should provide additional data for customs.                                                  | Не хватает персональных данных получателя, предоставьте данные таможне.                                   |            \n| 209     | Provide Passport                                        | Receiver should provide a passport number.                                                            | Получатель должен предоставить номер паспорта.                                                            |            \n| 210     | Provide Tax Number                                      | Receiver should provide a Tax Number.                                                                 | Получатель должен предоставить номер ИНН.                                                                 |            \n| 211     | Provide Passport Scan                                   | Receiver should provide a passport scan.                                                              | Получатель должен предоставить скан паспорта.                                                             |            \n| 212     | Passport invalid                                        | Passport provided by receiver is invalid.                                                      
[...]
