{
  "openapi": "3.0.1",
  "info": {
    "title": "Документация Ozon Retail API",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://ir.ozone.ru/s3/helppartners/ozon-logo-for-api-referral.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "В документе описаны методы Ozon Retail API.\n\n> Информационная платформа и сообщество разработчиков [Ozon for Dev](https://dev.ozon.ru/community/229-Retail-API-davaite-nalazhivat-sviazi)\n"
  },
  "servers": [
    {
      "url": "https://retail-api.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Intro",
        "Auth",
        "Process",
        "Bot",
        "News"
      ]
    },
    {
      "name": "Методы Retail API",
      "tags": [
        "Order",
        "Label",
        "Pass",
        "Documents",
        "Warehouse",
        "SupplyCargo"
      ]
    },
    {
      "name": "Приложения",
      "tags": [
        "Glossary",
        "Model",
        "Status",
        "Reason"
      ]
    }
  ],
  "tags": [
    {
      "name": "Intro",
      "x-displayName": "Введение",
      "description": "## Назначение Retail API\n\nOzon Retail API — программный интерфейс для обмена информацией между системой поставщика и Ozon.\n\nДоменный адрес: <https://retail-api.ozon.ru>.\n\nПри интеграции системы учёта поставщика с Retail API обновлять и получать данные можно в автоматическом режиме. Это \nпоможет поддерживать актуальной информацию о статусах заказов на поставку, обрабатывать больше заказов за меньшее время \nи исключить ошибки из-за обновления данных вручную.\n\n## Возможности Retail API\n\nСервисы Retail API позволяют автоматизировать:\n\n- выгрузку списка заказов на поставку;\n- получение актуального состава заказа;\n- согласование и отмену заявки на поставку;\n- корректировку заявки на поставку;\n- согласование таймслота на поставку;\n- получение ярлыков для палет;\n- формирование пропуска на склад.\n\n## Начало работы\n\nПеред началом работы с Retail API:\n\n1. Изучите процессы работы с Ozon в [Справке для поставщика](https://docs.ozon.ru/retail/).\n   \n2. Определите процессы, которые планируете автоматизировать, и сравните их с процессами вашей компании.\n\n3. Создайте пару API-реквизитов по инструкции [**Получить доступ к API**](#section/Poluchit-dostup-k-API).\n   <br>При создании вы передадите IP-адреса — мы занесём их в список разрешённых для работы с Retail API.\n   \n4. Изучите документацию Retail API и разработайте схему интеграции."
    },
    {
      "name": "Auth",
      "x-displayName": "Авторизация",
      "description": "## Получить доступ к API\n\nДля работы с Retail API получите реквизиты доступа `Client ID` и `Client Secret`:\n\n1. В личном кабинете Retail Center перейдите в раздел [**Настройки → Доступ к Retail API**](https://retail.ozon.ru/profile/settings/retail-api-access) и нажмите **Создать**.\n \n2. Придумайте название реквизитов, укажите IP-адреса, с которых будете отправлять запросы, и нажмите **Создать**.\n\n3. Скопируйте `Client ID` и `Client Secret`.\n   <aside class=\"warning\">\n   Обязательно сохраните <code>Client Secret</code> — он будет недоступен после закрытия окна.\n   </aside>\n\n4. Нажмите **Закрыть**.\n\n## Реквизиты доступа попали в посторонние руки\n\n1. В личном кабинете [Retail Center](https://retail.ozon.ru/) справа вверху нажмите на фото личного кабинета и перейдите в раздел [**Настройки → Доступ к Retail API**](https://retail.ozon.ru/profile/settings/retail-api-access).\n\n2. Удалите пару API-реквизитов и обновите настройки интеграции в своих системах, чтобы ограничить доступ к API со старыми реквизитами.\n   \n3. Создайте новую пару API-реквизитов по инструкции [**Получить доступ к API**](#section/Poluchit-dostup-k-API).\n\n## Токен авторизации\n\n<aside class=\"notice\">Токен авторизации активен 1 час. Через час его нужно запросить повторно.</aside>\n\nДля получения токена отправьте запрос:\n\n```html\nPOST /oauth/token HTTP/1.1\nHost: https://id.ozon.ru\nContent-Type: application/x-www-form-urlencoded\nAccept: application/json\n\nclient_id=YourClientId&client_secret=YourClientSecret&grant_type=client_credentials\n```\n\nСервис авторизации вернёт токен с указанием периода его действия в секундах:\n\n```html\n{\n    \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5c...qTz2XXZBv41h4\",\n    \"expires_in\": 1800,\n    \"token_type\": \"Bearer\"\n}\n```\n\nВы можете отправлять запрос с помощью [бота](#tag/Bot).\n\n### Схема авторизации\n\n<img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/retail-api/retail-auth_1679907241.png\">"
    },
    {
      "name": "List",
      "x-displayName": "Список методов",
      "description": "## Заявки на поставку\n\n| Метод                                        | Описание                                                          |\n|----------------------------------------------|-------------------------------------------------------------------|\n| [/v1/orders/new](#operation/new)             | Получить список новых заявок на поставку.                         |\n| [/v1/orders/active](#operation/active)       | Получить список активных заявок на поставку.                      |\n| [/v1/orders/completed](#operation/completed) | Получить список завершённых заявок на поставку.                   |\n| [/v1/orders/{orderId}/timeslots/{timeslotGuid}/confirmed](#operation/timeslots) | Подтвердить интервал поставки. |\n\n## Палетные ярлыки\n\n| Метод                                                              | Описание                                                  |\n|--------------------------------------------------------------------|-----------------------------------------------------------|\n| [/v1/orders/{orderId}/package-labels](#operation/labels)           | Передать информацию о количестве грузовых мест по заявке. |\n| [/v1/orders/{orderId}/package-labels-file](#operation/labels-file) | Получить файл ярлыков для палет.                          |\n\n## Пропуск на склад\n\n| Метод                                                        | Описание                                     |\n|--------------------------------------------------------------|----------------------------------------------|\n| [PUT /v1/orders/{orderId}/vehicle-pass](#operation/pass-put) | Передать информацию о водителе и автомобиле. |\n| [GET /v1/orders/{orderId}/vehicle-pass](#operation/pass-get) | Получить информацию о водителе и автомобиле. |"
    },
    {
      "name": "Process",
      "x-displayName": "Порядок работы с методами",
      "description": "## Выгрузка списка заказов на поставку\n\nЗаказы на поставку в Ozon делятся на категории:\n\n- **Новые** — заказы, ожидающие согласования поставщика. Для получения заказов такого типа используйте метод \n  [GET /v1/orders/new](#operation/new).\n\n- **Активные** — заказы, ожидающие загрузки накладной, указания грузовых мест, данных об автомобиле и водителе, \n  подтверждения даты поставки и привоза товара на склад Ozon. Для получения заказов такого типа используйте метод \n  [POST /v4/orders/active](#operation/post-active-4).\n\n- **Завершённые** — заказы, по которым поставщик привёз товар на склад и товар приняли, или отклонённые заказы. Для \n  получения заказов такого типа используйте метод [GET /v1/orders/completed](#operation/completed).\n  \n## Подтверждение интервала поставки\n\n[PUT /v1/orders/{orderId}/timeslots/{timeslotGuid}/confirmed](#operation/timeslots) — подтвердите интервал поставки.\nЧтобы после подтверждения интервала согласовать новое время поставки, свяжитесь с сотрудником отдела товародвижения Ozon.\n\n## Загрузка и скачивание документов на поставку\n\n- Загрузите XLSX-файл с УПД: [POST /v1/orders/{orderId}/waybills/utd/excel](#operation/upload-utd).\n  Для заполнения УПД вы можете скачать:\n  - пустой шаблон: [GET /v1/orders/waybills/utd/template](#operation/empty-template);\n  - предзаполненный шаблон: [POST /v1/orders/{orderId}/waybills/utd/prefilled](#operation/prefilled-template).\n\n- Проверьте ошибки в файле после загрузки: [GET /v1/orders/{orderId}/waybills/utd/{fileFuid}/validation-result](#operation/check-utd).\n\n- Получите информацию обо всех документах на поставку: [GET /v1/orders/{orderId}/waybills/utd](#operation/utd-list).\n\n- Удалите файл с УПД: [DELETE /v1/orders/{orderId}/waybills/utd/{fileFuid}](#operation/get-utd).\n\n## Получение палетных ярлыков\n\nПалетные ярлыки можно получать только по активным заказам на поставку.\n\nЧтобы получить палетные ярлыки:\n\n1. Получите список активных заказов и выберите заказ, по которому хотите выгрузить палетные ярлыки: [POST /v4/orders/active](#operation/post-active-4).\n\n2. Используя `OrderID` выбранного на предыдущем этапе заказа, укажите количество коробок и палет:\n   - При прямой поставке — [PUT /v2/orders/{orderId}/package-units](#operation/units).\n   - При поставке через кросс-докинг — [PUT /v1/orders/{orderId}/xdock-package-units](#operation/xdock).\n\n3. Выгрузите файл с палетными ярлыками по заказу: [GET /v1/orders/{orderId}/package-labels-file](#operation/labels-file).\n\n## Получение списка грузомест\n\n<aside class=\"warning\">\nУказать состав грузомест можно только после загрузки УПД. Запросите палетные ярлыки до указания состава грузомест.\n</aside>\n\nЧтобы указать состав грузомест:\n\n1. Получите список активных заказов и выберите заказ, по которому хотите получить список грузомест: [POST /v4/orders/active](#operation/post-active-4).\n2. Получите список грузомест: [POST /contractors/current/orders/cargos](#operation/Cargos).\n3. Укажите состав грузомест: [POST /contractors/current/orders/cargos-content/set](#operation/CargosContentSet).\n4. Проверьте состав грузомест: [POST /contractors/current/orders/cargos-content](#operation/CargosContent).\n\nЧтобы удалить состав грузомест, используйте метод [POST /contractors/current/orders/cargos-content/remove](#operation/CargosContentRemove).\n\n## Получение пропуска на склад\n\nПеред тем как привезти товар по заказу на склад, получите пропуск для водителя и автомобиля. Пропуск на склад можно \nполучить только по активным заказам на поставку.\n\nДля получения пропуска:\n\n1. Получите список активных заказов и выберите заказ, по которому хотите выгрузить палетные ярлыки: [POST /v4/orders/active](#operation/post-active-4).\n\n2. Использую `OrderID` выбранного на предыдущем этапе заказа, укажите ФИО водителя, номер его мобильного телефона и \n   информацию об автомобиле: [PUT /v1/orders/{orderId}/vehicle-pass](#operation/pass-put)."
    },
    {
      "name": "Bot",
      "x-displayName": "Боты для отправки запросов",
      "description": "Примеры ботов для обращений к методам Retail API.\n\n## C# \n\n```c# \nusing System.Net;\nusing RestSharp;  // <PackageReference Include=\"RestSharp\" Version=\"108.0.*\" /> \n \nclass Program\n{\n    private const string RetailApiUrl = \"https://retail-api.ozon.ru\";\n    private const string OzonIdApiUrl = \"https://id.ozon.ru\";\n     \n    private const string ClientId = \"<YourClientId>\";          // the credentials\n    private const string ClientSecret = \"<YourClientSecret>\";  // you got at RetailCenter portal\n    private const string GrantType = \"client_credentials\";     // leave this constant please\n \n    public static async Task Main(string[] args)\n    {\n        Console.WriteLine(\"Let's rock!\");\n \n        var success = false;\n \n        // let's acquire access token from OzonID first\n        // then do request to RetailAPI with the token\n        // in case of HttpStatusCode.Unauthorized response\n        // all we can do is acquire token one more time\n        do\n        {\n            // let's get a new access token from OzonID by the credentials\n            var token = await AcquireAccessToken(ClientId, ClientSecret, GrantType);\n             \n            // yoo-hoo we got a token! now we're ready to make a data request\n            using (var client = new RestClient(RetailApiUrl))\n            {\n                var request = new RestRequest(\"/v1/orders/new\", Method.Get);\n                 \n                // access token is a standard JWT and is supposed to be in the Authorization HTTP header\n                request.AddHeader(\"Authorization\", $\"Bearer {token.AccessToken}\");\n \n                // let's request Retail API new order list method using the access token\n                var newOrderResponse = await client.ExecuteAsync<IEnumerable<Order>>(request);\n \n                // \"unathorized\" status code means the access token is expired in most cases\n                if (newOrderResponse.StatusCode != HttpStatusCode.Unauthorized)\n                {\n                    success = true;\n \n                    // the simplest we can do with the data retrieved is print it out!\n                    foreach (var order in newOrderResponse.Data)\n                    {\n                        Console.WriteLine(\n                            $\"OrderId: {order.OrderId}, by {order.DocumentNumber}, from {order.DocumentDate:dd.MM.yyyy}\");\n                    }\n                }\n            }\n        // if we're not success let's acquire the access token\n        // and do the data request again\n        } while (!success);                                                                   \n \n        Console.WriteLine(\"That's all folks!\");\n    }\n \n    /// <summary>\n    /// Get a new access token from OzonID by credentials\n    /// </summary>\n    /// <param name=\"clientId\">client_id you got at RetailCenter</param>\n    /// <param name=\"clientSecret\">client_id you got at RetailCenter</param>\n    /// <param name=\"grantType\">just pass 'client_credentials'</param>\n    /// <returns>A model that contains both access token and its expiration time (in seconds)</returns>\n    private static async Task<TokenResponse> AcquireAccessToken(string clientId, string clientSecret, string grantType)\n    {\n        using (var client = new RestClient(OzonIdApiUrl))\n        {\n            var request = new RestRequest(\"/oauth/token\", Method.Post);\n             \n            // OzonID accepts only good-old 'application/x-www-form-urlencoded'\n            request.AddHeader(\"Content-Type\", \"application/x-www-form-urlencoded\");                         \n            request.AddBody($\"client_id={clientId}&client_secret={clientSecret}&grant_type={grantType}\",\n                contentType: \"application/x-www-form-urlencoded\");\n \n            var response = await client.ExecuteAsync<TokenResponse>(request);\n            CheckResponse(response);\n \n            return response.Data;\n        }\n    }\n \n    private static void CheckResponse(RestResponse<TokenResponse> response)\n    {\n        if (response.StatusCode == HttpStatusCode.Forbidden)\n        {\n            // you need to add your new real IP address to the ClientId related record in RetailCenter portal\n            throw new Exception(\"IP address is not allowed! Please add your address into the list\");            \n        }\n \n        if (response.StatusCode == HttpStatusCode.Unauthorized)\n        {\n            // it's better to generate a new ClientId/ClientSecret pair in RetailCenter portal\n            // please don't forget to add your real IP address while generating the pair\n            throw new Exception(\"Either client_id or client_secret is incorrect! Please generate a new one\");   \n        }\n \n        if (response.StatusCode != HttpStatusCode.OK)\n        {\n            // something went wrong, please ask support in this case\n            throw new Exception($\"Unknown error occured: {response.StatusCode}, details: {response.Content}\");\n        }\n    }\n}\n```\n\n```c#\npublic class TokenResponse\n{\n    [JsonPropertyName(\"access_token\")]\n    public string AccessToken { get; set; }\n \n    // you can use this value to detect if the access token you had retrieved and stored\n    // is already expired, so you won't get one more \"unathorized\" RetailAPI response\n    [JsonPropertyName(\"expires_in\")]\n    public int ExpiresInSeconds { get; set; }\n \n    [JsonPropertyName(\"scope\")]\n    public string Scope { get; set; }\n \n    [JsonPropertyName(\"token_type\")]\n    public string TokenType { get; set; }\n}\n \npublic class Order\n{\n    public long OrderId { get; set; }\n    public string DocumentNumber { get; set; }\n    public DateTime DocumentDate { get; set; }\n    public string State { get; set; }\n}\n```\n\n## Python\n\n### main.py\n\n```python\nfrom functions import acquire_access_token, get_new_orders\nimport time\n\nretail_api_url = 'https://retail-api.ozon.ru'\nozon_id_api_url = 'https://id.ozon.ru'\nclient_id = '<YourClientId>'  # the credentials\nclient_secret = '<YourClientSecret>'  # you got at RetailCenter portal\ngrant_type = 'client_credentials'  # leave this constant please\n\nprint(\"Let's rock!\")\n\n# let's acquire access token from OzonID first\n# then do request to RetailAPI with the token\n# in case of HttpStatusCode.Unauthorized response\n# all we can do is acquire token one more time\n\n# let's get a new access token from OzonID by the credentials\ntoken_response = acquire_access_token(ozon_id_api_url, client_id, client_secret, grant_type)\n\n# yoo-hoo we got a token! now we're ready to make a data request\n\n# detect if the access token you had retrieved and stored is already expired\nif token_response.create_time + token_response.expires_in_seconds < time.time():\n    token_response = acquire_access_token(ozon_id_api_url, client_id, client_secret, grant_type)\nnew_orders_response = get_new_orders(retail_api_url, token_response.access_token)\n```\n\n### TokenResponse.py\n\n```python\nclass TokenResponse:\n    # response of acquire_access_token()\n    # {\n    #    'access_token': '',\n    #    'expires_in': 3599,\n    #    'scope': '',\n    #    'token_type': 'bearer'\n    # }\n    def __init__(self, access_token, expires_in_seconds, scope, token_type, create_time):\n        self.access_token = access_token\n        self.expires_in_seconds = expires_in_seconds\n        self.scope = scope\n        self.token_type = token_type\n        self.create_time = create_time\n```\n\n### functions.py\n\n```python\nimport requests\nfrom http import HTTPStatus\nimport time\nfrom TokenResponse import TokenResponse\nfrom requests import RequestException\n\n\n# response of acquire_access_token()\n# {\n#    'access_token': '',\n#    'expires_in': 3599,\n#    'scope': '',\n#    'token_type': 'bearer'\n# }\ndef acquire_access_token(ozon_id_api_url: str, client_id: str, client_secret: str, grant_type: str) -> TokenResponse:\n    data = {\"client_id\": client_id,\n            \"client_secret\": client_secret,\n            \"grant_type\": grant_type\n            }\n    headers = {\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    }\n    path = '/oauth/token'\n    full_url = ozon_id_api_url + path\n    try:\n        response = requests.post(url=full_url, data=data, headers=headers)\n        check_response(response)\n        response_json = response.json()\n        return TokenResponse(response_json['access_token'], response_json['expires_in'], response_json['scope'],\n                             response_json['token_type'], time.time())\n    except RequestException as e:\n        raise Exception(\"Error occurred while executing API request:\", e)\n    except ValueError as e:\n        raise Exception(\"Error occurred while reading JSON:\", e)\n\n\n# response of get_new_orders()\n# [\n#   {\n#    'orderId': 0,\n#    'documentNumber': '',\n#    'documentDate': '2022-11-28T00:00:00',\n#    'state': 'RetailOnConfirmation',\n#    'storageWarehouseId': 0,\n#    'supplyWarehouseId': 0\n#    }\n#   ]\ndef get_new_orders(retail_api_url: str, access_token: str) -> list[dict]:\n    path = '/v1/orders/new'\n    headers = {\"Authorization\": f\"Bearer {access_token}\"}\n    full_url = retail_api_url + path\n    try:\n        response = requests.get(url=full_url, headers=headers)\n        check_response(response)\n        for order in response.json():\n            print(f'OrderId: {order[\"orderId\"]}, by {order[\"documentNumber\"]}, from {order[\"documentDate\"]}')\n        return response.json()\n    except RequestException as e:\n        raise Exception(\"Error occurred while executing API request:\", e)\n\n\ndef check_response(response: requests.Response) -> None:\n    if response.status_code == HTTPStatus.FORBIDDEN:\n        # you need to add your new real IP address to the ClientId related record in RetailCenter portal\n        raise Exception(\"IP address is not allowed! Please add your address into the list\")\n    elif response.status_code == HTTPStatus.UNAUTHORIZED:\n        # it's better to generate a new ClientId/ClientSecret pair in RetailCenter portal\n        # please don't forget to add your real IP address while generating the pair\n        raise Exception(\"Either client_id or client_secret is incorrect! Please generate a new one\")\n    elif response.status_code != HTTPStatus.OK:\n        # something went wrong, please ask support in this case\n        raise Exception(f\"Unknown error occurred: {response.status_code}, details: {response.content}\")\n```\n\n## 1С\n\nДля интеграции Retail API в 1С используйте комплект модулей [Ozon Retail API SDK (CF)](https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/retail-api/ozon-retail-api-sdk-v0_1_1736424109.zip).\nСовместимо с 1С версии 8.3.16 и выше.\n\n"
    },
    {
      "name": "News",
      "x-displayName": "Обновления",
      "description": "## 27 июля 2026\n\n| Метод | Изменение |\n|---|---|\n| [POST /contractors/current/orders/cargos](#operation/Cargos)<br>[POST /contractors/current/orders/cargos-content](#operation/CargosContent)<br>[POST /contractors/current/orders/cargos-content/set](#operation/CargosContentSet)<br>[POST /contractors/current/orders/cargos-content/remove](#operation/CargosContentRemove) | Добавили методы для работы с грузоместами. |\n| — | В разделе [**Порядок работы с методами → Получение списка грузомест**](#section/Poluchenie-spiska-gruzomest) добавили информацию о работе с грузоместами. |\n\n## 28 мая 2026\n\n| Метод                                                    | Изменение                                                                         |\n|----------------------------------------------------------|-----------------------------------------------------------------------------------|\n| [GET /v1/orders/completed](#operation/completed)   | Метод устаревает, используйте [GET /v2/orders/completed](#operation/completedV2). |\n| [GET /v2/orders/completed](#operation/completedV2) | Добавили новую версию метода для получения списка завершённых заказов.            |\n\n## 23 декабря 2025\n\n| Метод                                | Изменение                                                                             |\n|--------------------------------------|--------------------------------------------------------------------------------------------|\n| — | В разделе [**Авторизация → Токен авторизации**](#section/Token-avtorizacii) обновили пример запроса. |\n\n## 8 августа 2025\n\n| Метод                                | Изменение                                                                             |\n|--------------------------------------|--------------------------------------------------------------------------------------------|\n| [GET /v1/orders/new](#operation/new) | Добавили параметры `contractInfo.contractName` и `contractInfo.contractId` в ответ метода. |\n\n## 22 августа 2024\n\n| Метод/раздел                           | Изменение                                                                    |\n|----------------------------------------|-----------------------------------------------------------------------------------|\n| [Боты для отправки запросов](#tag/Bot) | Добавили раздел [1C](#section/1S) с SDK-модулями для интеграции Retail API в 1С.  |\n\n## 15 августа 2024\n\n| Метод                                                                        | Изменение                                                                                                                           |\n|------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /v1/orders/{orderId}/waybills/utd/detailed-info](#operation/detailed-info) | Добавили метод для получения списка документов по заказу.                                                                                |\n| GET /v1/orders/{orderId}/waybills/utd                    | Метод устарел, удалили его из документации. Используйте [GET /v1/orders/{orderId}/waybills/utd/detailed-info](#operation/detailed-info). |\n\n## 24 мая 2024\n\n| Метод                                                                                                                            | Изменение                                                    |\n|----------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------|\n| [GET /v1/orders/new](#operation/new) <br> [POST /v4/orders/active](#operation/post-active-4) <br> [GET /v1/orders/completed](#operation/completed) | Добавили параметр `isSuperEconom` в ответы методов.               |\n| [POST /v1/orders/{orderId}/items](#operation/orderContent)                                                   | Добавили параметры `items.shipmentType` и `items.quant` в ответ метода. |\n\n## 10 апреля 2024\n\n| Метод                                                                                | Изменение                                                |\n|--------------------------------------------------------------------------------------|---------------------------------------------------------------|\n| [GET /v1/orders/{orderId}/package-units-labels-template-data](#operation/label-data) | Добавили метод получения атрибутов для формирования этикетки. |\n| [GET /v1/templates/package-labels-template/{requestType}](#operation/label-template) | Добавили метод получения шаблона этикетки.                    |\n\n## 2 апреля 2024\n\n| Метод                                                                              | Изменение                                                                                         |\n|------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------|\n| [POST /v1/orders/{orderId}/items](#operation/orderContent) | Обновили описание параметров `paging.offset` и `paging.limit` в запросе метода. |\n\n\n## 19 января 2024\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         | Изменение                                        |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------|\n| [GET /v1/orders/waybills/utd/template](#operation/empty-template)<br>[POST /v1/orders/{orderId}/waybills/utd/prefilled](#operation/prefilled-template)<br>[POST /v1/orders/{orderId}/waybills/utd/excel](#operation/upload-utd)<br>[GET /v1/orders/{orderId}/waybills/utd/{fileFuid}/validation-result](#operation/check-utd)<br>GET /v1/orders/{orderId}/waybills/utd<br>[GET /v1/orders/{orderId}/waybills/utd/{fileFuid}/excel](#operation/get-utd)<br>[DELETE /v1/orders/{orderId}/waybills/utd/{fileFuid}](#operation/delete-utd) | Добавили методы для работы с документами на поставку. |\n\n\n## 16 января 2024\n\n| Метод                                              | Изменение                                                                                                                                                                                                                                                     |\n|----------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /v4/orders/active](#operation/post-active-4) | Добавили новую версию метода для получения активных заказов:<br>• объединили статусы `AwaitingForPackageUnits`, `AwaitingForWaybill` и `AwaitingForVehicleInfo` в общий статус `DeliveryPreparation`;<br>• добавили новый фильтр со статусами оформления поставки. |\n| POST /v3/orders/active                             | Метод устарел, удалили его из документации.                                                                                                                                                                                                                        |\n| —                                                  | Обновили схему и таблицу со статусами в разделе [**Статусная модель**](#tag/Model).                                                                                                                                                                                |\n\n## 11 января 2024\n\n| Метод                                                      | Изменение                                                                                               |\n|------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------|\n| [PUT /v2/orders/{orderId}/package-units](#operation/units) | Добавили новую версию метода для указания грузовых мест: теперь коробки и палеты нужно передавать раздельно. |\n| PUT /v1/orders/{orderId}/package-units                     | Метод устарел, удалили его из документации.                                                                  |\n\n## 1 декабря 2023\n\n| Метод                                                      | Изменение                               |\n|------------------------------------------------------------|----------------------------------------------|\n| [POST /v1/orders/{orderId}/items](#operation/orderContent) | Добавили параметр `itemUnit` в ответ метода. |\n\n## 16 ноября 2023\n\n| Метод                                                                                                  | Изменение                                                     |\n|--------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------|\n| POST /v3/orders/active<br>[GET /v1/orders/completed](#operation/completed) | Добавили параметр `destinationDeliveryDateLocal` в ответы методов. |\n\n## 10 августа 2023\n\n| Метод                                              | Изменение                                                                                                                                                                                                                                                                                                                                 |\n|----------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                  | Добавили определение «Ozon ID» в раздел [**Термины**](#tag/Glossary).                                                                                                                                                                                                                                                                          |\n| —                                                  | Обновили структуру документации:<br>• Перенесли таблицу из раздела **Значения поля «status»** в раздел [**Статусная модель → Статусы в Retail API**](#section/Statusy-v-Retail-API).<br>• Удалили раздел **Значения поля «status»**. |\n| POST /v3/orders/active | Обновили описание значения `InvalidOrderState` для параметра `canSetPackageLabels` в ответе метода. [Подробнее в таблице **Почему нельзя запросить ярлыки**](#section/Pochemu-nelzya-zaprosit-yarlyki).                                                                                                                                        |\n\n## 8 августа 2023\n\n| Метод                                                                                                                                               | Изменение                                                                  |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| — | Добавили пример бота на Python в раздел [Боты для отправки запросов](#tag/Bot). |\n\n## 14 июля 2023\n\n| Метод                                                                                                                                               | Изменение                                                                          |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------|\n| [GET /v1/orders/new](#operation/new) <br><br> POST /v3/orders/active <br><br> [GET /v1/orders/completed](#operation/completed) | Добавили параметры `storageWarehouseId` и `supplyWarehouseId` в запрос и ответ методов. |\n| [POST /v1/warehouses](#operation/warehouses)                                                                                                        | Добавили метод для получения названия и адреса склада.                                  |\n\n## 5 июля 2023\n\n| Метод                                              | Изменение                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |\n|----------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                  | Обновили написание причин и статусов в разделе [**Значения поля «reasons»**](#tag/Reason): удалили лишние пробелы.                                                                                                                                                                                                                                                                                                                                                                |\n| POST /v3/orders/active | В ответе метода:<br><br>• Для параметра `canSetPackageLabels`: в описание значения `InvalidOrderState` добавили список статусов заказа, в которых можно запросить этикетку. [Подробнее в таблице **Почему нельзя запросить ярлыки**](#section/Pochemu-nelzya-zaprosit-yarlyki).<br>• Для параметра `canSetVehiclePass`: добавили описания значений `InvalidOrderState` и `NoJewelrySpecification`. [Подробнее в таблице **Почему нельзя создать пропуск**](#section/Pochemu-nelzya-sozdat-propusk). |\n\n## 14 июня 2023\n\n| Метод                                                        | Изменение                                                                                                                                                                                                                                                                                                                                                                                                   |\n|--------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                            | Обновили названия статусов:<br>• на схеме в разделе [**Статусная модель**](#tag/Model),<br>• в cтолбце «Значение параметра state» в разделе [**Статусы в Retail API**](#section/Statusy-v-Retail-API).<br><br>Обновили условия для перехода в следующий статус для статусов `RetailOnConfirmation` и `AwaitingForDeliveryTimeConfirmation` в разделе [**Статусы в Retail API**](#section/Statusy-v-Retail-API).  |\n| [POST /v1/orders/{orderId}/approve](#operation/orderApprove) | Изменили тип запроса с PUT на POST.                                                                                                                                                                                                                                                                                                                                                                              |\n\n## 9 июня 2023\n\n| Метод                                                     | Изменение                                                |\n|-----------------------------------------------------------|---------------------------------------------------------------|\n| [PUT /v1/orders/{orderId}/cancel](#operation/orderCancel) | Обновили схему запроса и добавили описание параметра `orderId`. |\n\n## 29 мая 2023\n\n| Метод                                                                   | Изменение                               |\n|-------------------------------------------------------------------------|----------------------------------------------|\n| [POST /v1/orders/{orderId}/approve](#operation/orderApprove)            | Добавили метод для согласования заказа.      |\n| [PUT /v1/orders/{orderId}/cancel](#operation/orderCancel)               | Добавили метод для отклонения заказа.        |\n| [PUT /v1/orders/{orderId}/uploadChanges](#operation/orderUploadChanges) | Добавили метод для изменения состава заказа. |\n| POST /v2/orders/active                                                  | Метод устарел, удалили его из документации. Используйте POST /v3/orders/active. |\n\n## 5 мая 2023\n\n| Метод                                             | Изменение                                                                                           |\n|---------------------------------------------------|----------------------------------------------------------------------------------------------------------|\n| POST /v3/orders/active | Добавили новую версию метода. Атрибуты таймслота `ToLocal` и `FromLocal` отдают время склада. |\n\n## 11 апреля 2023\n\n| Метод                                                      | Изменение                           |\n|------------------------------------------------------------|------------------------------------------|\n| [POST /v1/orders/{orderId}/items](#operation/orderContent) | Новый метод для получения состава заказа.|\n\n\n## 28 марта 2023\n\n| Метод                                 | Изменение                                                                                                           |\n|---------------------------------------|--------------------------------------------------------------------------------------------------------------------------|\n| —                                     | Обновили содержание раздела [Начало работы](#section/Nachalo-raboty).                                                    |\n| —                                     | Обновили инструкцию [Реквизиты доступа попали в посторонние руки](#section/Rekvizity-dostupa-popali-v-postoronnie-ruki). |\n| —                                     | Добавили раздел [Токен авторизации](#section/Token-avtorizacii).                                                         |\n| /v1/orders/{orderId}/vehicle-pass-pdf | Метод устарел, удалили его из документации.                                                                              |\n| Все методы                            | Заменили авторизацию через `client-id` и `api-key` на авторизацию через [токен](#section/Token-avtorizacii).             |\n\n## 10 марта 2023\n\n| Метод | Изменение                                                                                                                                                   |\n|---|------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| — | Обновили инструкции [Получить доступ к API](#section/Poluchit-dostup-k-API) и [API-ключ попал в посторонние руки](#section/API-klyuch-popal-v-postoronnie-ruki). |\n| — | Добавили раздел [Бот для отправки запросов](#tag/Bot) с примером бота на C#.                                                                                     |\n\n## 22 февраля 2022\n\n| Метод                                                 | Изменение                                                                                                                                                                                                                                             |\n|-------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| PUT /v1/orders/{orderId}/package-labels               | Метод устарел, удалили его из документации. Используйте: <br>• [PUT /v1/orders/{orderId}/package-units](#operation/units) — при прямой поставке, <br>• [PUT /v1/orders/{orderId}/xdock-package-units](#operation/xdock) — при поставке через кросс-докинг. |\n| GET /v1/orders/active <br><br> POST /v1/orders/active | Методы устарели, удалили их из документации. Используйте POST /v3/orders/active.                                                                                                                                               |\n| POST /v2/orders/active                                | Новый метод для получения списка заказов.                                                                                                                                                                                                                  |\n\n## 17 ноября 2022\n\n| Метод | Изменение                                                                                                     |\n|-------|--------------------------------------------------------------------------------------------------------------------|\n| GET /v1/orders/active | Пометили метод как устаревший, используйте [POST /v1/orders/active](#operation/post-active).                       |\n| [POST /v1/orders/active](#operation/post-active) | Добавили новый метод.                                                                                              |\n| [POST /v1/orders/active](#operation/post-active)<br><br>[GET /v1/orders/completed](#operation/completed)<br><br>[GET /v1/orders/new](#operation/new) | Теперь значения номера заказа на поставку `orderId` и идентификатора документа `documentNumber` будут одинаковыми. |\n\n## 2 ноября 2022\n\n| Метод                                                 | Изменение |\n|-------------------------------------------------------|----------------|\n| PUT /v1/orders/{orderId}/package-labels | Пометили метод как устаревший. Вместо него с 12 ноября 2022 года для указания количества грузовых мест используйте: <br>• [PUT /v1/orders/{orderId}/package-units](#operation/units) — при прямой поставке, <br>• [PUT /v1/orders/{orderId}/xdock-package-units](#operation/xdock) — при поставке через кросс-докинг. |\n| [PUT /v1/orders/{orderId}/package-units](#operation/units) | Добавили метод для указания количества грузовых мест при прямой поставке. |\n| [PUT /v1/orders/{orderId}/xdock-package-units](#operation/xdock) | Добавили метод для указания количества грузовых мест при поставке через кросс-докинг. |\n\n## 12 декабря 2021\n\n| Метод | Изменение |\n|-------|----------------|\n| [PUT /v1/orders/{orderId}/timeslots/{timeslotGuid}/confirmed](#operation/timeslots) | Добавили метод для подтверждения интервала поставки. |\n| GET /v1/orders/active | Добавили новые параметры ответа: `canConfirmReservedTimeslot` и `timeslot`. |\n| — | Добавили [описание возможных значений](#tag/Reason) параметра `reasons` в `canSetVehiclePass`. |"
    },
    {
      "name": "Order",
      "x-displayName": "Заказы на поставку"
    },
    {
      "name": "Label",
      "x-displayName": "Палетные ярлыки"
    },
    {
      "name": "Pass",
      "x-displayName": "Пропуск на склад"
    },
    {
      "name": "Documents",
      "x-displayName": "Документы"
    },
    {
      "name": "Warehouse",
      "x-displayName": "Склады"
    },
    {
      "name": "SupplyCargo",
      "x-displayName": "Грузоместа"
    },
    {
      "name": "Model",
      "x-displayName": "Статусная модель",
      "description": "Поле `state` из ответа методов [/v1/orders/new](#operation/new), [/v4/orders/active](#operation/post-active-4) и\n[/v1/orders/completed](#operation/completed) означает статус заказа на поставку. Значения этого поля повторяют \nстатусы заказов из раздела **Заказы на поставку** в [Retail Center](https://retail.ozon.ru/).\n\nЕсли потребность в поставке пропала, менеджер Ozon может отменить заказ на любом этапе.\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/retail/api/status_model_v4_1704803324.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/retail/api/status_model_v4_1704803324.png\"></a>\n\n## Статусы в Retail API\n\n| <div style=\"width:310px\">Значение параметра state</div> | Описание                                           | Условия для перехода в следующий статус                                                                                                                                                                                                                                                                                                                                       |\n|---------------------------------------------------------|----------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `RetailAwaitingForValidation`                           | Ожидает валидации                                  | —                                                                                                                                                                                                                                                                                                                                                                             |\n| `RetailOnConfirmation`                                  | На согласовании у поставщика                       | Согласуйте или отклоните заказ через [Retail Center](https://retail.ozon.ru/) или Retail API:<br>• [PUT /v1/orders/{orderId}/uploadChanges](#operation/orderUploadChanges) — изменить состав заказа,<br>• [POST /v1/orders/{orderId}/approve](#operation/orderApprove) — согласовать заказ,<br>• [PUT /v1/orders/{orderId}/cancel](#operation/orderCancel) — отклонить заказ. |\n| `AwaitingForDeliveryTimeConfirmation`                   | Ожидает подтверждения времени поставки поставщиком | Подтвердите дату и время прибытия на склад через [Retail Center](https://retail.ozon.ru/) или Retail API с помощью метода [PUT /v1/orders/{orderId}/timeslots/{timeslotGuid}/confirmed](#operation/timeslots).                                                                                                                                                                |\n| `DeliveryPreparation`                                   | Оформление поставки                                | Загрузите накладную по заказу и укажите количество грузовых мест, данные автомобиля и водителя через [Retail Center](https://retail.ozon.ru/) или Retail API.                                                                                                                                                                                                                 |\n| `Confirmed`                                             | Согласована поставщиком                            | Если заказ согласован в Ozon и ожидает прибытия товара по ней на склад, в указанную дату привезите товар по заказу. <br><br> Если на складе отказали в приёмке заказа на поставку, получите причины отказа на складе.                                                                                                                                                         |\n| `ArrivingToWarehouse`                                   | Ожидает поступления товара на склад от поставщика | Привезите товар в указанную дату на склад.                                                                                                                                                                                                                                                                                                                                    |\n| `RetailCompleted`                                       | Исполнена                                          | —                                                                                                                                                                                                                                                                                                                                                                             |\n| `RetailCanceled`                                        | Отменена                                           | —                                                                                                                                                                                                                                                                                                                                                                             |\n| `AcceptanceRefused`                                     | Склад отказал в приёмке                            | Уточните детали отказа у склада.                                                                                                                                                                                                                                                                                                                                              |"
    },
    {
      "name": "Reason",
      "x-displayName": "Значения поля «reasons»",
      "description": "В ответе метода [POST /v4/orders/active](#operation/post-active-4) возвращаются объекты с описанием возможностей:\n- получить палетные ярлыки — `canSetPackageLabels`;\n- создать пропуск на склад — `canSetVehiclePass`;\n- подтвердить интервал поставки — `canConfirmReservedTimeslot`.\n\nВ каждом из объектов есть параметры:\n- `value` — есть ли такая возможность.\n- `reason` — причины, почему возможности нет. Их может быть несколько.\n\n```json5\n{\n  ...,\n  \"canSetPackageLabels\": {\n    \"value\": false,\n    \"reasons\": [\n      \"InvalidOrderState\"\n    ]\n  },\n  ...\n}\n```\n\n## Почему нельзя запросить ярлыки\n\nЗначения параметра `canSetPackageLabels.reasons`:\n\n| Причина             | Описание                                                                                                                                                                                                            | Статус заказа, в котором появляется причина | Условия для перехода по статусной модели                                                                                                                                              |\n|---------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `InvalidOrderState` | Для заказов в этом статусе нельзя запросить этикетки.<br><br>Разрешённые статусы:<br>•&nbsp;`AwaitingForPackageUnits`,<br>•&nbsp;`AwaitingForWaybill`, <br>•&nbsp;`AwaitingForVehicleInfo`, <br>•&nbsp;`Confirmed`. | `AwaitingForDeliveryTimeConfirmation`       | Согласуйте заказ через [Retail Center](https://retail.ozon.ru/) и внесите изменения по заказу: выберите **Продажа со склада Ozon** → **Новые** → выберите заказ и нажмите **Отмена**. |\n\n## Почему нельзя создать пропуск\n\nЗначения параметра `canSetVehiclePass.reasons`:\n\n| Причина                  | Описание                                                                                                                                                                                                                                                                 | Статус заказа, в котором появляется причина               | Условия для перехода по статусной модели                                                                                                                                                                                                                                                                                                              |\n|--------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `NoBookedTimeslot`       | Не указаны дата и время поставки                                                                                                                                                                                                                                         | `AwaitingForDeliveryTimeConfirmation`                   | Подтвердите дату и время прибытия на склад через [Retail Center](https://retail.ozon.ru/).                                                                                                                                                                                                                                                            |\n| `NoWaybill`              | Не загружена накладная по заказу                                                                                                                                                                                                                                         | `AwaitingForPackageUnits` <br><br> `AwaitingForWaybill` | Загрузите накладную по заказу через [Retail Center](https://retail.ozon.ru/).                                                                                                                                                                                                                                                                         |\n| `WaybillWithErrors`      | Ошибки в загруженной накладной                                                                                                                                                                                                                                           | `AwaitingForWaybill`                                    | 1. В [Retail Center](https://retail.ozon.ru/) в разделе заказов на поставку найдите заказ и изучите ошибки по накладной.<br><br>2. Исправьте накладную по рекомендациям.<br><br>3. Загрузите исправленный вариант накладной через [Retail Center](https://retail.ozon.ru/).                                                                           |\n| `WaybillInProcess`       | Накладная по заказу проходит проверки в Ozon.                                                                                                                                                                                                                            | `AwaitingForWaybill`                                    | Подождите окончания проверки накладной в Ozon.                                                                                                                                                                                                                                                                                                        |\n| `InvalidOrderState`      | Для заказов в этом статусе нельзя создать пропуск на склад.<br><br>Разрешённые статусы:<br>•&nbsp;`AwaitingForDeliveryTimeConfirmation`,<br>•&nbsp;`AwaitingForPackageUnits`,<br>•&nbsp;`AwaitingForWaybill`,<br>•&nbsp;`AwaitingForVehicleInfo`,<br>•&nbsp;`Confirmed`. | Ошибка не связана со статусом заказа.                   | —                                                                                                                                                                                                                                                                                                                                                     |\n| `NoJewelrySpecification` | В заказе есть ювелирные изделия, но не загружена ювелирная спецификации для них                                                                                                                                                                                          | Ошибка не связана со статусом заказа.                   | 1. В [Retail Center](https://retail.ozon.ru/) в разделе **Товародвижение → Заказы** перейдите на вкладку **Активные**.<br><br>2. В строке с заказом в столбце **Документы** нажмите <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/retail/api/upload-documents-icon_1688460070.png\" width=\"20\">.<br><br>3. Загрузите ювелирную спецификацию. |\n\n## Почему нельзя подтвердить интервал\n\nЗначения параметра `canConfirmReservedTimeslot.reasons`:\n\n| Причина            | Описание                    | Статус заказа, в котором появляется причина | Условия для перехода по статусной модели |\n|--------------------|-----------------------------|---------------------------------------------|------------------------------------------|\n| `Alreadyconfirmed` | Интервал уже подтверждён    | `RetailOnConfirmation`                      | Действия не требуются.                   |\n| `Unknown`          | Возникла неизвестная ошибка | `AwaitingForDeliveryTimeConfirmation`       | Свяжитесь с сотрудниками Ozon.           |"
    },
    {
      "name": "Glossary",
      "x-displayName": "Термины",
      "description": "**Ozon Retail API** или **Retail API** — программный интерфейс для обмена информацией между системой продавца и Ozon.\n\n**Ozon ID** — сервис для авторизации в системах Ozon.\n\n**1P** или **First Party Logistics** — схема логистики, при которой производитель, продавец или партнёр отвечает за весь комплект логистики.\n\n**Поставщик** — компания, которая заключила с Ozon договор на закупку товаров.\n\n**Поставка** — пополнение запасов склада через доставку необходимого количества товара.\n\n**Заказ на поставку** — заказ на закупку товаров у поставщика, формируемые в Ozon исходя из потребностей склада.\n\n**Согласование заказа** — подтверждение поставщика, что он готов привезти товар на склад по заказу.\n\n**Новый заказ** — заказ на поставку, которая ожидает согласования поставщика.\n\n**Активный заказ** — заказ на поставку, которая ожидает загрузки накладной, указания грузовых мест, данных о транспортном средстве (ТС), водителе и подтверждения даты поставки товара на склад Ozon.\n\n**Завершённый заказ** — заказ на поставку, по которой поставщик привёз товар на склад, и товар приняли. Также к завершённым относят заказы, отклонённые на складе.\n\n**Интервал поставки** — временной интервал, в течение которого бронируется складская зона для приёмки товаров или возврата.\n\n**Грузовое место** — товары, которые обрабатываются как единая упаковка или набор.\n\n**Палетный ярлык** — печатная форма для определения к какому заказу относится грузовая единица. \n\n**Пропуск на склад** — печатная форма для идентификации водителя и его автомобиля при проезде на склад.\n\n**Возврат** — передача поставщику части запасов товара, который он привёз ранее.\n\n**Заявка на возврат** — комплект документов, который необходим для получения возврата.\n\n**Разногласия** — процесс исправления несоотвествий, выявленных при передаче Ozon товара от поставщика."
    }
  ],
  "paths": {
    "/v1/orders/new": {
      "get": {
        "tags": [
          "Order"
        ],
        "operationId": "new",
        "summary": "Список новых заказов",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          }
        ],
        "responses": {
          "200": {
            "description": "Список новых заказов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetOrdersResponseItem"
                  }
                },
                "example": {
                  "contractInfo": {
                    "contractName": "Контракт №000000000",
                    "contractId": 0
                  },
                  "orderId": 0,
                  "documentNumber": "0000000",
                  "documentDate": "2021-09-15T18:21:39.113Z",
                  "state": "RetailAwaitingForValidation",
                  "storageWarehouseId": 0,
                  "supplyWarehouseId": 0,
                  "destinationDeliveryDateLocal": "2024-05-24T08:04:04.866Z",
                  "isXdock": true,
                  "isSuperEconom": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetOrdersResponseItem"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetOrdersResponseItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v4/orders/active": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "post-active-4",
        "summary": "Список активных заказов",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostActiveOrders4Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Список активных заказов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostActiveOrdersResponse"
                }
              }
            }
          },
          "400": {
            "401": {
              "description": "Ошибка авторизации",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Доступ запрещён",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "404": {
              "description": "Ответ не найден",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "409": {
              "description": "Конфликт запроса",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Внутренняя ошибка сервера",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/items": {
      "post": {
        "summary": "Состав заказа",
        "operationId": "orderContent",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Идентификатор заказа."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderItemsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderItemsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrderItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Состав заказа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrderItemsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrderItemsResponse"
                }
              }
            }
          },
          "400": {
            "401": {
              "description": "Ошибка авторизации",
              "content": {
                "text/json": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Доступ запрещён",
              "content": {
                "text/json": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "404": {
              "description": "Ответ не найден",
              "content": {
                "text/json": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "409": {
              "description": "Конфликт запроса",
              "content": {
                "text/json": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Внутренняя ошибка сервера",
              "content": {
                "text/json": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/approve": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "orderApprove",
        "summary": "Согласовать заказ",
        "description": "Метод может работать с задержкой в несколько секунд.",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          }
        ],
        "responses": {
          "200": {
            "description": "Заказ согласован"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/cancel": {
      "put": {
        "operationId": "orderCancel",
        "summary": "Отклонить заказ",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Идентификатор заказа."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Заказ отклонён"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/uploadChanges": {
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "orderUploadChanges",
        "summary": "Изменить состав заказа",
        "description": "Метод может работать с задержкой в несколько секунд.\n\nЕсли вы передадите значение `0` в поле `Количество`, товар удалится — вернуть его в список не получится.\n\nНе ставьте цену выше полученной от Ozon — она автоматически вернётся к первоначальной.\n\nНе указывайте отрицательные значения, они применятся как положительные.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadChangesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadChangesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UploadChangesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Состав заказа изменён"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/timeslots/{timeslotGuid}/confirmed": {
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "timeslots",
        "summary": "Подтвердить время поставки",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          },
          {
            "name": "orderId",
            "description": "Номер заказа на поставку.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "timeslotGuid",
            "description": "Интервал поставки.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Время поставки подтверждено"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}/package-units": {
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "units",
        "summary": "Указать тип и количество грузовых мест при прямой поставке",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          },
          {
            "name": "orderId",
            "description": "Номер заказа на поставку.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutPackageUnitsV2Request",
                "example": {
                  "boxCount": 1,
                  "palletCount": 2
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Тип и количество грузовых мест переданы"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/xdock-package-units": {
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "xdock",
        "summary": "Указать количество грузовых мест при поставке через кросс-докинг",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          },
          {
            "name": "orderId",
            "description": "Номер заказа на поставку.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutXdockPackageUnitsRequest"
              },
              "example": {
                "boxCount": 10,
                "palletCount": 2
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PutXdockPackageUnitsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PutXdockPackageUnitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Количество грузовых мест передано"
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/completed": {
      "get": {
        "deprecated": true,
        "tags": [
          "Order"
        ],
        "operationId": "completed",
        "summary": "Список завершённых заказов",
        "description": "<aside class=\"warning\">\nМетод будет отключён 1 сентября. Переключитесь на <a href=\"#operation/completedV2\">/v2/orders/completed</a>.\n</aside>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/jwt"
          },
          {
            "name": "pageNumber",
            "description": "Номер страницы в списке заказов.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "description": "Количество заказов, отображаемых на одной странице.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список завершённых заказов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetCompletedOrdersResponseItem"
                  }
                },
                "example": [
                  {
                    "orderId": 0,
                    "documentNumber": "0000000",
                    "documentDate": "2021-09-15T18:21:39.113Z",
                    "state": " RetailCompleted ",
                    "storageWarehouseId": 0,
                    "supplyWarehouseId": 0,
                    "destinationDeliveryDateLocal": "2023-11-16T08:44:23.846Z",
                    "isXdock": true,
                    "isSuperEconom": true
                  }
                ]
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetCompletedOrdersResponseItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetCompletedOrdersResponseItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/completed": {
      "get": {
        "tags": [
          "Order"
        ],
        "operationId": "completedV2",
        "summary": "Получить список завершённых заказов",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Количество заказов на одной странице.",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Токен страницы. Для первой страницы передаётся пустая строка."
            }
          },
          {
            "$ref": "#/components/parameters/jwt"
          }
        ],
        "responses": {
          "200": {
            "description": "Список завершённых заказов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompletedOrdersV2Response"
                },
                "example": [
                  {
                    "orderId": 0,
                    "documentNumber": "0000000",
                    "documentDate": "2021-09-15T18:21:39.113Z",
                    "state": " RetailCompleted ",
                    "storageWarehouseId": 0,
                    "supplyWarehouseId": 0,
                    "destinationDeliveryDateLocal": "2023-11-16T08:44:23.846Z",
                    "isXdock": true,
                    "isSuperEconom": true
[...]
