{
  "openapi": "3.0.0",
  "info": {
    "title": "Документация Ozon ОРД API",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://ir.ozone.ru/s3/helppartners/ozon-logo-for-api-referral.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "По вопросам работы с API пишите на <support@ord.ozon.ru>.\n\n> Информационная платформа и сообщество разработчиков [Ozon for Dev](https://dev.ozon.ru/)\n\n**Окружения**:\n- Тестовая среда: https://api-ord-sandbox.ozon.ru\n- Рабочая среда: https://api-ord.ozon.ru\n"
  },
  "servers": [
    {
      "url": "https://api-ord.ozon.ru/"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Introduction",
        "Getting started",
        "Auth",
        "External id",
        "News"
      ]
    },
    {
      "name": "Методы ОРД API",
      "tags": [
        "Contract",
        "Creative",
        "ExternalFeed",
        "Statistic",
        "File",
        "Invoice",
        "Dictionary",
        "Organisation",
        "Platform",
        "DeleteOperation",
        "Notifications",
        "CID"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "Введение",
      "description": "## Что такое Ozon ОРД API\n\nOzon ОРД API — программный интерфейс для обмена информацией между системой поставщика данных и Ozon.\n\nС помощью методов Ozon ОРД API можно регистрировать, обновлять или получать данные о договорах, креативах, актах, контрагентах и площадках.\n\n## Когда пригодится Ozon ОРД API\n\nПри интеграции системы учёта поставщика рекламных данных с Ozon ОРД API можно обновлять и получать данные в автоматическом режиме.\nЭто помогает обновлять информацию своевременно и без ошибок.\n"
    },
    {
      "name": "Getting started",
      "x-displayName": "Начало работы",
      "description": "Перед началом работы с Ozon ОРД API:\n\n1. Изучите процессы работы с Ozon ОРД в [личном кабинете](https://ord.ozon.ru/).\n2. Определите процессы, которые планируете автоматизировать, и сравните их с процессами вашей компании.\n3. Изучите документацию Ozon ОРД и разработайте схему интеграции.\n\nДля работы с Ozon ОРД API необходим API-ключ. Подробнее в разделе [Авторизация](#tag/Auth).\n"
    },
    {
      "name": "Auth",
      "x-displayName": "Авторизация",
      "description": "<br><aside class=\"warning\">\nAPI-ключи хранятся в [личном кабинете Ozon ОРД](https://ord.ozon.ru/profile/api).\nСохраните их в надёжном месте или сразу укажите в своих системах.\n</aside>\n\n## Как получить доступ к Ozon ОРД API\n\nДля доступа к ОРД API [зарегистрируйтесь в личном кабинете Ozon ОРД](https://docs.ozon.ru/ord-help/register/) и создайте API-ключ:\n\n1. В личном кабинете перейдите в раздел [**Ключи API**](https://ord.ozon.ru/profile/api): справа вверху нажмите на своё имя и перейдите в **Профиль**, затем в меню слева выберите **Ключи API**.\n2. Справа на экране нажмите **Создать новый ключ**. \n3. Выберите дату, когда истечёт срок действия ключа, или оставьте поле пустым — тогда ключ будет действовать 1 год. \n4. Нажмите **Добавить**.\n\nВы можете создать несколько API-ключей.\n\n## Как использовать Ozon ОРД API\n\nЧтобы ОРД API обработал ваш запрос, отправьте API-ключ в качестве токена для авторизации. Например, если вы работаете через [Postman](https://www.postman.com/):\n\n1. Включите в запрос заголовок «Authorization».\n2. Выберите тип авторизации «Bearer token».\n3. Поместите в заголовок созданный API-ключ в качестве токена.\n\n\n## API-ключ попал в посторонние руки\n\n1. В личном кабинете перейдите в [**Профиль → Ключи API**](https://ord.ozon.ru/profile/api).\n2. Удалите текущий API-ключ и создайте новый.\n"
    },
    {
      "name": "External id",
      "x-displayName": "Работа с внешними идентификаторами",
      "description": "Для работы с объектами в Ozon ОРД API используется внешний идентификатор — `externalId`. Это уникальный идентификатор, \nкоторый появляется при создании объекта. \n\nЕсли вы изменяете объект через ОРД API, используйте `externalId`. Если при создании объекта через личный кабинет вы\nне указали `externalId`, он сгенерируется автоматически в виде `uuid`. \n\nУ каждого объекта в Ozon ОРД есть 2 идентификатора: \n- `ID` — для работы в личном кабинете. Можно посмотреть в меню редактирования объекта в разделе **ID**.\n- `externalId` — для работы в API. Можно посмотреть в личном кабинете в меню редактирования объекта в разделе **Дополнительно**.\n\n\n"
    },
    {
      "name": "List",
      "x-displayName": "Список методов",
      "description": "## Договоры\n\n| Метод                                                        | Описание                                    |\n|--------------------------------------------------------------|---------------------------------------------|\n| [POST /contract](#operation/RegisterUpdateContract)          | Создаёт договор или обновляет данные о нём. |\n| [GET /contract/{externalContractId}](#operation/GetContract) | Возвращает данные о договоре.               |\n\n## Креативы\n\n| Метод                                                                                    | Описание                                    |\n|------------------------------------------------------------------------------------------|---------------------------------------------|\n| [POST /creative](#operation/External_UpsertCreativeV2)                    | Создаёт креатив или обновляет данные о нём. |\n| [GET /creative/{externalCreativeId}](#operation/GetCreative)                             | Возвращает данные о креативе.               |\n\n## Файлы\n\n| Метод                           | Описание        |\n|---------------------------------|-----------------|\n| [POST /file/{bucket}](#operation/UploadFile)  | Загружает файл. |\n| [GET /file/{id}](#operation/DownloadFile) | Скачивает файл. |\n\n## Акты\n\n| Метод                                                                                      | Описание                                           |\n|--------------------------------------------------------------------------------------------|----------------------------------------------------|\n| [POST /contract/{externalContractId}/invoice](#operation/RegisterUpdateInvoice)            | Создаёт акт или обновляет данные о нём.            |\n| [GET /invoice/{externalInvoiceId}](#operation/GetInvoice)                                  | Возвращает данные об акте.                         |\n| [POST /invoice/{externalInvoiceId}/statistics/contract](#operation/CreateInvoiceContract)  | Добавляет изначальные договоры к детализации акта. |\n| [PUT /invoice/{externalInvoiceId}/statistics/contract](#operation/UpdateInvoiceContract)   | Обновляет изначальные договоры в детализации акта. |\n| [POST /invoice/{externalInvoiceId}/statistics/creative](#operation/CreateInvoiceCreative)  | Добавляет креативы к детализации акта.             |\n| [PUT /invoice/{externalInvoiceId}/statistics/creative](#operation/UpdateInvoiceCreative)   | Обновляет креативы в детализации акта.             |\n\n## Контрагенты\n\n| Метод                                                                           | Описание                                        |\n|---------------------------------------------------------------------------------|-------------------------------------------------|\n| [POST /organisation](#operation/RegisterUpdateOrganisation)                     | Создаёт контрагента или обновляет данные о нём. |\n| [GET /organisation/{externalOrganisationId}](#operation/GetOrganisation)        | Возвращает данные о контрагенте.                |\n| [POST /organisation/{externalOrganisationId}/platform](#operation/SetPlatform)  | Добавляет площадки к контрагенту.               |\n\n## Площадки\n\n| Метод                                                                            | Описание                                     |\n|----------------------------------------------------------------------------------|----------------------------------------------|\n| [POST /platform](#operation/RegisterUpdatePlatform)                              | Создаёт площадку или обновляет данные о ней. |\n| [GET /platform/{externalPlatformId}](#operation/GetPlatform)                     | Возвращает данные о площадке.                |\n\n## Нотификация\n\n| Метод                                                                            | Описание                     |\n|----------------------------------------------------------------------------------|------------------------------|\n| [GET /notification/error_list](#operation/External_GetErrorNotification)                              | Возвращает ошибки валидации. |"
    },
    {
      "name": "News",
      "x-displayName": "Обновления",
      "description": "## 10 сентября 2026\n\n| Метод | Изменение                                                                                                                                 |\n| ----- | ----------------------------------------------------------------------------------------------------------------------------------------- |\n| —     | В раздел [**Документация Ozon ОРД API**](https://docs.ozon.ru/api/ord/) добавили URL `https://api-ord-sandbox.ozon.ru` для запросов в тестовой среде ОРД API. |\n\n## 9 июля 2026\n\n| Метод                                                                                                                                                                                                            | Изменение                                                                                                                                             |\n| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [POST /api/external/v7/invoice](#operation/V7UpsertInvoice) <br> [GET /api/external/v7/invoice/{externalInvoiceId}](#operation/V7GetInvoice) <br> [POST /api/external/v7/invoice/list](#operation/V7ListInvoice) | Добавили новые версии методов для работы с актами.                                                                                                    |\n| [POST /api/external/v6/invoice](#operation/v6UpsertInvoice)                                                                                                                                                      | Метод устаревает и будет отключён 24 августа 2026 года. Переключитесь на [POST /api/external/v7/invoice](#operation/V7UpsertInvoice).                 |\n| [GET /api/external/v6/invoice/{externalInvoiceId}](#operation/v6GetInvoice)                                                                                                                                      | Метод устаревает и будет отключён 24 августа 2026 года. Переключитесь на [GET /api/external/v7/invoice/{externalInvoiceId}](#operation/V7GetInvoice). |\n| [POST /api/external/v6/invoice/list](#operation/v6ListInvoice)                                                                                                                                                   | Метод устаревает и будет отключён 24 августа 2026 года. Переключитесь на [POST /api/external/v7/invoice/list](#operation/V7ListInvoice).              |\n\n## 2 июня 2026\n\n| Метод                                                                                                                                                                    | Изменение                                                                                                |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------|\n| [POST /api/external/v6/organisation](#operation/v6UpsertOrganisation)                                                                                                    | Добавили параметр `address` в запрос метода.<br>Добавили параметр `organisation.address` в ответ метода. |\n| [POST /api/external/v6/organisation/list](#operation/v6ListOrganisation) <br> [GET /api/external/v6/organisation/{externalOrganisationId}](#operation/v6GetOrganisation) | Добавили параметр `organisation.address` в ответ методов.                                                |\n| [GET /api/external/v6/address/correct](#operation/v6GetCorrectAddress)                                                                                                   | Добавили метод для получения корректного адреса регистрации или пребывания контрагента.                  |\n\n\n## 17 марта 2026\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                | Изменение                                                                                                             |\n| ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | --------------------------------------------------------------------------------------------------------------------- |\n| [POST /api/external/v6/invoice](#operation/v6UpsertInvoice)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          | Обновили описание параметров `servicePrice.amount` и `servicePrice.excludingAmount` в запросе метода.                 |\n| [GET /api/external/v6/invoice/{externalInvoiceId}](#operation/v6GetInvoice) <br> [POST /api/external/v6/invoice/list](#operation/v6ListInvoice) <br> [POST /api/external/v6/invoice](#operation/v6UpsertInvoice)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     | Обновили описание параметров `invoice.servicePrice.amount` и `invoice.servicePrice.excludingAmount` в ответе методов. |\n| POST /api/external/v3/contract <br> GET /api/external/v3/contract/{externalContractId} <br> POST /api/external/v3/creative <br> GET /api/external/v3/creative/{externalCreativeId} <br> POST /api/external/creative/list <br> POST /api/external/v2/statistic <br> POST /api/external/v4/statistic <br> POST /api/external/v2/statistic/list <br> GET /api/external/v2/statistic/{externalStatisticId} <br> GET /api/external/v4/statistic/{externalStatisticId} <br> POST /api/external/v3/invoice <br> POST /api/external/v5/invoice <br> GET /api/external/v3/invoice/{externalInvoiceId} <br> GET /api/external/v5/invoice/{externalInvoiceId} <br> POST /api/external/v2/invoice/list <br> POST /api/external/v5/invoice/list <br> POST /api/external/organisation <br> GET /api/external/organisation/{externalOrganisationId} <br> POST /api/external/organisation/{externalOrganisationId}/platform <br> POST /api/external/organisation/list <br> POST /api/external/v3/platform <br> POST /api/external/v3/platform/batch <br> GET /api/external/v3/platform/{externalPlatformId} <br> POST /api/external/v3/platform/list | Методы устарели, удалили их из документации.                                                                          |\n\n## 28 января 2026\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                  | Изменение                                                                                                                                                                               |\n| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [POST /api/external/v6/platform](#operation/v6UpsertPlatform) <br> [GET /api/external/v6/platform/{externalPlatformId}](#operation/v6GetPlatform) <br> [POST /api/external/v6/platform/list](#operation/v6ListPlatform) <br> [POST /api/external/v6/platform/batch](#operation/v6UpsertPlatformBatch)                                                                  | Добавили новые версии методов для работы с площадками.                                                                                                                                  |\n| POST /api/external/v3/platform                                                                                                                                                                                                                                                                                                                                         | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6UpsertPlatform\">POST /api/external/v6/platform</a>.                                                 |\n| GET /api/external/v3/platform/{externalPlatformId}                                                                                                                                                                                                                                                                                                                     | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6GetPlatform\">GET /api/external/v6/platform/{externalPlatformId}</a>.                                |\n| POST /api/external/v3/platform/list                                                                                                                                                                                                                                                                                                                                    | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6ListPlatform\">POST /api/external/v6/platform/list</a>.                                              |\n| POST /api/external/v3/platform/batch                                                                                                                                                                                                                                                                                                                                   | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6UpsertPlatformBatch\">POST /api/external/v6/platform/batch</a>.                                      |\n| [POST /api/external/v6/organisation](#operation/v6UpsertOrganisation) <br> [GET /api/external/v6/organisation/{externalOrganisationId}](#operation/v6GetOrganisation) <br> [POST /api/external/v6/organisation/list](#operation/v6ListOrganisation) <br> [POST /api/external/v6/organisation/{externalOrganisationId}/platform](#operation/v6LinkOrganisationPlatform) | Добавили новые версии методов для работы с контрагентами.                                                                                                                               |\n| POST /api/external/organisation                                                                                                                                                                                                                                                                                                                                        | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6UpsertOrganisation\">POST /api/external/v6/organisation</a>.                                         |\n| GET /api/external/organisation/{externalOrganisationId}                                                                                                                                                                                                                                                                                                                | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6GetOrganisation\">GET /api/external/v6/organisation/{externalOrganisationId}</a>.                    |\n| POST /api/external/organisation/list                                                                                                                                                                                                                                                                                                                                   | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6ListOrganisation\">POST /api/external/v6/organisation/list</a>.                                      |\n| POST /api/external/organisation/{externalOrganisationId}/platform                                                                                                                                                                                                                                                                                                      | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6LinkOrganisationPlatform\">POST /api/external/v6/organisation/{externalOrganisationId}/platform</a>. |\n| [POST /api/external/v6/contract](#operation/v6UpsertContract) <br> [GET /api/external/v6/contract/{externalContractId}](#operation/v6GetContract)                                                                                                                                                                                                                      | Добавили новые версии методов для работы с договорами.                                                                                                                                  |\n| POST /api/external/v3/contract                                                                                                                                                                                                                                                                                                                                         | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6UpsertContract\">POST /api/external/v6/contract</a>.                                                 |\n| GET /api/external/v3/contract/{externalContractId}                                                                                                                                                                                                                                                                                                                     | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6GetContract\">GET /api/external/v6/contract/{externalContractId}</a>.                                |\n| [POST /api/external/v6/invoice](#operation/v6UpsertInvoice) <br> [GET /api/external/v6/invoice/{externalInvoiceId}](#operation/v6GetInvoice) <br> [POST /api/external/v6/invoice/list](#operation/v6ListInvoice)                                                                                                                                                       | Добавили новые версии методов для работы с актами.                                                                                                                                      |\n| POST /api/external/v5/invoice                                                                                                                                                                                                                                                                                                                                          | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6UpsertInvoice\">POST /api/external/v6/invoice</a>.                                                   |\n| GET /api/external/v5/invoice/{externalInvoiceId}                                                                                                                                                                                                                                                                                                                       | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6GetInvoice\">GET /api/external/v6/invoice/{externalInvoiceId}</a>.                                   |\n| POST /api/external/v5/invoice/list                                                                                                                                                                                                                                                                                                                                     | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6ListInvoice\">POST /api/external/v6/invoice/list</a>.                                                |\n| [POST /api/external/v6/statistic](#operation/v6UpsertStatistic) <br> [GET /api/external/v6/statistic/{externalStatisticId}](#operation/v6GetStatistic)                                                                                                                                                                                                                 | Добавили новые версии методов для работы со статистикой.                                                                                                                                |\n| POST /api/external/v4/statistic                                                                                                                                                                                                                                                                                                                                        | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6UpsertStatistic\">POST /api/external/v6/statistic</a>.                                               |\n| GET /api/external/v4/statistic/{externalStatisticId}                                                                                                                                                                                                                                                                                                                   | Метод устаревает и будет отключён в будущем. Переключитесь на <a href=\"#operation/v6GetStatistic\">GET /api/external/v6/statistic/{externalStatisticId}</a>.                             |\n\n\n## 14 января 2026\n\n| Метод                                                                                                                                                                       | Изменение                                                                                                                                                                                                                                                                         |\n| --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| POST /api/external/v4/statistic                                                                                                    | Обновили описание параметра `statistics.price.vatRate` в запросе метода.                                                                                                                                                                                                               |\n| POST /api/external/v3/statistic/list | Обновили описание параметра `items.statistic.price.vatRate` в ответе метода.                                                                                                                                                                                                                 |\n| GET /api/external/v4/statistic/{externalStatisticId} | Обновили описание параметра `statistic.price.vatRate` в ответе метода.                                                                                                                                                                                                                 |\n| POST /api/external/v5/invoice                                                                                                        | Обновили описание параметров `contracts.price.vatRate`, `servicePrice.vatRate` и `comissionPrice.vatRate` в запросе метода. <br> Обновили описание параметров `creative.contracts.price.vatRate`, `creative.servicePrice.vatRate` и `creative.comissionPrice.vatRate` в ответе метода. |\n| GET /api/external/v5/invoice/{externalInvoiceId} <br> POST /api/external/v5/invoice/list                                                                                        | Обновили описание параметров `invoice.contracts.price.vatRate`, `invoice.servicePrice.vatRate` и `invoice.comissionPrice.vatRate` в ответе методов.                                                                                                                                     |\n\n## 19 декабря 2025\n\n| Метод                                                                                                                                                                                                                                             | Изменение                                                                                                                       |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/external/v5/cid](#operation/ExternalV5_CreateCID)<br>[POST /api/external/v5/external_cid](#operation/ExternalV5_UpsertExternalCID)<br>[POST /api/external/v5/external_cid/list](#operation/ExternalV5_ListCID)                         | Добавили методы для работы с CID.                                                                                                    |\n| POST /api/external/v3/contract<br>GET /api/external/v3/contract/{externalContractId} <br> [POST /api/ord-api/api/external/contract/list](#operation/External_ListContractPost) | Добавили параметры `contract.cid` и `contract.cidStatus` в ответы методов.                                                           |\n| [POST /api/external/v4/creative](#operation/External_UpsertCreativeV4)                                                                                                                                                                            | Добавили параметр `externalCidIds` в запрос метода.<br>Добавили параметр `creative.externalCidIds` в ответ метода.                   |\n| [GET /api/external/v4/creative/{externalCreativeId}](#operation/GetCreativeV4)<br>[POST /api/external/v4/creative/list](#operation/CreativesListV4)                                                                                               | Добавили параметр `creative.externalCidIds` в ответ метода.                                                                          |\n| POST /api/external/v5/invoice                                                                                                                                                                              | Добавили параметр `contracts.externalCidId` в запрос метода.<br>Добавили параметр `creative.contracts.externalCidId` в ответ метода. |\n| GET /api/external/v5/invoice/{externalInvoiceId}                                                                                                                                                              | Добавили параметр `invoice.contracts.externalCidId` в ответ метода.                                                                  |\n\n## 27 ноября 2025\n\n| Метод                                                                    | Изменение                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n|--------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| POST /api/external/v4/statistic | В запросе метода:<ul><li>отметили обязательными параметры `statistics`, `statistics.creativeId`, `statistics.dateEndFact`, `statistics.dateEndPlan`, `statistics.dateStartFact`, `statistics.dateStartPlan`, `statistics.externalCreativeId`, `statistics.externalPlatformId`, `statistics.externalStatisticId`, `statistics.price`, `statistics.price.amount`, `statistics.price.vatRate`, `statistics.price.excludingAmount`, `statistics.unitCost`, `statistics.viewsCountByFact`, `statistica.viewsCountByInvoice` и `withNds`;</li><li>удалили параметры `platformId` и `statisticId`.</li></ul> |\n\n## 7 августа 2025\n\n|Метод |Изменение|\n|--------|--------|\n|POST /api/external/v4/statistic| Добавили параметры `statistics.externalInvoiceId` и `statistics.externalContractId` в запрос метода. |\n\n## 8 июля 2025\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 | Изменение                                                                                    |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------|\n| POST /api/external/v3/contract                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 | Добавили параметр `isChargePaidByAgent` в запрос и `contract.isChargePaidByAgent` в ответ метода. |\n| GET /api/external/v3/contract/{externalContractId} <br> [POST /api/ord-api/api/external/contract/list](#operation/External_ListContractPost)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              | Добавили параметр `contract.isChargePaidByAgent` в ответы методов.                                |\n| POST /api/external/contract <br> GET /api/external/contract/{externalContractId} <br> POST /api/external/contract/{externalContractId}/creative <br> POST /api/external/creative <br> GET /api/external/creative/{externalCreativeId} <br> POST /api/external/contract/{externalContractId}/invoice <br> POST /api/external/v2/invoice <br> GET /api/external/invoice/{externalInvoiceId} <br> GET /api/external/v2/invoice/{externalInvoiceId} <br> POST /api/external/invoice/{externalInvoiceId}/statistics/contract <br> PUT /api/external/invoice/{externalInvoiceId}/statistics/contract <br> POST /api/external/invoice/{externalInvoiceId}/statistics/creative <br> PUT /api/external/invoice/{externalInvoiceId}/statistics/creative <br> POST /api/external/v2/invoice/{externalInvoiceId}/contract/{externalContractId}/statistic <br> DELETE /api/external/v2/invoice/{externalInvoiceId}/contract/{externalContractId}/statistic <br> POST /api/external/platform <br> POST /api/external/platform/batch | Методы устарели, удалили их из документации.                                                      |\n| —                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     | Обновили домен API. Используйте `api-ord.ozon.ru`.                                                |\n\n## 2 июня 2025\n\n| Метод                                                                                      | Изменение                                                                                                |\n|--------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------|\n| POST /api/external/v4/statistic                   | Обновили описание параметров `statistics.price.amount` и `statistics.price.excludingAmount` в запросе метода. |\n| GET /api/external/v4/statistic/{externalStatisticId} | Обновили описание параметров `statistics.price.amount` и `statistics.price.excludingAmount` в ответе метода.  |\n\n## 26 марта 2025\n\n| Метод                                                                                                                                                                       | Изменение                                                                                                                                                                 |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/external/v4/creative](#operation/External_UpsertCreativeV4)                                                                                                      | Добавили новую версию метода для регистрации или обновления данных креатива.                                                                                                   |\n| POST /api/external/v3/creative                                                                                                      | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [POST /api/external/v4/creative](#operation/External_UpsertCreativeV4).                     |\n| [GET /api/external/v4/creative/{externalCreativeId}](#operation/GetCreativeV4)                                                                                              | Добавили новую версию метода для получения информации о креативе.                                                                                                              |\n| GET /api/external/v3/creative/{externalCreativeId}                                                                                              | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [POST /api/external/v4/creative/{externalCreativeId}](#operation/GetCreativeV4).            |\n| [POST /api/external/v4/creative/list](#operation/CreativesListV4)                                                                                                           | Добавили новую версию метода для получения списка креативов.                                                                                                                   |\n| POST /api/external/creative/list                                                                                                                | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [POST /api/external/v4/creative/list](#operation/CreativesListV4).                          |\n| POST /api/external/v4/statistic                                                                                                    | Добавили новую версию метода для добавления статистики.                                                                                                                        |\n| POST /api/external/v2/statistic                                                                                                      | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [POST /api/external/v4/statistic](#operation/External_UpsertStatisticV4).                   |\n| GET /api/external/v4/statistic/{externalStatisticId}                                                                                  | Добавили новую версию метода для получения инфорации о статистике.                                                                                                             |\n| GET /api/external/v2/statistic/{externalStatisticId}                                                                                    | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [GET /api/external/v4/statistic/{externalStatisticId}](#operation/External_GetStatisticV4). |\n| POST /api/external/v3/statistic/list                                                                                                 | Добавили новую версию метода для получения списка статистик.                                                                                                                   |\n| POST /api/external/v2/statistic/list                                                                                                   | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [POST /api/external/v3/statistic/list](#operation/External_ListStatisticV3).                |\n| POST /api/external/v5/invoice                                                                                                        | Добавили новую версию метода для регистрации или обновления акта.                                                                                                              |\n| POST /api/external/v3/invoice                                                                                                        | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [POST /api/external/v5/invoice](#operation/External_UpsertInvoiceV5).                       |\n| GET /api/external/v5/invoice/{externalInvoiceId}                                                                                        | Добавили новую версию метода для получения информации об акте.                                                                                                                 |\n| GET /api/external/v3/invoice/{externalInvoiceId}                                                                                        | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [GET /api/external/v5/invoice/{externalInvoiceId}](#operation/External_GetInvoiceV5).       |\n| POST /api/external/v5/invoice/list                                                                                                             | Добавили новую версию метода для получения списка актов.                                                                                                                       |\n| POST /api/external/v2/invoice/list                                                                                                               | Метод устаревает и будет отключён 16 июня 2025 года. Переключитесь на новую версию [POST /api/external/v5/invoice/list](#operation/InvoicesListV5).                            |\n| POST /api/external/organisation                                                                                                    | Добавили параметр `kpp` в запрос и ответ метода.                                                                                                                               |\n| GET /api/external/organisation/{externalOrganisationId} <br> POST /api/external/organisation/list | Добавили параметр `kpp` в ответы методов.                                                                                                                                      |\n\n## 30 января 2025\n\n| Метод                                                                                                                                                                                                                                                                                                                  | Изменение                                                    |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------|\n| [POST /api/external/v3/feed](#operation/ExternalV3_UpsertFeed)<br>[POST /api/external/v3/feed/list](#operation/ExternalV3_ListFeed)<br>[GET /api/external/v3/feed/{externalFeedId}](#operation/ExternalV3_GetFeed)<br>[POST /api/external/v3/feed/{externalFeedId}/elements](#operation/ExternalV3_UpsertFeedElements) | Добавили методы для работы с фидами.                              |\n| POST /api/external/v3/creative                                                                                                                                                                                                                                                 | Добавили параметры `externalFeedId` и `creativeType` в запрос метода. |\n\n## 22 января 2025\n\n| Метод                                                            | Изменение                                              |\n|------------------------------------------------------------------|-------------------------------------------------------------|\n| POST /api/external/v2/statistic | Добавили параметр `statistics.paymentType` в запрос метода. |\n\n\n## 5 ноября 2024\n\n| Метод                                                                  | Изменение                                                                                |\n|------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------|\n| POST /api/external/v3/creative | Добавили параметр `kktuCategory` в запрос метода. Удалили параметр `iabCategory` из метода.   |\n| [POST /api/external/dict/kktu](#operation/GetKktuDict)                 | Добавили метод для получения справочника категорий.                                           |\n\n## 30 сентября 2024\n\n| Метод                                                                                      | Изменение                                                                                                                     |\n|--------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------|\n| POST /api/external/v3/creative                     | Обновили тип данных и описание параметра `creativeTargeting.value` в запросе и `creative.creativeTargeting.value` в ответе метода. |\n| GET /api/external/v3/creative/{externalCreativeId} | Обновили тип данных и описание параметра `creative.creativeTargeting.value` в ответе метода.                                       |\n\n## 12 сентября 2024\n\n| Метод                                                                   | Изменение                                                                                                                                                 |\n|-------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| POST /contract                     | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию POST /v3/contract.                |\n| GET /contract/{externalContractId}            | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию GET /v3/contract/{externalContractId}.       |\n| POST /v2/invoice                 | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию POST /v3/invoice.                 |\n| GET /v2/invoice/{externalInvoiceId} | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию GET /v3/invoice/{externalInvoiceId}. |\n\n## 10 сентября 2024\n\n| Метод                                                                                                                                                                                                             | Изменение                                                                                                                                                   |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| POST /platform                                                                                                                                                               | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию POST /v3/platform.          |\n| POST /platform/batch                                                                                                                                        | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию POST /v3/platform/batch. |\n| POST /creative                                                                                                                                                 | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию POST /v3/creative.         |\n| GET /creative/{externalCreativeId}                                                                                                                                           | Метод устаревает и будет отключён 14 октября 2024 года. Переключитесь на новую версию GET /v3/creative/{externalCreativeId}. |\n| [POST /organisation](#operation/RegisterUpdateOrganisation)                                                                                                                                           | Дополнили описание параметра `inn` в запросе метода.                                                                                                             |\n| [POST /contract](#operation/RegisterUpdateContract)<br>[GET /contract/{externalContractId}](#operation/GetContract)<br>[POST /contract/list](#operation/External_ListContractPost) | Добавили параметр `expirationDate` в запросы и ответы методов.                                                                                                   |\n| Все методы, в которых использовался параметр `withNds`.                                                                                                                                                           | Параметр `withNds` в запросах и ответах методов устарел.                                                                                                         |\n\n\n## 16 мая 2024\n\n| Метод                                                                                           | Изменение                                                                                                  |\n|-------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------|\n| [POST /delete_operation/create](#operation/External_DeleteEntity)                  | Дополнили описание метода.                                                                                      |\n| [POST /delete_operation/entity_count](#operation/External_DeleteEntityCount)<br><br>[POST /delete_operation/related_entities](#operation/External_ListRelatedEntities)       | Изменили название метода. |\n\n## 18 апреля 2024\n\n| Метод                       | Изменение             |\n|-----------------------------|----------------------------|\n| POST /api/external/creative | Дополнили описание метода. |\n\n## 1 апреля 2024\n\n| Метод                                      | Изменение                              |\n|--------------------------------------------|---------------------------------------------|\n| POST /v2/statistic/list | Добавили параметры `statPeriodFromDate` и `statPeriodToDate` в запрос метода. |\n\n## 7 марта 2024\n\n| Метод                                                                  | Изменение                                                                                  |\n|------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------|\n| [GET /v3/invoice/creative](#operation/ListInvoiceCreativeV3)           | Добавили новый метод для получения списка связей между креативами и детализациями актов.        |\n| [POST /v3/invoice/creative/link](#operation/LinkInvoiceCreativeV3)     | Добавили новую версию метода для добавления креативов к детализации акта.                       |\n| [POST /v3/invoice/creative/unlink](#operation/UnlinkInvoiceCreativeV3) | Добавили новую версию метода для удаления креативов из детализации акта.                        |\n| [POST /v2/invoice/{externalInvoiceId}/contract/{externalContractId}/statistic](#operation/External_UpsertInvoiceStatistic)          | Метод устарел. Используйте [POST /invoice/creative/link](#operation/LinkInvoiceCreativeV3).     |\n| [DELETE /v2/invoice/{externalInvoiceId}/contract/{externalContractId}/statistic](#operation/External_DeleteInvoiceStatistic)        | Метод устарел. Используйте [POST /invoice/creative/unlink](#operation/UnlinkInvoiceCreativeV3). |\n\n## 13 февраля 2024\n\n| Метод                                                                                                              | Изменение                                                                               |\n|--------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------|\n| [POST /contract](#operation/RegisterUpdateContract)<br>[GET /contact/{externalContractId}](#operation/GetContract) | Добавили и обновили описание параметра `agentActingForPublisher` в запросы и ответы методов. |\n\n## 7 февраля 2024\n\n| Метод                                                               | Изменение                                                                                                             |\n|---------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------|\n| [POST /creative](#operation/External_UpsertCreativeV2) | Добавили параметр `externalContractIds` в запрос метода. Обновили описание парметра `externalContractId` в запросе метода. |\n| [POST /contract](#operation/RegisterUpdateContract)    | Добавили парметр `agentActingForPublisher` в запрос метода.                                                                |\n\n\n## 5 февраля 2024\n\n| Метод                                                                              | Изменение                                                  |\n|------------------------------------------------------------------------------------|-----------------------------------------------------------------|\n| [POST /delete_operation/create](#operation/External_DeleteEntity)                  | Добавили новый метод для создания запроса на удаление данных.   |\n| [POST /delete_operation/entity_count](#operation/External_DeleteEntityCount)       | Добавили новый метод для получения списка вложенных объектов.   |\n| [POST /delete_operation/related_entities](#operation/External_ListRelatedEntities) | Добавили новый метод для получения списка связанных сущностей.  |\n\n\n## 29 декабря 2023\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             | Изменение                                                         |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------|\n| [POST /organisation](#operation/RegisterUpdateOrganisation)<br>[GET /organisation/{externalOrganisationId}](#operation/GetOrganisation)<br>[POST /organisation/list](#operation/External_ListOrganisationPost)<br>[POST /platform](#operation/RegisterUpdatePlatform)<br>[POST /platform/batch](#operation/External_UpsertPlatformBatch)<br>[GET /platform/{externalPlatformId}](#operation/GetPlatform)<br>[POST /platform/list](#operation/PlatformsList)<br>[POST /creative](#operation/External_UpsertCreativeV2)<br>[GET /creative/{externalCreativeId}](#operation/GetCreative)<br>[POST /contract](#operation/RegisterUpdateContract)<br>[GET /contract/{externalContractId}](#operation/GetContract)<br>[POST /contract/list](#operation/External_ListContractPost)<br>[POST /v2/invoice](#operation/External_UpsertInvoiceV2)<br>[GET /v2/invoice/{externalInvoiceId}](#operation/External_GetInvoiceV2)<br>[POST /v2/invoice/list](#operation/InvoicesList)<br>[POST /v2/statistic](#operation/External_UpsertStatistic)<br>[GET /v2/statistic/{externalStatisticId}](#operation/External_GetStatistic)<br>[POST /v2/statistic/list](#operation/External_ListStatistic) | Добавили необязательный параметр `comment` в запросы и ответы методов. |\n\n\n## 8 декабря 2023\n\n| Метод                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   | Изменение                                                                                 |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------|\n| [POST&nbsp;/creative/list](#operation/CreativesList)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    | Добавили метод для получения списка креативов.                                                 |\n| [POST&nbsp;/platform/list](#operation/PlatformsList)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    | Добавили метод для получения списка площадок.                                                  |\n| [POST&nbsp;/v2/invoice/list](#operation/InvoicesList)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   | Добавили метод для получения списка актов.                                                     |\n| [GET&nbsp;/notification/error_list](#operation/External_GetErrorNotification)<br>[POST /platform](#operation/RegisterUpdatePlatform)<br>[POST /platform/batch](#operation/External_UpsertPlatformBatch)<br>[GET /platform/{externalPlatformId}](#operation/GetPlatform)<br>[POST /v2/invoice](#operation/External_UpsertInvoiceV2)<br>[GET /v2/invoice/{externalInvoiceId}](#operation/External_GetInvoiceV2)<br>[POST /creative](#operation/External_UpsertCreativeV2)<br>[GET /creative/{externalCreativeId}](#operation/GetCreative) | Добавили параметр `updatedAt` в ответы методов.                                                |\n| [POST /v2/statistic/list](#operation/External_ListStatistic)                                                                                                                                                                                                                                                                                                                                                                                                                                                                            | Добавили параметры `cursor` и `orderBy` в запрос метода и параметр `updatedAt` в ответ метода. | \n| [POST /organisation](#operation/RegisterUpdateOrganisation)<br>[POST /organisation/list](#operation/External_ListOrganisationPost)<br>[GET /organisation/{externalOrganisationId}](#operation/GetOrganisation)                                                                                                                                                                                                                                                                                                                                                    | Обновили описание параметра `updatedAt` в ответе метода.                                       |\n\n## 27 октября 2023\n\n| Метод                                                                                                                                              | Изменение                                                                                                                                                                                                                           |\n|----------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST&nbsp;/v2/statistic](#operation/External_UpsertStatistic)                                                                                     | Добавили параметры `statistics.creativeId`, `statistics.platformId` и `statistics.statisticId` в запрос метода.                                                                                                                          |\n| [GET&nbsp;/v2/statistic/{externalStatisticId}](#operation/External_GetStatistic)                                                                   | Добавили параметры `statistic.creativeId`, `statistic.platformId` и `statistic.statisticId` в ответ метода.                                                                                                                              |\n| [POST&nbsp;/contract](#operation/RegisterUpdateContract)                                                                                           | Добавили параметры `contract.contractId` и `contract.updatedAt` в ответ метода.                                                                                                                                                          |\n| [POST&nbsp;/contract/list](#operation/External_ListContractPost)                                                                                   | Добавили параметры:<br>• `cursor.externalId`, `cursor.updatedAt.updatedAt` и `orderBy` в запрос метода;<br>• `contract.contractId` и `contract.updatedAt` в ответ метода.                                                                |\n| [GET&nbsp;/contract/{externalContractId}](#operation/GetContract)                                                                                  | Добавили параметры `contract.contractId` и `contract.updatedAt` в ответ метода.                                                                                                                                                          |\n| [POST&nbsp;/platform](#operation/RegisterUpdatePlatform)                                                                                           | Добавили параметр `platform.platformId` в ответ метода.                                                                                                                                                                                  |\n| [POST&nbsp;/platform/batch](#operation/External_UpsertPlatformBatch)                                                                               | Добавили параметр `platforms.platformId` и переименовали параметр `externalPlatformId` в `externalId` в ответе метода.                                                                                                                   |\n| [GET&nbsp;/platform/{externalPlatformId}](#operation/GetPlatform)                                                                                  | Добавили параметр `platform.platformId` и переименовали параметр `externalPlatformId` в `externalId` в ответе метода.                                                                                                                    |\n| [POST&nbsp;/v2/invoice](#operation/External_UpsertInvoiceV2)<br>[GET&nbsp;/v2/invoice/{externalInvoiceId}](#operation/External_GetInvoiceV2)       | Добавили параметры `invoice.contractId` `invoice.invoiceId` и `invoice.contracts.contractId` в ответы методов.                                                                                                                           |\n| [POST&nbsp;/v2/statistic/list](#operation/External_ListStatistic)                                                                                  | Добавили параметры `items.contractId`, `items.invoiceId`, `items.statistic.creativeId`, `items.statistic.platformId` и `items.statistic.statisticId` в ответ метода.                                                                     |\n| [POST&nbsp;/creative](#operation/External_UpsertCreativeV2)<br>[GET&nbsp;/creative/{externalCreativeId}](#operation/GetCreative)                   | Добавили параметр `creative.creativeId` в ответы методов.                                                                                                                                                                                |\n| [POST&nbsp;/organisation](#operation/RegisterUpdateOrganisation)<br>[GET&nbsp;/organisation/{externalOrganisationId}](#operation/GetOrganisation)  | Добавили параметры `organisation.organisationId` `organisation.updatedAt` `organisation.organisationPlatformInfo.platformId` в ответы методов.                                                                                           |\n| [POST&nbsp;/organisation/list](#operation/External_ListOrganisationPost)                                                                           | Добавили параметры:<br>• `cursor.externalId`, `cursor.updatedAt.updatedAt` и `orderBy` в запрос метода;<br>• `organisation.organisationId` `organisation.updatedAt` и `organisation.organisationPlatformInfo.platformId` в ответ метода. |\n\n## 4 сентября 2023\n\n| Метод                                                                                                                                                                                                                                                                                                                                                     | Изменение                                                                                                                       |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /notification/error_list](#operation/External_GetErrorNotification)                                                                                                                                                                                                                                                                                  | Добавили параметр `externalId` в ответ метода.                                                                                       |\n| [POST /organisation](#operation/RegisterUpdateOrganisation)                                                                                                                                                                                                                                                                                               | Пометили параметр `fullOpf` обязательным, если в параметре `legalType` вы указали `LEGAL_TYPE_LEGAL` или `LEGAL_TYPE_FOREIGN_LEGAL`. |\n| [POST /organisation/list](#operation/External_ListOrganisationPost)                                                                                                                                                                                                                                                                                       | Добавили метод для получения списка контрагентов.                                                                                    |\n| [POST /contract/list](#operation/External_ListContractPost)                                                                                                                                                                                                                                                                                               | Добавили метод для получения списка договоров.                                                                                       |\n| [POST /contract/{externalContractId}/creative](#operation/RegisterUpdateCreative) <br><br> [GET /invoice/{externalInvoiceId}](#operation/GetInvoice) <br><br> [PUT /invoice/{externalInvoiceId}/statistics/creative](#operation/CreateInvoiceCreative) <br><br> [POST /invoice/{externalInvoiceId}/statistics/contract](#operation/UpdateInvoiceContract) | Обновили время отключения методов — 10 ноября 2023.                                                                                  |\n| [POST /dict/bank](#operation/GetBankDict) <br><br> [POST /dict/fias](#operation/GetFiasDict) <br><br> [POST /dict/oksm](#operation/GetOksmDict) <br><br> [POST /dict/okved](#operation/GetOkvedDict)                                                                                                                                                      | Добавили обязательный параметр `accept` в запрос методов.                                                                            |\n\n## 19 июля 2023\n\n| Метод                                                                                         | Изменение                                                    |\n|-----------------------------------------------------------------------------------------------|-------------------------------------------------------------------|\n| [POST /platform/batch](#operation/External_UpsertPlatformBatch)       | Добавили метод для регистрации или обновления данных нескольких площадок. |\n\n## 30 июня 2023\n\n| Метод                                                                                                                                                                                                                 | Изменение                                                                                                                        |\n|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /statistic](#operation/External_UpsertStatistic)                                                                                                                                                                | Добавили метод для добавления статистики.                                                                                             |\n| [POST /statistic/list](#operation/External_ListStatistic)                                                                                                                                                             | Добавили метод для получения списка статистик.                                                                                        |\n| [GET /statistic/{externalStatisticId}](#operation/External_GetStatistic)                                                                                                                                              | Добавили метод для получения информации о статистике.                                                                                 |\n| [POST /invoice](#operation/External_UpsertInvoiceV2)                                                                                                                                                                  | Добавили вторую версию метода для регистрации и обновления данных акта.                                                               |\n| [GET /invoice/{externalInvoiceId}](#operation/External_GetInvoiceV2)                                                                                                                                                  | Добавили вторую версию метода для получения информации об акте.                                                                       |\n| [POST /invoice/{externalInvoiceId}/contract/{externalContractId}/statistic](#operation/External_UpsertInvoiceStatistic)                                                                                               | Добавили метод для добавления статистики к детализации акта.                                                                          |\n| [DELETE /invoice/{externalInvoiceId}/contract/{externalContractId}/statistic](#operation/External_DeleteInvoiceStatistic)                                                                                             | Добавили метод для удаления статистики из детализации акта.                                                                           |\n| [POST /{externalContractId}/invoice](#operation/RegisterUpdateInvoice)                                                                                                                                                | Метод устарел и перестанет работать 1 августа 2023. Используйте [POST /invoice](#operation/External_UpsertInvoiceV2).                 |\n| [GET /invoice/{externalInvoiceId}](#operation/GetInvoice)                                                                                                                                                             | Метод устарел и перестанет работать 1 августа 2023. Используйте [GET /invoice/{externalInvoiceId}](#operation/External_GetInvoiceV2). |\n| [POST /invoice/{externalInvoiceId}/statistics/contract](#operation/CreateInvoiceContract) <br><br> [PUT /invoice/{externalInvoiceId}/statistics/contract](#operation/UpdateInvoiceContract) | Методы устарели и перестанут работать 1 августа 2023. Используйте [POST /invoice](#operation/External_UpsertInvoiceV2).                                                               |\n| [POST /invoice/{externalInvoiceId}/statistics/creative](#operation/CreateInvoiceCreative) <br><br> [PUT /invoice/{externalInvoiceId}/statistics/creative](#operation/UpdateInvoiceCreative)                                                                                                                                    | Методы устарели и перестанут работать 1 августа 2023. Используйте [POST /invoice/{externalInvoiceId}/contract/{externalContractId}/statistic](#operation/External_UpsertInvoiceStatistic).                                                                 |\n\n## 15 июня 2023\n\n| Метод                                                                                          | Изменение                                                                                     |\n|------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------|\n| [POST /creative](#operation/External_UpsertCreativeV2)                            | Добавили новую версию метода для регистрации и обновления данных креатива.                         |\n| [POST /contract/{externalContractId}/creative](#operation/RegisterUpdateCreative) | Пометили метод как устаревший. Используйте [POST /creative](#operation/External_UpsertCreativeV2). |\n\n## 19 апреля 2023\n\n| Метод                                                                                 | Изменение                                                                                               |\n|---------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------|\n| [GET /notification/error_list](#operation/External_GetErrorNotification) | Добавили метод для получения ошибок валидации.                                                               |\n| [POST /file/{bucket}](#operation/UploadFile)                             | Обновили описание параметра `file` в запросе метода: добавили требования к загружаемому файлу видеокреатива. |\n\n## 7 апреля 2023\n\n| Метод                                                    | Изменение                                                       |\n|----------------------------------------------------------|----------------------------------------------------------------------|\n| [POST /dict/bank](#operation/GetBankDict)   | Добавили метод для получения справочника с данными банков.           |\n| [POST /dict/fias](#operation/GetFiasDict)   | Добавили метод для получения справочника ФИАС.                       |\n| [POST /dict/oksm](#operation/GetOksmDict)   | Добавили метод для получения справочника идентификаторов стран ОКСМ. |\n| [POST /dict/okved](#operation/GetOkvedDict) | Добавили метод для получения справочника по видам экономической деятельности (ОКВЭД). |\n\n## 1 марта 2023\n\n| Метод                                                                                      | Изменение                                                                                                                                                                          |\n|--------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /contract/{externalContractId}/invoice](#operation/RegisterUpdateInvoice)            | Добавили описание метода.<br>В ответ метода добавили параметры `invoice.invoiceCreativeAttribute.itemId` и `invoice.invoiceCreativeAttribute.creativeInfo.creativePlatformInfo.itemId`. |\n| [GET /invoice/{externalInvoiceId}](#operation/GetInvoice)                                  | В ответ метода добавили параметры `invoice.invoiceCreativeAttribute.itemId` и `invoice.invoiceCreativeAttribute.creativeInfo.creativePlatformInfo.itemId`.                              |\n| [POST /invoice/{externalInvoiceId}/statistics/contract](#operation/CreateInvoiceContract)  | Добавили метод для добавления изначальных договоров к детализации акта.                                                                                                                 |\n| [PUT /invoice/{externalInvoiceId}/statistics/contract](#operation/UpdateInvoiceContract)   | Добавили метод для обновления изначальных договоров в детализации акта.                                                                                                                 |\n| [POST /invoice/{externalInvoiceId}/statistics/creative](#operation/CreateInvoiceCreative)  | Добавили метод для добавления креативов к детализации акта.                                                                                                                             |\n| [PUT /invoice/{externalInvoiceId}/statistics/creative](#operation/UpdateInvoiceCreative)   | Добавили метод для обновления креативов в детализации акта.                                                                                                                             |\n| [POST /organisation/{externalOrganisationId}/platform](#operation/SetPlatform) | Добавили метод для добавления площадки к контрагенту.                                                                                                                                   |\n\n<!--\n## 17 февраля 2023\n\n| Метод                                                                             | Изменение                                                                                                   |\n|-----------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------|\n| [POST /contract/{externalContractId}/creative](#operation/RegisterUpdateCreative) | В запросе метода:<br>• пометили параметр `description` обязательным;<br>• удалили параметр `mediaData.file.url`. |\n| [POST /organisation](#operation/RegisterUpdateOrganisation)                       | В запрос метода добавили параметр `rsUrl`.                                                                       |\n\n## 28 декабря 2022\n\n| Метод | Изменение |\n|---|---|\n| • [POST /platform](#operation/RegisterUpdatePlatform) <br> • [GET /platform/{externalPlatformId}](#operation/GetPlatform)| В ответ методов добавили поля: <br>•`createdAt`, <br>•`createdBy`, <br>•`editedAt`, <br>•`editedBy`. |\n\n## 27 декабря 2022\n\n| Метод | Изменение |\n|---|---|\n| • [POST /contract](#operation/RegisterUpdateContract) <br> • [GET /contract/{externalContractId}](#operation/GetContract)| В ответ методов добавили поля: <br>•`createdAt`, <br>•`createdBy`, <br>•`editedAt`, <br>•`editedBy`, <br>•`externalOrganisationCustomerId`, <br>•`externalOrganisationPerformerId`, <br>•`externalParentId`, <br>•`isCreativeReporter`. |\n| • [POST /contract/{externalContractId}/creative](#operation/RegisterUpdateCreative) <br> • [GET /creative/{externalCreativeId}](#operation/GetCreative)| В запросе и ответе методов убрали поля: <br>•`hash`, <br>•`isPoliticAdv`, <br>•`mediaData.hash`, <br>•`mediaData.file.description`. <br><br> В ответ методов добавили поля: <br> •`mediaData.description`, <br>•`createdAt`, <br>•`createdBy`, <br>•`editedAt`, <br>•`editedBy`. <br><br> Для поля `advObjectType` убрали значение `ADV_OBJECT_TYPE_VIDEO_BANNER`.|\n| • [POST contract/{externalContractId}/invoice](#operation/RegisterUpdateInvoice) <br> • [GET /invoice/{externalInvoiceId}](#operation/GetInvoice)| В ответ методов добавили поля: <br>•`clientRole`, <br>•`contractorRole`, <br>•`createdAt`, <br>•`createdBy`, <br>•`editedAt`, <br>•`editedBy`.|\n| • [POST /organisation](#operation/RegisterUpdateOrganisation) <br> • [GET /organisation/{externalOrganisationId}](#operation/GetOrganisation)| Поправили описание значения `LEGAL_TYPE_FOREIGN_ENTREPRENEUR` для поля `legalType`. Значение не будет использоваться, так как в [ЕРИР](https://erir.grfc.ru/) нет иностранных индивидуальных предпринимателей. Если передать это значение, оно заменится на `LEGAL_TYPE_FOREIGN_LEGAL`.|\n\n## 21 октября 2022\n\n| Метод | Изменение |\n|---|---|\n| [POST /contract/{externalContractId}/creative](#operation/RegisterUpdateCreative) <br><br> | В запросе и ответе метода: <br>• Дополнили возможные значения для поля `advObjectType`. <br>• Дополнили описание поля `targetAudienceSettings` — лучше его не использовать, так как он будет удалён. <br>• Добавили поле `geoTargets` — таргетирование по местонахождению. <br>• Дополнили описание поля `okvedCodes` — при регистрации креатива укажите минимум 4 знака кода ОКВЭД в формате ХХ.ХХ. <br>• Добавили возможное значение для поля `paymentType`: `PAYMENT_TYPE_OTHER` — иное. |\n| [GET /creative/{externalCreativeId}](#operation/GetCreative) | В ответе метода:  <br>• Дополнили возможные значения для поля `advObjectType`. <br>• Дополнили описание поля `targetAudienceSettings` — лучше его не использовать, так как он будет удалён. <br>• Добавили поле `geoTargets` — таргетирование по местонахождению. <br>• Дополнили описание поля `okvedCodes` — при регистрации креатива укажите минимум 4 знака кода ОКВЭД в формате ХХ.ХХ. <br>• Добавили возможное значение для поля `paymentType`: `PAYMENT_TYPE_OTHER` — иное. | \n\n\n## 23 сентября 2022\n\n| Метод | Изменение |\n|---|---|\n| [POST /contract/{externalContractId}/invoice](#operation/RegisterUpdateInvoice) | В запрос метода добавили параметры: <br>• `clientRole` — роль заказчика в акте; <br>• `contractorRole` — роль исполнителя в акте.|\n-->"
    },
    {
      "name": "Contract",
      "x-displayName": "Договоры"
    },
    {
      "name": "Creative",
      "x-displayName": "Креативы"
    },
    {
      "name": "ExternalFeed",
      "x-displayName": "Фиды"
    },
    {
      "name": "Statistic",
      "x-displayName": "Статистика"
    },
    {
      "name": "File",
      "x-displayName": "Файлы"
    },
    {
      "name": "Invoice",
      "x-displayName": "Акты"
    },
    {
      "name": "Dictionary",
      "x-displayName": "Справочники"
    },
    {
      "name": "Organisation",
      "x-displayName": "Контрагенты"
    },
    {
      "name": "Platform",
      "x-displayName": "Площадки"
    },
    {
      "name": "DeleteOperation",
      "x-displayName": "Удаление данных и объектов"
    },
    {
      "name": "Notifications",
      "x-displayName": "Нотификация"
    },
    {
      "name": "CID",
[...]
