{
  "openapi": "3.0.0",
  "info": {
    "title": "Документация FBP API",
    "version": "1.2.1",
    "x-logo": {
      "url": "https://st.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "В документе описаны методы FBP API.\n\n> Информационная платформа и сообщество разработчиков [Ozon for Dev](https://dev.ozon.ru/)\n\n**Окружения**:\n- Тестовая среда: https://api-fbp.ozonru.me:443\n- Рабочая среда: https://api-fbp.ozon.ru\n",
    "x-disableAuth": true
  },
  "servers": [
    {
      "url": "https://api-fbp.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Introduction",
        "GetStarting",
        "Process",
        "News"
      ]
    },
    {
      "name": "Методы API",
      "tags": [
        "Authorization",
        "DropOff",
        "Inbound",
        "Outbound",
        "InboundCancel",
        "OutboundCancel",
        "InboundStatuses",
        "OutboundStatuses",
        "Seller",
        "Sku",
        "Stock"
      ]
    },
    {
      "name": "Приложения",
      "tags": [
        "Errors",
        "Inbound Statuses Model",
        "Outbound Statuses Model",
        "ErrorCodes",
        "StockChange"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "Введение",
      "description": "FBP API — программный интерфейс для работы с партнёрскими складами Ozon. Он даёт возможность обмениваться информацией между складами и Ozon.\n\nРабота с API состоит из отправки запроса и получения ответа. Для этого можно использовать вкладку **Консоль**, которая находится сверху описания методов, [Postman](https://www.postman.com) или настроить интеграцию с системами учёта склада.\n\nС помощью FBP API можно:\n\n- получить информацию о продавце, SKU и доступном стоке по SKU;\n- получить список отгрузок или поставок, которые надо зарегистрировать;\n- обновить информацию об остатках;\n- передать и получить статусы сборки отгрузки или приёмки поставки; \n- отменить отгрузку или поставку со стороны склада;\n- узнать об отменённых Ozon отгрузках или поставках.\n"
    },
    {
      "name": "Process",
      "x-displayName": "Порядок работы с методами",
      "description": "## Первичная настройка для FBP API\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/initial_setup_1740584416.png\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/initial_setup_1740584416.png\"></a>\n\nЧтобы подключиться к API:\n\n1. Получите ключи `ClientID` и `ClientSecret` у менеджера Ozon.\n2. С помощью метода [POST /AuthToken](#operation/Token) получите токен авторизации.\n3. Выберите типы поставок:\n   - direct — продавец самостоятельно доставляет товары на склад;\n   - pick-up — товар продавца забирает курьер склада;\n   - drop-off — продавец привозит товары в пункты приёма склада.\n\n   Если поставка с типом drop-off, передайте информацию о drop-off точках с помощью метода [POST /DropOffPoints](#operation/PostDropOffPoints).\n   Чтобы получить drop-off точки, используйте метод [GET /DropOffPoints](#operation/GetDropOffPoints).\n   Чтобы удалить привязки drop-off точек к складам, используйте метод [DELETE /DropOffPointsLinks](#operation/DropOffPointsLinks).\n\n## Работа с поставками\n\n<img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/supply-integration_1741097904.png\" width=\"1000\" >\n\n1. Продавец создаёт поставку в личном кабинете и отправляет её на регистрацию. \n\n2. Ozon собирает данные о поставке для регистрации на складе. \n\n3. С помощью метода [GET /InboundsToRegister](#operation/InboundsToRegister) склад получает информацию о поставках. \n\n4. С помощью метода [GET /SellerInfo](#operation/SellerInfo) склад может получить информацию о продавце, который создал поставку.\n\n   Вместе с основной информацией о продавце передаётся его статус:\n   - `1` — продавец может делать поставки и отгрузки;\n   - `2` — склад не разрешает работать с продавцом.\n   \n   Склад может изменить статус продавца с помощью метода [POST /SellerStatus](#operation/SellerStatus).\n\n5. С помощью метода [GET /SkuByOzonSkuIds](#operation/SkuByOzonSkuIds) склад может получить информацию о товарах в поставке.\n\n6. С помощью метода [POST /InboundRegistrationResponse](#operation/InboundRegistrationResponse) склад регистрирует поставку. Если склад готов зарегистрировать поставку –– ей устанавливается статус «Подтверждена». Если не готов –– ей устанавливается статус «Отклонена» с указанием причины `RegistrationDeclineReason`:\n      - `1` — товар запрещённой категории;\n      - `2` — товар, его вес или размер не соответствуют ограничениям;\n      - `3` — склад закрыт для поставок; \n      - `5` — превышено количество SKU; \n      - `6` — превышен вес отправления; \n      - `7` — превышен объём отправления; \n      - `9` — продавец заблокирован; \n      - `10` — техническая ошибка: склад не может получить данные, например, артикул или данные о продавце; \n      - `11` — техническая ошибка: склад не смог создать SKU из поставки;\n      - `12` — drop-off точка недоступна;\n      - `13` — pick-up адрес недоступен;\n      - `14` — не удалось определить pick-up адрес;\n      - `15` — проблема с документами для бондового склада.\n    \n   При выборе причины:\n\n   | RegistrationDeclineReason                                             | Укажите InvalidSkuReason                                                                           | Обязательно              |\n   |-----------------------------------------------------------------------|----------------------------------------------------------------------------------------------------|--------------------------|\n   | `1` –– товар запрещённой категории.                                     | • `3` — запрещённая категория.                                                                     | Да                       |\n   | `2` –– товар, его вес или размер не соответствуют ограничениям.         | • `1` — превышены габариты товара; <br> • `2` — превышен вес товара.                               | Да, хотя бы один из двух |\n   | `10` –– техническая ошибка: склад не может получить данные.             | • `5` — техническая проблема: не смогли получить данные по SKU.                                    | Нет                      |\n   | `11` –– техническая ошибка: фулфилмент не смог создать SKU из поставки. | • `4` — штрихкод не уникален; <br> • `5` — техническая проблема: не смогли получить данные по SKU. | Да, хотя бы один из двух |\n\n   При выборе других значений `RegistrationDeclineReason` указывать `InvalidSkuReason` не нужно.\n   \n   В одной поставке можно отправить несколько `RegistrationDeclineReason`. `InvalidSkuReason` должны быть выбраны соответственно.\n\n7. После регистрации cклад может получить информацию о поставке с помощью метода [GET/ InboundsByWarehouseId](#operation/InboundsByWarehouseID).\n\n8. Склад передаёт статусы поставки через метод [POST /InboundStatuses](#operation/InboundStatuses) в зависимости от её типа и состояния:\n\n  | Статус                                     | Тип поставки              | Обязательно |\n  |--------------------------------------------|---------------------------|-------------|\n  | `40` –– курьер назначен.                   | pick-up                   | Нет         |\n  | `50` –– курьер забрал поставку.            | pick-up                   | Нет         |\n  | `60` –– принято на дроп-офф точке.         | pick-up, drop-off         | Нет         |\n  | `70` –– в пути.                            | pick-up, drop-off         | Нет         |\n  | `80` –– на складе начался процесс приёмки. | pick-up, drop-off, direct | Да          |\n  | `90` –– склад завершил процесс приёмки.    | pick-up, drop-off, direct | Да          |\n\n  При передаче статуса `90` cклад указывает результаты приёмки поставки.\n\n10. Ozon автоматически добавляет результаты приёмки поставки на склад.\n\n### Отмена поставки продавцом\n\n<img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/seller-deliveries-cancellation_1741097904.png\" width=\"800\" >\n\n1. Продавец отменяет поставку после регистрации на складе. \n2. С помощью метода [GET /InboundsToCancelByOzon](#operation/InboundsToCancelByOzon) склад получает информацию об отменённой поставке.\n3. С помощью метода [POST /InboundCancelResponse](#operation/InboundCancelResponse) склад отправляет статус отмены «Принята».\n\n### Отмена поставки складом\n\n<img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/warehouse-deliveries-cancellation-2_1744879644.png\" width=\"600\" >\n\nСклад может отправить отмену поставки после её регистрации и до передачи статуса `80`.\n\nЧтобы передать отмену поставки, используйте метод [POST /InboundCancel](#operation/InboundCancel).\n\nОтменить поставки с типами `drop-off` и `pick-up` можно с причинами:\n\n- `1` — drop-off пункт закрыт;\n- `2` — поставка утеряна;\n- `3` — продавец не забрал поставку у курьера;\n- `5` — проблема с документами для бондового склада.\n\nПоставки с типом `direct` можно отменить только с причиной `5`.\n\n## Работа с отгрузками\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/working_with_out_1740589006.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/working_with_out_1740589006.png\"></a>\n\n1. Клиент заказывает товар на Ozon и полностью оплачивает его.\n2. Ozon собирает данные об отгрузке для регистрации на складе.\n3. С помощью метода [GET /OutboundsToRegister](#operation/Register) склад получает информацию об отгрузках.\n4. С помощью метода [Get /SellerInfo](#operation/SellerInfo) склад может получить информацию о продавце, чьи товары в отгрузке.\n\n   Вместе с основной информацией о продавце передаётся его статус:\n   - `1` — продавец может делать поставки и отгрузки;\n   - `2` — склад не разрешает работать с продавцом.\n\n   Склад может изменить статус продавца с помощью метода [POST /SellerStatus](#operation/SellerStatus).\n5. С помощью метода [GET /SkuByOzonSkuId](#operation/SkuByOzonSkuIds) склад может получить информацию о товарах в отгрузке.\n6. С помощью метода [POST /OutboudRegistrationResponse](#operation/RegistrationResponse) склад меняет статус отгрузки, в зависимости от готовности её принять, на «Подтверждена» или «Отклонена». Для последнего статуса указывается одна из причин:\n   - `1` — недостаточно запаса;\n   - `2` — склад закрыт на выезд;\n   - `3` — вес отправления превышает максимальный;\n   - `4` — объём отправления превышает максимальный;\n   - `5` — длина отправления превышает максимальное значение;\n   - `6` — высота отправления превышает максимальное значение;\n   - `7` — ширина отправления превышает максимальное значение;\n   - `8` — продавец заблокирован;\n   - `9` — техническая ошибка: склад не может получить данные, например, артикул или данные о продавце;\n   - `10` — подозрение на коммерческую партию.\n\n   Если причина отклонения `1` или `10`, отгрузка будет автоматически отменена.\n\n   Если выбрана другая причина, менеджер поддержки Ozon либо отменит отгрузку вручную, либо отправит её на перерегистрацию. Отгрузку на перерегистрации можно найти с помощью метода [GET /OutboundsToRegister](#operation/Register). После подтверждения или отклонения регистрации отгрузки, информация о ней удаляется из этого метода.\n\n7. Склад начинает физическую сборку на складе и в методе [POST /OutboundWarehouseStatuses](#operation/WarehouseStatuses) передаёт обязательные актуальные статусы:\n- `104` — началась сборка отгрузки;\n- `105` — отгрузка собрана и готова к передаче в транспортную компанию.\n\nС помощью метода [GET /OutboundsWarehouseStatuses](#operation/WarehouseStatus) склад может получить все статусы по отгрузке.\n\n8. После передачи в методе [POST /OutboundWarehouseStatuses](#operation/WarehouseStatus) статуса `105`, склад передаёт отгрузку 3PL-провайдеру. Затем отгрузка перейдёт в [API Logistic Platform](https://docs.ozon.ru/api/logistic-platform/#tag/Intro), и 3PL-провайдер сможет получить её с помощью метода [GET /NewParcels](https://docs.ozon.ru/api/logistic-platform/#operation/GetNewPracelsV2). После передачи провайдеру отгрузки склад может отправить необязательный статус `106` с помощью метода [POST /OutboundWarehouseStatuses](#operation/WarehouseStatuses).\n\n### Отмена отгрузки Ozon\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/cancel_shipments_ozon_1741865954.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/cancel_shipments_ozon_1741865954.png\"></a>\n\nСклад получает информацию об отмене отгрузки со стороны Ozon с помощью метода [GET /OutboundsToCancelByOzon](#operation/CancelByOzon).\nЧтобы подтвердить отмену, с помощью метода [POST /OutboundCancelResponse](#operation/CancelResponse) склад передаёт ответ `1 — принята`.\n\n### Отмена отгрузки складом\n\n<a href=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/cancel_shipments_warehouse_1741865959.png\" target=\"_blank\"><img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/fpb-api/cancel_shipments_warehouse_1741865959.png\"></a>\n\nСклад может передать отмену отгрузки после её регистрации и до передачи статуса `105`.\n\nДля этого склад в методе [POST /OutboundCancel](#operation/OutboundCancel) передаёт `CancelReasonId`:\n- `1` — постинг утерян;\n- `2` — товар повреждён;\n- `3` — недостаточно товара;\n- `4` — подозрение на коммерческую партию;\n- `5` — продавец запросил отмену.\n\n## Изменение стока\n\nСток мог измениться после принятия поставки и внутренних движений остатков на складе.\n\n### Поставка принята\n\nПриёмка на складе завершена, когда статус поставки меняется на 90. Он передаётся через метод [POST/InboundStatus](/#operation/InboundStatuses) вместе с результатами поставки. Это автоматически обновляет остатки на стороне Ozon, поэтому отдельно передавать изменения через метод Post/StockChange не нужно.\n\n[Подробнее о статусе поставок](/#tag/Inbound-Statuses-Model)\n\n### Изменилось количество остатков на складе\n\nС помощью метода [POST/StockChange](/#operation/StockChange) вы можете:\n- увеличить количество доступного к продаже стока — передайте StockChangeReasonId: 2;\n- уменьшить количество доступного к продаже стока — передайте StockChangeReasonId: 10;\n- изменить статус доступного к продаже стока — передайте StockChangeReasonId: 3;\n- зафиксировать списание или утилизацию — передайте StockChangeReasonId: 4.\n\nПомимо StockChangeReasonId укажите значения Stock status prev и Stock status new. Возможные значения:\n- 1 — годный товар, принят;\n- 2 — бракованный продавцом товар;\n- 3 — бракованный складом товар;\n- 4 — потерян.\n\n**Правила соотнесения StockChangeReasonId и Stock status prev или Stock status new в методе [POST/StockChange](#operation/StockChange)**\n\n| StockChangeReasonId | Описание                                          | Stock status prev | Stock status new | Комментарий                                           |\n|---------------------|---------------------------------------------------|------------------|-----------------|-------------------------------------------------------|\n| 2                   | Увеличение количества товара после инвентаризации | null             | от 1 до 4       |                                                       |\n| 10                  | Уменьшение количества товара после инвентаризации | от 1 до 4                 | null                |                                                       |\n| 3                   | Статус остатков товара изменён                    | от 1 до 4        | от 1 до 4       | Stock status prev не равен Stock status new. |\n| 4                   | Товар списан или утилизирован                     | от 1 до 4        | null            |                                                       |"
    },
    {
      "name": "News",
      "x-displayName": "Обновления",
      "description": "## 19 февраля 2026\n\n| Метод | Изменение                                                                                                                                                                                                                                          |\n|-------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | В разделах [**Порядок работы с методами → Работа с поставками**](#section/Rabota-s-postavkami) и [**Порядок работы с методами → Работа с отгрузками**](#section/Rabota-s-otgruzkami) добавили информацию о получении и изменении статуса продавца. |\n\n## 5 февраля 2026\n| Метод                                              | Изменение                                                       |\n|----------------------------------------------------|----------------------------------------------------------------------|\n| [GET /OutboundsToRegister](#operation/Register)    | Добавили параметр `outbounds.DestinationCountryCode` в ответ метода. |\n| [GET /SkuByOzonSkuIds](#operation/SkuByOzonSkuIds) | Добавили параметр `Items.Prices` в ответ метода.                     |\n| [POST /SellerStatus](#operation/SellerStatus)      | Добавили метод для передачи статуса допуска продавцов.               |\n\n## 29 октября 2025\n\n| Метод                                                       | Изменение                                                                                                                                                    |\n|-------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                           | В разделе [**Порядок работы с методами → Первичная настройка для FBP API**](#section/Pervichnaya-nastrojka-dlya-FBP-API) обновили информацию о подключении к API. |\n| [DELETE /DropOffPointsLinks](#operation/DropOffPointsLinks) | Добавили метод для удаления привязки drop-off точки к складу.                                                                                                     |\n| [GET /SellerInfo](#operation/SellerInfo)                    | Добавили параметр `Sellers.Country` в ответ метода.                                                                                                                 |\n\n## 22 августа 2025\n\n| Метод                                               | Изменение                                                                                                                                                                                                                                                                           |\n|-----------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /SkuByOzonSkuIds](#operation/SkuByOzonSkuIds)  | Добавили параметр `Items.Availability` в ответ метода.                                                                                                                                                                       |\n| [POST /InboundCancel](#operation/InboundCancel)     | Обновили описание параметра `CancelReasonId` в запросе метода.      |\n| [POST /InboundRegistrationResponse](#operation/InboundRegistrationResponse)| Обновили описание параметра `Inbounds.RegistrationDeclineInfo.RegistrationDeclineReason` в запросе метода.  |\n| [GET /InboundsStatuses](#operation/InboundsStatuses) | Обновили описание параметра `Inbounds.Events.RegistrationDeclineInfo.RegistrationDeclineReason` в ответе метода.  |\n| —                                                   | В разделе [**Порядок работы с методами → Работа с поставками → Отмена поставки складом**](#section/Rabota-s-postavkami) обновили правила отмены для разных типов поставок.|\n\n## 10 июля 2025\n\n| Метод                                                                       | Изменение                                                                                                                                                                                                                                                                                                               |\n|-----------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —                                                                           | • В разделе [**Порядок работы с методами → Работа с поставками**](#section/Rabota-s-postavkami) добавили причину отклонения поставки `15`.<br>• В разделе [**Порядок работы с методами → Работа с отгрузками**](#section/Rabota-s-otgruzkami) добавили причину отклонения отгрузки `10` и причины отмены отгрузки `4` и `5`. |\n| [POST /OutboundRegistrationResponse](#operation/RegistrationResponse)       | Обновили описание параметра `Outbounds.RegistrationDeclineReason` в запросе метода.                                                                                                                                                                                                                                          |\n| [POST /OutboundCancel](#tag/OutboundCancel)                                 | Обновили описание параметра `Outbounds.CancelReasonId` в запросе метода.                                                                                                                                                                                                                                                     |\n| [POST /InboundRegistrationResponse](#operation/InboundRegistrationResponse) | Обновили описание параметра `Inbounds.RegistrationDeclineInfo.RegistrationDeclineReason` в запросе метода.                                                                                                                                                                                                                   |\n| [GET /InboundsStatuses](#operation/InboundsStatuses)                        | Обновили описание параметров `Inbounds.Events.RegistrationDeclineInfo.RegistrationDeclineReason` и `Inbounds.Events.CancelReasonId` в ответе метода.                                                                                                                                                                         |\n| [POST /InboundCancel](#operation/InboundCancel)                             | Обновили описание параметра `CancelReasonId` в запросе метода.                                                                                                                                                                                                                                                               |\n| [POST /StockChange](#tag/Stock)                                             | Обновили пример запроса.                                                                                                                                                                                                                                                                                                     |\n\n## 28 марта 2025\n\n| Метод                                                                                                                        | Изменение                                                                                                                                                                                                                                                          |\n|------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /InboundsToRegister](#operation/InboundsToRegister) <br> [GET /InboundsByWarehouseId](#operation/InboundsByWarehouseID) | В ответе метода: <br> • добавили параметр `Inbounds.OzonInboundBarcode`; <br> • обновили описание параметра `Inbounds.InboundType`.                                                                                                                                     |\n| [POST /InboundRegistrationResponse](#operation/InboundRegistrationResponse)                                                  | В запросе метода: <br>  • добавили параметр `Inbounds.OzonInboundBarcode`;  <br> • обновили описание параметра `Inbounds.RegistrationDeclineInfo.RegistrationDeclineReason`.                                                                                            |\n| [POST /InboundStatuses](#operation/InboundStatuses)                                                                          | Добавили параметр `Inbounds.OzonInboundBarcode` в запрос метода.                                                                                                                                                                                                        |\n| [GET /InboundsStatuses](#operation/InboundsStatuses)                                                                         | Добавили параметр `ozonInboundBarcodes` в запрос метода. <br> Добавили параметр `Inbounds.OzonInboundBarcode` в ответ метода. <br> Обновили описание параметров `Inbounds.Events.CancelReasonId` и `Inbounds.Events.RegistrationDeclineInfo.RegistrationDeclineReason`. |\n| [GET /StockBySku](#operation/StockBySKU)                                                                                     | Добавили параметры `ActualStock.Outbounds`, `ActualStock.Outbounds.OzonOutboundId` и `ActualStock.Outbounds.Quantity` в ответ метода.                                                                                                                                   |\n| [POST /InboundCancel](#operation/InboundCancel)                                                                              | Обновили описание параметра `CancelReasonId` в запросе метода.                                                                                                                                                                                                          |\n| —                                                                                                                            | В разделе [**Статусы отгрузки**](#tag/Outbound-Statuses-Model) добавили статус `202`.                                                                                                                                                                                   |\n\n## 27 марта 2025\n\n| Метод | Изменение                                                                                                                                                                       |\n|-------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | Добавили схемы в раздел **Порядок работы с методами**: <br> • [работа с поставками](#section/Rabota-s-postavkami), <br> • отмена поставки продавцом, <br> • отмена поставки складом. |\n\n## 20 марта 2025\n\n| Метод | Изменение                                                                       |\n|-------|--------------------------------------------------------------------------------------|\n| —     | Добавили статью [Изменение стока](#section/Izmenenie-stoka) в раздел **Порядок работы с методами**. |\n\n## 19 марта 2025\n\n| Метод | Изменение                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n|-------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —     | Добавили схемы работы в раздел **Порядок работы с методами**: <br> • [Первичная настройка для FBP API](#section/Pervichnaya-nastrojka-dlya-FBP-API) <br> • [Работа с отгрузками](#section/Rabota-s-otgruzkami) <br> • [Отмены отгрузок со стороны Ozon](#section/Otmena-otgruzki-Ozon) <br> • [Отмены отгрузок со стороны склада](#section/Otmena-otgruzki-skladom) |\n\n## 20 декабря 2024\n\n| Метод                                                                                                      | Изменение                                 |\n|------------------------------------------------------------------------------------------------------------|------------------------------------------------|\n| [GET /DropOffPoints](#operation/GetDropOffPoints) <br> [POST /DropOffPoints](#operation/PostDropOffPoints) |  Добавили методы для работы с пунктами приёма. | \n\n## 19 декабря 2024\n\n| Метод                                                                                                                                                                                      | Изменение                                                        |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------|\n| [POST /InboundCancel](#operation/InboundCancel) <br> [GET /InboundsToCancelByOzon](#operation/InboundsToCancelByOzon) <br> [POST /InboundCancelResponse](#operation/InboundCancelResponse) | Добавили методы для отмены поставок.                                  |\n| —                                                                                                                                                                                          | Добавили раздел [**Статусы поставки**](#tag/Inbound-Statuses-Model).  |\n\n## 13 декабря 2024\n\n| Метод                                                                                                  | Изменение                                                                                                                                                                                                                                                                                              |\n|--------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [GET /InboundsStatuses](#operation/InboundsStatuses )                                                  | В ответе метода: <br> • Добавили параметры `Inbounds.Events.RegistrationDeclineInfo.RegistrationDeclineReason`, `Inbounds.Events.CancelReasonId`, `Inbounds.Events.FulfillmentIInboundCancelStatusId` и `Inbounds.Events.FulfillmentInboundCancelDescription`. <br> • Обновили описание параметра `Inbounds.Events.InboundStatus`. |                                                       |\n| [GET /InboundsToRegister](#operation/InboundsToRegister)                                               | Добавили параметры `Inbounds.AdditionalInfo.PickupAddress`, `Inbounds.AdditionalInfo.SenderName`, `Inbounds.AdditionalInfo.SenderPhone` и `Inbounds.AdditionalInfo.Comment` в ответе метода.                                                                                                                |\n| [GET /InboundsByWarehouseId](#operation/InboundsByWarehouseID )                                        | Добавили параметры `Inbounds.InboundDeliveryInfo.PickupAddress`, `Inbounds.InboundDeliveryInfo.SenderName`, `Inbounds.InboundDeliveryInfo.SenderPhone` и `Inbounds.InboundDeliveryInfo.Comment` в ответе метода.                                                                                            |\n| [POST /StockChange](#operation/StockChange)                                                            | Обновили описание параметра `Stock.StockChangeReasonId` в запросе метода.                                                                                                                                                                                                                                   |\n| [POST /InboundRegistrationResponse](#operation/InboundRegistrationResponse)                            | Добавили параметр `Inbounds.RegistrationDeclineReasons` в запросе метода.                                                                                                                                                                                                                                   |\n\n## 21 октября 2024\n\n| Метод                                                                                                                                                                                                        | Изменение                                                |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------|\n| [GET /InboundsByWarehouseId](#operation/InboundsByWarehouseID)<br> [GET /InboundsToRegister](#operation/InboundsToRegister) <br> [POST /InboundRegistrationResponse](#operation/InboundRegistrationResponse) | Добавили методы для получения информации о поставках.         |\n| [GET /InboundsStatuses](#operation/InboundsStatuses) <br> [POST /InboundStatuses](#tag/InboundStatuses)                                                                                                      | Добавили методы для получения информации о трекинге поставок. |"
    },
    {
      "name": "Authorization",
      "x-displayName": "Токен для доступа"
    },
    {
      "name": "DropOff",
      "x-displayName": "Пункты приёма"
    },
    {
      "name": "Inbound",
      "x-displayName": "Информация о поставках"
    },
    {
      "name": "Outbound",
      "x-displayName": "Информация об отгрузках"
    },
    {
      "name": "InboundCancel",
      "x-displayName": "Отмены поставок"
    },
    {
      "name": "OutboundCancel",
      "x-displayName": "Отмены отгрузок"
    },
    {
      "name": "InboundStatuses",
      "x-displayName": "Трекинг поставок"
    },
    {
      "name": "OutboundStatuses",
      "x-displayName": "Трекинг отгрузок"
    },
    {
      "name": "Seller",
      "x-displayName": "Информация о продавце"
    },
    {
      "name": "Sku",
      "x-displayName": "Информация о SKU"
    },
    {
      "name": "Stock",
      "x-displayName": "Остатки"
    },
    {
      "name": "Inbound Statuses Model",
      "x-displayName": "Статусы поставки",
      "description": "| Статус | Описание                                              |\n|--------|-------------------------------------------------------|\n| 10     | Поставка готова к регистрации, ожидает ответа склада. |\n| 20     | Склад зарегистрировал поставку.                       |\n| 30     | Склад отказал в регистрации поставки.                 |\n| 40     | Курьер назначен.                                      |\n| 50     | Курьер забрал поставку.                               |\n| 60     | Поставка принята в drop-off пункте.                   |\n| 70     | Поставка в транзите.                                  |\n| 80     | Склад начал приёмку поставки.                         |\n| 90     | Приёмка на складе завершена.                          |"
    },
    {
      "name": "Outbound Statuses Model",
      "x-displayName": "Статусы отгрузки",
      "description": "| Статус | Описание                                                                                         |\n|--------|--------------------------------------------------------------------------------------------------|\n| 101    | Новая отгрузка, готовая к регистрации.                                                           |\n| 102    | Склад зарегистрировал отгрузку и скоро начнёт сборку.                                            |\n| 103    | Склад отказал в регистрации отгрузки.                                                            |\n| 104    | Началась сборка отгрузки.                                                                        |\n| 105    | Отгрузка собрана и готова к передаче в транспортную компанию.                                    |\n| 106    | Отгрузка передана в транспортную компанию.                                                       |\n| 200    | Отгрузка отменена со стороны склада.                                                             |\n| 201    | Отгрузка отменена со стороны Ozon, ожидает ответа склада.                                        |\n| 202    | Отгрузка отменена со стороны Ozon во время регистрации на складе или после отказа в регистрации. |"
    },
    {
      "name": "ErrorCodes",
      "x-displayName": "Коды ошибок",
      "description": "| Код | Текст сообщения\t                     | Описание                                                                                                                    |\n|-----|--------------------------------------|-----------------------------------------------------------------------------------------------------------------------------|\n| 500 | Operation failed.  | Ошибка на стороне серверов Ozon.                                                                                            |\n| 404 | Data not found.\t                     | Данные по запросу не найдены.                                                                                               |\n| 401 | Access denied.    | Доступ запрещён. Токен авторизации отсутствует или просрочен.                                                               |\n| 400 | Validation error.  | Неверный входящий параметр. Ошибка возвращается если обязательный параметр не заполнен или заполнен некорректным значением. |\n| 403 | Permission denied.  | У пользователя нет прав, чтобы выполнить операцию. Обратитесь к своему менеджеру Ozon или в чат поддержки.                  | "
    }
  ],
  "paths": {
    "/AuthToken": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Получить токены авторизации",
        "operationId": "Token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.AuthTokenRequest"
              },
              "example": {
                "ClientId": "dc146622-d5da-418e-b4b0-f3a5faa4f20b",
                "ClientSecret": "Jjhg65HKL8097ghgfYU"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Токен создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.AuthTokenResponse"
                },
                "example": {
                  "AuthToken": "",
                  "Errors": []
                }
              }
            }
          }
        }
      }
    },
    "/DropOffPoints": {
      "get": {
        "tags": [
          "DropOff"
        ],
        "summary": "Получить список пунктов приёма",
        "operationId": "GetDropOffPoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "name": "fulfillmentDropOffCode",
            "description": "Идентификатор drop-off пункта в системе склада.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ozonWarehouseId",
            "description": "Идентификатор склада в системе Ozon.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "paging.number",
            "description": "Номер страницы.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.size",
            "description": "Количество элементов на странице.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.orderDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Common.DirectionDropOff"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список пунктов приёма",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.GetDropOffPointsResponse"
                },
                "example": {
                  "DropOffPoints": [
                    {
                      "FulfillmentDropOffCode": "T1",
                      "OzonWarehouseList": [
                        1020009620003616,
                        1020001960006963
                      ],
                      "AddressDescriptions": {
                        "chi": {
                          "AddressString": "中国广东省广州市越秀区联新路8号",
                          "HowToGet": "HowToGet"
                        },
                        "eng": {
                          "AddressString": "shenzhen，baoan，chayeyuan，3L",
                          "HowToGet": "HowToGet"
                        }
                      },
                      "Latitude": 22.578017,
                      "Longitude": 114.03818,
                      "Schedule": [
                        {
                          "Day": 1,
                          "IsHoliday": false,
                          "FromTime": "16:00",
                          "ToTime": "17:00",
                          "BreakFromTime": "12:00",
                          "BreakToTime": "12:30"
                        },
                        {
                          "Day": 2,
                          "IsHoliday": false,
                          "FromTime": "16:00",
                          "ToTime": "17:00",
                          "BreakFromTime": null,
                          "BreakToTime": null
                        },
                        {
                          "Day": 3,
                          "IsHoliday": false,
                          "FromTime": "16:00",
                          "ToTime": "17:00",
                          "BreakFromTime": null,
                          "BreakToTime": null
                        },
                        {
                          "Day": 4,
                          "IsHoliday": false,
                          "FromTime": "16:00",
                          "ToTime": "17:00",
                          "BreakFromTime": "12:00",
                          "BreakToTime": "12:30"
                        },
                        {
                          "Day": 5,
                          "IsHoliday": false,
                          "FromTime": "16:00",
                          "ToTime": "17:00",
                          "BreakFromTime": "12:00",
                          "BreakToTime": "12:30"
                        },
                        {
                          "Day": 6,
                          "IsHoliday": true,
                          "FromTime": "16:00",
                          "ToTime": "17:00",
                          "BreakFromTime": null,
                          "BreakToTime": null
                        },
                        {
                          "Day": 7,
                          "IsHoliday": true,
                          "FromTime": "16:00",
                          "ToTime": "17:00",
                          "BreakFromTime": null,
                          "BreakToTime": null
                        }
                      ],
                      "IsActive": true
                    }
                  ],
                  "Errors": []
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.GetDropOffPointsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.GetDropOffPointsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DropOff"
        ],
        "summary": "Создать пункты приёма",
        "operationId": "PostDropOffPoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.DropOffPoints.AddOrUpdateDropOffPointsRequest"
              },
              "example": {
                "DropOffPoints": [
                  {
                    "FulfillmentDropOffCode": "T1",
                    "OzonWarehouseList": [
                      1020009620003616,
                      1020001960006963
                    ],
                    "AddressDescriptions": {
                      "chi": {
                        "Address": "中国广东省广州市越秀区联新路8号",
                        "HowToGet": "HowToGet"
                      },
                      "eng": {
                        "Address": "shenzhen，baoan，chayeyuan，3L",
                        "HowToGet": "HowToGet"
                      }
                    },
                    "Latitude": 29.2,
                    "Longitude": -110.25,
                    "Schedule": [
                      {
                        "Day": 1,
                        "IsHoliday": true,
                        "FromTime": "00:00",
                        "ToTime": "23:59",
                        "BreakFromTime": "00:00",
                        "BreakToTime": "00:30"
                      },
                      {
                        "Day": 2,
                        "IsHoliday": true,
                        "FromTime": "00:00",
                        "ToTime": "23:59",
                        "BreakFromTime": "00:00",
                        "BreakToTime": "00:30"
                      },
                      {
                        "Day": 3,
                        "IsHoliday": true,
                        "FromTime": "00:00",
                        "ToTime": "23:59",
                        "BreakFromTime": "00:00",
                        "BreakToTime": "00:30"
                      },
                      {
                        "Day": 4,
                        "IsHoliday": true,
                        "FromTime": "00:00",
                        "ToTime": "23:59"
                      },
                      {
                        "Day": 5,
                        "IsHoliday": true,
                        "FromTime": "00:00",
                        "ToTime": "23:59"
                      },
                      {
                        "Day": 6,
                        "IsHoliday": true,
                        "FromTime": "00:00",
                        "ToTime": "23:59"
                      },
                      {
                        "Day": 7,
                        "IsHoliday": true,
                        "FromTime": "00:00",
                        "ToTime": "23:59",
                        "BreakFromTime": "00:00",
                        "BreakToTime": "00:30"
                      }
                    ],
                    "IsActive": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Пункт приёма создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.AddOrUpdateDropOffPointsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.AddOrUpdateDropOffPointsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.AddOrUpdateDropOffPointsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DropOffPointsLinks": {
      "delete": {
        "tags": [
          "DropOff"
        ],
        "summary": "Удалить привязку drop-off точки к складу",
        "operationId": "DropOffPointsLinks",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.DropOffPoints.DeleteDropOffPointsLinksRequest"
              },
              "example": {
                "DropOffLinks": [
                  {
                    "OzonWarehouseId": 1020009620003616,
                    "FulfillmentDropOffCode": "T1"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Привязка удалена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.DeleteDropOffPointsLinksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.DeleteDropOffPointsLinksResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.DropOffPoints.DeleteDropOffPointsLinksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundsToRegister": {
      "get": {
        "tags": [
          "Inbound"
        ],
        "summary": "Получить список поставок для регистрации",
        "operationId": "InboundsToRegister",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "name": "OzonWarehouseId",
            "in": "query",
            "required": true,
            "description": "Идентификатор склада в системе Ozon.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "paging.number",
            "in": "query",
            "description": "Номер страницы.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.size",
            "in": "query",
            "description": "Количество элементов на странице.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.orderDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Common.Direction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список поставок",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsToRegisterResponse"
                },
                "example": {
                  "Inbounds": [
                    {
                      "OzonInboundId": 2000012345678,
                      "OzonInboundBarcode": "2000012345678",
                      "OzonSellerId": 123456,
                      "InboundType": 2,
                      "OzonWarehouseId": 1010123456789001,
                      "CargoPlaces": 1,
                      "RegistrationReadyTime": "2024-10-09T10:15:22.340134Z",
                      "TimeslotFrom": "2024-10-09T00:00:00Z",
                      "TimeslotTo": "2024-10-09T23:59:59.999999Z",
                      "AdditionalInfo": {
                        "FulfillmentDropOffCode": "FulfillmentDropOffCodeName"
                      },
                      "InboundContent": [
                        {
                          "OzonSkuId": 12345678,
                          "DeclaredSkuAmount": 1
                        }
                      ],
                      "TotalSkuInboundWeightKg": 0.4,
                      "TotalSkuInboundVolumeL": 7
                    },
                    {
                      "OzonInboundId": 2000012345679,
                      "OzonInboundBarcode": "10825435-0277-1",
                      "OzonSellerId": 123456,
                      "InboundType": 4,
                      "OzonWarehouseId": 1010123456789001,
                      "CargoPlaces": 1,
                      "RegistrationReadyTime": "2024-10-09T13:36:18.470402Z",
                      "TimeslotFrom": "2024-10-09T17:00:00Z",
                      "TimeslotTo": "2024-10-09T18:00:00Z",
                      "AdditionalInfo": null,
                      "InboundContent": [
                        {
                          "OzonSkuId": 12345678,
                          "DeclaredSkuAmount": 1
                        }
                      ],
                      "TotalSkuInboundWeightKg": 0.4,
                      "TotalSkuInboundVolumeL": 7
                    },
                    {
                      "OzonInboundId": 2000018146656,
                      "OzonInboundBarcode": "2000012345678",
                      "OzonSellerId": 123456,
                      "InboundType": 3,
                      "OzonWarehouseId": 1010123456789001,
                      "CargoPlaces": 2,
                      "RegistrationReadyTime": "2024-12-03T14:19:35.514277Z",
                      "TimeslotFrom": "2024-11-19T21:00:00Z",
                      "TimeslotTo": "2024-11-20T20:59:00Z",
                      "AdditionalInfo": {
                        "PickupAddress": "Pickup Address",
                        "SenderName": "Sender Name",
                        "SenderPhone": "Phone number",
                        "Comment": "Courier comment"
                      },
                      "InboundContent": [
                        {
                          "OzonSkuId": 123456781,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456782,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456783,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456784,
                          "DeclaredSkuAmount": 1
                        }
                      ],
                      "TotalSkuInboundWeightKg": 1.6,
                      "TotalSkuInboundVolumeL": 28
                    }
                  ],
                  "Errors": []
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsToRegisterResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsToRegisterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundRegistrationResponse": {
      "post": {
        "tags": [
          "Inbound"
        ],
        "summary": "Установить статус регистрации поставки",
        "operationId": "InboundRegistrationResponse",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Inbounds.SaveInboundRegistrationResponseRequest.SaveInboundRegistrationResponseRequest"
              },
              "examples": {
                "InboundRegistrationStatusOK": {
                  "summary": "Регистрация поставки подтверждена",
                  "value": {
                    "Inbounds": [
                      {
                        "OzonInboundId": 1000011223344,
                        "InboundRegistrationStatus": 1
                      },
                      {
                        "OzonInboundBarcode": "10825435-0277-1",
                        "InboundRegistrationStatus": 1
                      }
                    ]
                  }
                },
                "InboundRegistrationStatusDecline1": {
                  "summary": "Регистрация поставки отклонена — товар запрещённой категории и превышен лимит грузовых мест",
                  "value": {
                    "OzonInboundId": 1000011223344,
                    "InboundRegistrationStatus": 2,
                    "RegistrationDeclineInfo": [
                      {
                        "RegistrationDeclineReason": 1,
                        "RegistrationDeclineDescription": "Test"
                      },
                      {
                        "RegistrationDeclineReason": 4,
                        "RegistrationDeclineDescription": "Test"
                      }
                    ],
                    "InvalidSkus": [
                      {
                        "OzonSkuId": 1122334455,
                        "InvalidSkuReason": 3
                      }
                    ]
                  }
                },
                "InboundRegistrationStatusDecline2": {
                  "summary": "Регистрация поставки отклонена — превышены габариты товара и склад не получил дополнительную информацию",
                  "value": {
                    "OzonInboundId": 1000011223344,
                    "InboundRegistrationStatus": 2,
                    "RegistrationDeclineInfo": [
                      {
                        "RegistrationDeclineReason": 2,
                        "RegistrationDeclineDescription": "Test"
                      },
                      {
                        "RegistrationDeclineReason": 10,
                        "RegistrationDeclineDescription": "Test"
                      }
                    ],
                    "InvalidSkus": [
                      {
                        "OzonSkuId": 1122334455,
                        "InvalidSkuReason": 2
                      }
                    ]
                  }
                },
                "InboundRegistrationStatusDecline3": {
                  "summary": "Регистрация поставки отклонена — превышены габариты товара и склад не смог создать SKU",
                  "value": {
                    "OzonInboundId": 1000011223344,
                    "InboundRegistrationStatus": 2,
                    "RegistrationDeclineInfo": [
                      {
                        "RegistrationDeclineReason": 11,
                        "RegistrationDeclineDescription": "Test"
                      },
                      {
                        "RegistrationDeclineReason": 2,
                        "RegistrationDeclineDescription": "Test"
                      }
                    ],
                    "InvalidSkus": [
                      {
                        "OzonSkuId": 1122334455,
                        "InvalidSkuReason": 4
                      },
                      {
                        "OzonSkuId": 1122334466,
                        "InvalidSkuReason": 1
                      },
                      {
                        "OzonSkuId": 1122334466,
                        "InvalidSkuReason": 2
                      },
                      {
                        "OzonSkuId": 1122334466,
                        "InvalidSkuReason": 5
                      }
                    ]
                  }
                },
                "InboundRegistrationStatusDecline4": {
                  "summary": "Регистрация поставки отклонена — склад не получил дополнительную информацию и не смог создать SKU",
                  "value": {
                    "OzonInboundId": 1000011223344,
                    "InboundRegistrationStatus": 2,
                    "RegistrationDeclineInfo": [
                      {
                        "RegistrationDeclineReason": 11,
                        "RegistrationDeclineDescription": "Test"
                      },
                      {
                        "RegistrationDeclineReason": 10,
                        "RegistrationDeclineDescription": "Test"
                      }
                    ],
                    "InvalidSkus": [
                      {
                        "OzonSkuId": 1122334455,
                        "InvalidSkuReason": 4
                      },
                      {
                        "OzonSkuId": 1122334466,
                        "InvalidSkuReason": 4
                      },
                      {
                        "OzonSkuId": 1122334466,
                        "InvalidSkuReason": 5
                      },
                      {
                        "OzonSkuId": 1122334488,
                        "InvalidSkuReason": 5
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус установлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.SaveInboundRegistrationResponseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.SaveInboundRegistrationResponseResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.SaveInboundRegistrationResponseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundsByWarehouseId": {
      "get": {
        "tags": [
          "Inbound"
        ],
        "summary": "Получить информацию о поставке",
        "operationId": "InboundsByWarehouseID",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "description": "Дата начала периода в формате UTC. Например, `2024-06-06T09:07:35.880Z`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": true,
            "description": "Дата окончания периода в формате UTC. Например, 2024-06-06T15:07:35.880Z.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OzonWarehouseId",
            "in": "query",
            "required": true,
            "description": "Идентификатор склада в системе Ozon.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о поставке",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsByWarehouseIdResponse"
                },
                "example": {
                  "Inbounds": [
                    {
                      "OzonInboundId": 2000012345679,
                      "OzonInboundBarcode": "2000012345679",
                      "OzonSellerId": 123456,
                      "InboundType": 2,
                      "OzonWarehouseId": 1010123456789001,
                      "CargoPlaces": 11,
                      "UpdatedAt": "2024-10-10T08:59:11.947577Z",
                      "TimeslotFrom": "2024-11-10T00:00:00Z",
                      "TimeslotTo": "2024-11-10T23:59:59.999999Z",
                      "InboundDeliveryInfo": {
                        "FulfillmentDropOffCode": "FulfillmentDropOffCodeName"
                      },
                      "InboundContent": [
                        {
                          "OzonSkuId": 12345678,
                          "DeclaredSkuAmount": 1
                        }
                      ],
                      "TotalSkuInboundWeightKg": 4.4,
                      "TotalSkuInboundVolumeL": 77
                    },
                    {
                      "OzonInboundId": 2000012345679,
                      "OzonInboundBarcode": "2000012345679",
                      "OzonSellerId": 123456,
                      "InboundType": 3,
                      "OzonWarehouseId": 1010123456789001,
                      "CargoPlaces": 2,
                      "RegistrationReadyTime": "2024-12-03T14:19:35.514277Z",
                      "TimeslotFrom": "2024-11-19T21:00:00Z",
                      "TimeslotTo": "2024-11-20T20:59:00Z",
                      "InboundDeliveryInfo": {
                        "PickupAddress": "Pickup Address",
                        "SenderName": "Sender Name",
                        "SenderPhone": "Phone number",
                        "Comment": "Courier comment"
                      },
                      "InboundContent": [
                        {
                          "OzonSkuId": 123456781,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456782,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456783,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456784,
                          "DeclaredSkuAmount": 1
                        }
                      ],
                      "TotalSkuInboundWeightKg": 1.6,
                      "TotalSkuInboundVolumeL": 28
                    },
                    {
                      "OzonInboundId": 2000012345679,
                      "OzonInboundBarcode": "10825435-0277-1",
                      "OzonSellerId": 123456,
                      "InboundType": 4,
                      "OzonWarehouseId": 1010123456789001,
                      "CargoPlaces": 2,
                      "RegistrationReadyTime": "2024-12-03T14:19:35.514277Z",
                      "TimeslotFrom": "2024-11-19T21:00:00Z",
                      "TimeslotTo": "2024-11-20T20:59:00Z",
                      "InboundDeliveryInfo": null,
                      "InboundContent": [
                        {
                          "OzonSkuId": 123456781,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456782,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456783,
                          "DeclaredSkuAmount": 1
                        },
                        {
                          "OzonSkuId": 123456784,
                          "DeclaredSkuAmount": 1
                        }
                      ],
                      "TotalSkuInboundWeightKg": 1.6,
                      "TotalSkuInboundVolumeL": 28
                    }
                  ],
                  "Errors": []
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsByWarehouseIdResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsByWarehouseIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundCancel": {
      "post": {
        "tags": [
          "InboundCancel"
        ],
        "summary": "Отменить поставку",
        "operationId": "InboundCancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Inbounds.CancelInboundByTpfRequest"
              },
              "example": {
                "OzonInboundId": 6600014237839,
                "CancelReasonId": 2,
                "TimeStamp": "2024-10-29T12:19:00.710Z",
                "FulfillmentInboundCancelStatusId": "FulfillmentInboundCancelStatusId",
                "FulfillmentInboundCancelDescription": "FulfillmentInboundCancelDescription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Поставка отменена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.CancelInboundByTpfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.CancelInboundByTpfResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.CancelInboundByTpfResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundsToCancelByOzon": {
      "get": {
        "tags": [
          "InboundCancel"
        ],
        "summary": "Получить список отменённых поставок",
        "operationId": "InboundsToCancelByOzon",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "name": "paging.number",
            "description": "Номер страницы.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.size",
            "description": "Количество элементов на странице.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.orderDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Common.DirectionInbound"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список поставок для отмены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsToCancelByOzonResponse"
                },
                "example": {
                  "InboundsToCancelByOzon": [
                    {
                      "OzonInboundId": 22988967084,
                      "TimeStamp": "2024-10-29T11:15:44.937Z"
                    },
                    {
                      "OzonInboundId": 6775700307,
                      "TimeStamp": "2024-10-29T12:06:41.657Z"
                    },
                    {
                      "OzonInboundId": 674947678983,
                      "TimeStamp": "2024-10-29T12:12:11.438Z"
                    }
                  ],
                  "Errors": []
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsToCancelByOzonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundsToCancelByOzonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundCancelResponse": {
      "post": {
        "tags": [
          "InboundCancel"
        ],
        "summary": "Установить статус отмены поставки",
        "operationId": "InboundCancelResponse",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Inbounds.InboundCancelResponseRequest.InboundCancelResponseRequest"
              },
              "example": {
                "OzonInboundId": 674947678983,
                "CancelState": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус установлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.InboundCancelResponseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.InboundCancelResponseResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.InboundCancelResponseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundStatuses": {
      "post": {
        "tags": [
          "InboundStatuses"
        ],
        "summary": "Установить статус поставки",
        "operationId": "InboundStatuses",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.InboundStatuses.AddInboundStatusesRequest"
              },
              "example": {
                "Inbounds": [
                  {
                    "OzonInboundId": 2000012345679,
                    "Events": [
                      {
                        "InboundAcceptanceStatus": 70,
                        "FulfillmentStatusCode": "FulfillmentStatusCode",
                        "FulfillmentStatusDescription": "FulfillmentStatusDescription",
                        "TimeStamp": "2024-10-09T10:22:35.054Z"
                      }
                    ],
                    "AcceptanceResult": [
                      {
                        "OzonSkuId": 12345678,
                        "InboundValueFact": 1,
                        "StockStatus": 1
                      }
                    ]
                  },
                  {
                    "OzonInboundBarcode": "10825435-0277-1",
                    "Events": [
                      {
                        "InboundAcceptanceStatus": 80,
                        "FulfillmentStatusCode": "FulfillmentStatusCode",
                        "FulfillmentStatusDescription": "FulfillmentStatusDescription",
                        "TimeStamp": "2024-10-09T10:22:35.054Z"
                      }
                    ],
                    "AcceptanceResult": [
                      {
                        "OzonSkuId": 12345678,
                        "InboundValueFact": 1,
                        "StockStatus": 1
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус установлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.InboundStatuses.AddInboundStatusesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.InboundStatuses.AddInboundStatusesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.InboundStatuses.AddInboundStatusesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InboundsStatuses": {
      "get": {
        "tags": [
          "InboundStatuses"
        ],
        "summary": "Получить статусы поставки",
        "operationId": "InboundsStatuses",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "name": "ozonInboundIds",
            "in": "query",
            "required": false,
            "description": "Идентификатор поставки в системе Ozon.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "ozonInboundBarcodes",
            "in": "query",
            "required": false,
            "description": "Штрихкод поставки в системе Ozon.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус поставки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundStatusesResponse"
                },
                "example": {
                  "Inbounds": [
                    {
                      "OzonInboundId": 2000012345679,
                      "OzonInboundBarcode": "10825435-0277-1",
                      "InboundType": 2,
                      "Events": [
                        {
                          "InboundStatus": 10,
                          "RegistrationDeclineInfo": [
                            {
                              "RegistrationDeclineReason": null,
                              "RegistrationDeclineDescription": null
                            }
                          ],
                          "FulfilmentStatusCode": null,
                          "FulfilmentStatusDescription": null,
                          "CancelReasonId": null,
                          "FulfillmentIInboundCancelStatusId": null,
                          "FulfillmentInboundCancelDescription": null,
                          "TimeStamp": "2024-10-09T11:18:15.162Z"
                        },
                        {
                          "InboundStatus": 20,
                          "RegistrationDeclineReasons": [
                            {
                              "RegistrationDeclineReason": null,
                              "RegistrationDeclineDescription": null
                            }
                          ],
                          "FulfilmentStatusCode": null,
                          "FulfilmentStatusDescription": null,
                          "CancelReasonId": null,
                          "FulfillmentIInboundCancelStatusId": null,
                          "FulfillmentInboundCancelDescription": null,
                          "TimeStamp": "2024-10-09T14:04:23.849Z"
                        },
                        {
                          "InboundStatus": 60,
                          "RegistrationDeclineReasons": [
                            {
                              "RegistrationDeclineReason": null,
                              "RegistrationDeclineDescription": null
                            }
                          ],
                          "FulfilmentStatusCode": null,
                          "FulfilmentStatusDescription": null,
                          "CancelReasonId": null,
                          "FulfillmentIInboundCancelStatusId": null,
                          "FulfillmentInboundCancelDescription": null,
                          "TimeStamp": "2024-10-10T15:11:17.349Z"
                        },
                        {
                          "InboundStatus": 70,
                          "RegistrationDeclineReasons": [
                            {
                              "RegistrationDeclineReason": null,
                              "RegistrationDeclineDescription": null
                            }
                          ],
                          "FulfilmentStatusCode": null,
                          "FulfilmentStatusDescription": null,
                          "CancelReasonId": null,
                          "FulfillmentIInboundCancelStatusId": null,
                          "FulfillmentInboundCancelDescription": null,
                          "TimeStamp": "2024-10-10T15:11:27.735Z"
                        },
                        {
                          "InboundStatus": 80,
                          "RegistrationDeclineReasons": [
                            {
                              "RegistrationDeclineReason": null,
                              "RegistrationDeclineDescription": null
                            }
                          ],
                          "FulfilmentStatusCode": null,
                          "FulfilmentStatusDescription": null,
                          "CancelReasonId": null,
                          "FulfillmentIInboundCancelStatusId": null,
                          "FulfillmentInboundCancelDescription": null,
                          "TimeStamp": "2024-10-10T15:11:36.192Z"
                        },
                        {
                          "InboundStatus": 90,
                          "RegistrationDeclineReasons": [
                            {
                              "RegistrationDeclineReason": null,
                              "RegistrationDeclineDescription": null
                            }
                          ],
                          "FulfilmentStatusCode": null,
                          "FulfilmentStatusDescription": null,
                          "CancelReasonId": null,
                          "FulfillmentIInboundCancelStatusId": null,
                          "FulfillmentInboundCancelDescription": null,
                          "TimeStamp": "2024-10-10T15:11:41.555Z"
                        }
                      ],
                      "InboundResult": [
                        {
                          "OzonSkuId": 12345678,
                          "InboundValueFact": 1,
                          "StockStatus": 1
                        }
                      ]
                    }
                  ],
                  "Errors": []
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundStatusesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Inbound.GetInboundStatusesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/OutboundsToRegister": {
      "get": {
        "tags": [
          "Outbound"
        ],
        "summary": "Получить список отгрузок для регистрации",
        "operationId": "Register",
        "parameters": [
          {
            "$ref": "#/components/parameters/Api-Key"
          },
          {
            "name": "OzonWarehouseId",
            "in": "query",
            "description": "Идентификатор склада в системе Ozon.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "outboundType",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Common.OutboundType"
            }
          },
          {
            "name": "paging.number",
            "in": "query",
            "description": "Номер страницы.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.size",
            "in": "query",
            "description": "Количество элементов на странице.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.orderDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Common.Direction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список отправлений для регистрации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.GetOutboundsToRegisterResponse"
                },
                "example": {
                  "outbounds": [
                    {
                      "OzonWarehouseId": 1111111111111111,
                      "OzonOutboundId": "0243533742-0002-3",
                      "OutboundType": 1,
                      "OzonSellerId": "444444",
                      "RegistrationReadyTime": "2024-06-20T12:34:54.588801Z",
                      "OutboundDeadline": "2024-06-20T12:22:03.971564Z",
                      "TransportCompanyName": "Warehouse Logistics",
                      "TotalSkuOutboundWeightG": 50,
                      "TotalSkuOutboundVolumeMm3": 60000,
                      "LabelLink": "https://cdn-stg.ozonru.me/s3/tpf-label-supply/6d88c9775c9c4eb9bae41dffee696fb2",
                      "DestinationCountryCode": "RU",
                      "OutboundContent": [
                        {
                          "OzonSkuId": 1605692505,
                          "Quantity": 1,
                          "BuyerPurchasePriceRub": 300,
                          "StockStatus": 1
                        }
                      ]
                    }
                  ],
                  "TotalCount": 29,
                  "Errors": []
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.GetOutboundsToRegisterResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.GetOutboundsToRegisterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/OutboundRegistrationResponse": {
      "post": {
        "tags": [
          "Outbound"
        ],
        "summary": "Установить статус регистрации отгрузки",
        "operationId": "RegistrationResponse",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Outbounds.RegisterOutboundsRequest"
              },
              "examples": {
                "OutboundRegistrationStatusOK": {
                  "summary": "Регистрация отгрузки подтверждена",
                  "value": {
                    "Outbounds": [
                      {
                        "OzonOutboundId": "0243533742-0002-13",
                        "OutboundRegistrationStatus": 1
                      }
                    ]
                  }
                },
                "OutboundRegistrationStatusDecline": {
                  "summary": "Регистрация отгрузки отклонена",
                  "value": {
                    "Outbounds": [
                      {
                        "OzonOutboundId": "0243533742-0007-1",
                        "OutboundRegistrationStatus": 2,
                        "RegistrationDeclineReason": 1,
                        "RegistrationDeclineDescription": "Test"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Статус регистрации отправления установлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.RegisterOutboundsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.RegisterOutboundsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.RegisterOutboundsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/OutboundCancel": {
      "post": {
        "tags": [
          "OutboundCancel"
        ],
        "summary": "Отменить отгрузку",
        "operationId": "OutboundCancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Outbounds.CancelOutboundsRequest"
              },
              "example": {
                "Outbounds": [
                  {
                    "OzonOutboundId": "0243533742-0002-3",
                    "CancelReasonId": 1,
                    "FulfillmentOutboundCancelStatusId": "100",
                    "FulfillmentOutboundCancelDescription": "Test",
                    "TimeStamp": "2024-07-24T09:04:02.029Z"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Отправление отменено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.CancelOutboundsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.CancelOutboundsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Responses.Outbound.CancelOutboundsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/OutboundsToCancelByOzon": {
      "get": {
        "tags": [
          "OutboundCancel"
        ],
        "summary": "Получить список отменённых отгрузок",
        "operationId": "CancelByOzon",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "name": "paging.number",
            "in": "query",
            "description": "Номер страницы.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.size",
            "in": "query",
            "description": "Количество элементов на странице.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paging.orderDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Ozon.Tpf.ExternalFacade.Models.Requests.Common.Direction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список отправлений для отмены",
            "content": {
              "application/json": {
                "schema": {
[...]
